---
layout:
permalink: /liga-indigo.html
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="blue">


  {% include nav-indigo.html %}


  <div class="container-fluid banner grBlue">
    <div class="container bannerPromo d-flex justify-content-start align-items-center">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
        <h1 class="indigo">LIGA INDIGO</h1>
      </div>
    </div>
  </div>


  <div class="container teams-table d-none d-md-block">
    <h1 class="teams-title">CAMPEONATO</h1>
    {% include cards-teams-icon.html %}
  </div>

  <!-- <div class="container teams-table d-none d-md-block mt-5 mb-5">
    <h1 class="teams-title">MVP´S</h1>
    {% include cards-mvp-icon.html %}

  </div> -->

  <div class="container text-white d-block d-md-none">
    {% include list-mobile.html %} 
  </div>






  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>



  <nav class="navbar solid sticky-bottom navbar-light ">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="item-bar">
        <a href="/liga-indigo.html" >
         
          <i class="fa-solid fa-trophy"></i>
        <span>CLASIF.</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/liga-indigo-rondas.html" >
          <i class="fa-solid fa-list-ul"></i>
        <span>RONDAS</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/reglamento.html" >
          <i class="fa-solid fa-star"></i>
        <span>REGLAS</span>
        </a>
      </div>
    </div>
  </nav>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>