---
layout:
permalink: /liga-indigo-draft.html
title: DRAFT | LIGA INDIGO
---


<html lang="{{ page.lang | default: site.lang | default: " es " }}">
{% include header.html %}


<body class="bg-home">



  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>

  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO</a></span>

      </div>

    </div>

  </nav>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>






  <div class="container-fluid banner-home bg-cham">
    <div class="container banner">

      <div class="banner-grupo">
        {% assign norte = site.categories.GNORTE | sort: "puntos" %}
        {%- for post in norte-%}
        <a href="{{post.url}}">
          <img src="/assets/logos/{{post.ID}}.webp" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
        </a>
        {%- endfor -%}
      </div>


      <div class="banner-logo">
        <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
          <img src="/assets/logos/LIGA-INDIGO.webp" class="drop img-fluid" alt="" ">
      </a>

   

    </div>

    <div class=" banner-grupo">
          {% assign norte = site.categories.GSUR | sort: "puntos" | reverse %}
          {%- for post in norte-%}
          <a href="{{post.url}}">
            <img src="/assets/logos/{{post.ID}}.webp" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
          </a>
          {%- endfor -%}
      </div>

    </div>
  </div>



  <div class="container body-ruleta">
    <h1>SORTEO DE GRUPOS</h1>

    <div id="contenedor-sorteo">
      <img src="/assets/logos/LIGA-INDIGO.webp" alt="Logo Sorteo">
      <span>Sorteando equipos...</span>
    </div>

    <div id="contenedor-ruleta">
    </div>

    <button id="boton-girar" class="btn">BUSCAR</button>

    <div id="resultado"></div>
    <div id="equipos-restantes"></div>
  </div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <div class="grupo">
          <h2>ORION (GRUPO A)</h2>
          <div id="grupo-a">
          </div>
        </div>


      </div>
      <div class="col-4">
        <div id="contenedor-inicial">
        </div>


      </div>
      <div class="col-4">
        <div class="grupo">
          <h2>HYDRA (GRUPO B)</h2>
          <div id="grupo-b">
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title text-center">SIGUE A NUESTROS SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>








  {% include navbar-league.html %}



  {% include footer-transparent.html %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const contenedorInicial = document.getElementById('contenedor-inicial');
      const grupoA = document.getElementById('grupo-a');
      const grupoB = document.getElementById('grupo-b');
      let equiposData = [];

      fetch('/assets/inscripciones/junio2025/inscritos.json')
        .then(response => response.json())
        .then(data => {
          equiposData = data;
          mostrarEtiquetasIniciales();
        })
        .catch(error => console.error('Error al cargar el JSON:', error));

      function mostrarEtiquetasIniciales() {
        equiposData.forEach(equipo => {
          const etiqueta = crearEtiqueta(equipo.tag, contenedorInicial);
        });
      }

      function crearEtiqueta(texto, contenedorPadre) {
        const etiqueta = document.createElement('span');
        etiqueta.classList.add('etiqueta');
        etiqueta.textContent = texto;
        etiqueta.draggable = true;
        etiqueta.addEventListener('dragstart', manejarInicioArrastre);
        contenedorPadre.appendChild(etiqueta);
        return etiqueta;
      }

      let elementoArrastrado = null;
      let contenedorOrigen = null;

      function manejarInicioArrastre(evento) {
        elementoArrastrado = evento.target;
        contenedorOrigen = evento.target.parentNode;
        evento.dataTransfer.setData('text/plain', evento.target.textContent);
      }

      function manejarSobreArea(evento) {
        evento.preventDefault();
      }

      function manejarSoltar(evento, contenedorDestino) {
        evento.preventDefault();
        if (elementoArrastrado && contenedorDestino !== contenedorOrigen) {
          const textoEtiqueta = evento.dataTransfer.getData('text/plain');
          const nuevaEtiqueta = crearEtiqueta(textoEtiqueta, contenedorDestino);
          elementoArrastrado.remove();
          elementoArrastrado = null;
          contenedorOrigen = null;
        }
      }

      // Listeners para el Contenedor Inicial
      contenedorInicial.addEventListener('dragover', manejarSobreArea);
      contenedorInicial.addEventListener('drop', (evento) => manejarSoltar(evento, contenedorInicial));

      // Listeners para el Grupo A
      grupoA.addEventListener('dragover', manejarSobreArea);
      grupoA.addEventListener('drop', (evento) => manejarSoltar(evento, grupoA));

      // Listeners para el Grupo B
      grupoB.addEventListener('dragover', manejarSobreArea);
      grupoB.addEventListener('drop', (evento) => manejarSoltar(evento, grupoB));
    });
  </script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const contenedorRuleta = document.getElementById('contenedor-ruleta');
      const contenedorSorteo = document.getElementById('contenedor-sorteo');
      const botonGirar = document.getElementById('boton-girar');
      const resultadoDiv = document.getElementById('resultado');
      const equiposRestantesDiv = document.getElementById('equipos-restantes');
      let equiposData = [];
      let equiposRestantes = [];
      let girando = false;
      const duracionGiro = 6000; // Duración del efecto de "sorteo" en ms
      let progressBar;

      const sonidoGirar = new Audio('/assets/sounds/ruleta_girando.mp3'); // Reemplaza con la ruta a tu archivo
      const sonidoEliminar = new Audio('/assets/sounds/equipo_eliminado.mp3'); // Reemplaza con la ruta a tu archivo
      const sonidoGanador = new Audio('/assets/sounds/ganador.mp3'); // Reemplazar

      // Lista de frases para la leyenda
      const frasesSorteo = [
        "Órbita asegurada. Nivel completado.",
        "¡Alcanzando nuevas galaxias! Nuevo Nivel en la Indigo DESBLOQUEADO.",
        "Precisión láser en el campo de asteroides. ¡Liberen a Inteleon!",
        "Recursos recolectados en el planeta desconocido. ¡A la base del Sector11!",
        "Enemigo detectado en el radar estelar. ¡Fuego a discreción!",
        "Warp drive activado. Próxima parada: Planeta SPC.",
        "Construyendo una temporada de la Liga Indigo, pixel a pixel.",
        "La gravedad no es rival para mi salto espacial.",
        "Explorando el universo. Cada planeta es un nuevo mapa.",
        "Otra Dimension encontrada, ¡Cuidado!",
        "Stamina ES esta aquí ¡Llego el Campeón!",
        "Cuidado con los agujeros negros, ¡son trampas de nivel avanzado!",
        "Activando el escudo de energía. ¡AD Gaming en la misión!",
        "Desbloqueando nuevos sistemas solares. ¡El DLC cósmico!",
        "¿Game Over? ¡Nunca! Respawn en la nebulosa.",
        "Mi puntuación más alta: explorar cada rincón del cosmos."
      ];

      function obtenerFraseAleatoria() {
        const indiceAleatorio = Math.floor(Math.random() * frasesSorteo.length);
        return frasesSorteo[indiceAleatorio];
      }

      fetch('/assets/inscripciones/junio2025/inscritos.json')
        .then(response => response.json())
        .then(data => {
          equiposData = data;
          equiposRestantes = [...equiposData];
          mostrarEquiposInicial();
          actualizarEquiposRestantes();
        })
        .catch(error => console.error('Error al cargar el JSON:', error));

      function mostrarEquiposInicial() {
        contenedorRuleta.innerHTML = '';
        contenedorRuleta.style.transform = `translateX(0px)`;
        equiposRestantes.forEach((equipo) => {
          const tarjeta = crearTarjetaEquipo(equipo);
          contenedorRuleta.appendChild(tarjeta);
        });
      }

      function crearTarjetaEquipo(equipo) {
        const tarjeta = document.createElement('div');
        tarjeta.classList.add('tarjeta-equipo');
        const textoEquipo = document.createElement('span');
        textoEquipo.textContent = equipo.tag || equipo.team || 'Equipo';
        tarjeta.appendChild(textoEquipo);
        return tarjeta;
      }

      function girarRuleta() {
        sonidoGirar.play();
        if (girando || equiposRestantes.length <= 1) return;
        girando = true;
        resultadoDiv.textContent = 'Buscando en la Galaxia...';
        botonGirar.disabled = true;

        // Establecer la altura de contenedorSorteo igual a contenedorRuleta
        contenedorSorteo.style.height = contenedorRuleta.offsetHeight + 'px';

        // Limpiar cualquier contenido previo
        contenedorSorteo.innerHTML = '';

        // Crear la barra de progreso
        const progressBarContainer = document.createElement('div');
        progressBarContainer.classList.add('progress-bar-container');
        progressBar = document.createElement('div');
        progressBar.classList.add('progress-bar');
        progressBarContainer.appendChild(progressBar);
        contenedorSorteo.appendChild(progressBarContainer);

        // Crear la leyenda con frase aleatoria
        const leyendaSorteo = document.createElement('span');
        leyendaSorteo.textContent = obtenerFraseAleatoria(); // Llamar a la función para obtener una frase aleatoria
        contenedorSorteo.appendChild(leyendaSorteo);

        // Mostrar el contenedor de sorteo y ocultar la ruleta
        contenedorRuleta.style.opacity = 0;
        contenedorSorteo.style.opacity = 1;

        // Animar la barra de progreso
        animateProgressBar();

        contenedorRuleta.style.transform = `translateX(-50px)`;
        setTimeout(() => {
          contenedorRuleta.style.transform = `translateX(0px)`;
          contenedorRuleta.style.opacity = 1;
          contenedorSorteo.style.opacity = 0;
          botonGirar.disabled = false;
          girando = false;
          setTimeout(eliminarEquipoAleatorio, 500);
        }, duracionGiro);
      }

      function animateProgressBar() {
        let width = 0;
        const interval = 50;
        const increment = 100 / (duracionGiro / interval);
        const animationInterval = setInterval(() => {
          width += increment;
          progressBar.style.width = width + '%';
          if (width >= 100) {
            clearInterval(animationInterval);
          }
        }, interval);
      }

      function eliminarEquipoAleatorio() {
        const jsConfetti = new JSConfetti(); // Inicializa js-confetti aquí para poder usarlo en ambos casos

        if (equiposRestantes.length <= 1) {
          if (equiposRestantes.length === 1) {
            resultadoDiv.textContent = `¡El equipo final es: ${equiposRestantes[0].tag || equiposRestantes[0].team || 'Equipo'}!`;
            botonGirar.disabled = true;
            girando = false;
            jsConfetti.generateConfetti(); // Disparar confetti cuando queda el equipo final
            if (sonidoGanador) {
              sonidoGanador.play();
            }
          } else {
            resultadoDiv.textContent = "¡No quedan equipos!";
            botonGirar.disabled = true;
            girando = false;
          }
          return;
        }

        const indiceAleatorio = Math.floor(Math.random() * equiposRestantes.length);
        const equipoEliminado = equiposRestantes.splice(indiceAleatorio, 1)[0];

        resultadoDiv.textContent = `Equipo encontrado: ${equipoEliminado.tag || equipoEliminado.team || 'Equipo'}`;
        mostrarEquiposInicial();
        actualizarEquiposRestantes();
        botonGirar.disabled = false;
        girando = false;
        jsConfetti.generateConfetti(); // Disparar confetti después de cada eliminación
        if (sonidoEliminar) {
          sonidoEliminar.play();
        }
      }


      function actualizarEquiposRestantes() {
        equiposRestantesDiv.textContent = `Equipos restantes: ${equiposRestantes.length}`;
      }

      setTimeout(() => {
        if (equiposRestantes.length > 0 && contenedorRuleta.offsetWidth > 0) {
          const primeraTarjeta = document.querySelector('.tarjeta-equipo');
          if (primeraTarjeta) {
            anchoTarjetaConMargen = primeraTarjeta.offsetWidth + 10;
            numTarjetasVisibles = Math.ceil(contenedorRuleta.offsetWidth / anchoTarjetaConMargen);
            mostrarEquiposInicial();
            contenedorRuleta.style.width = `${equiposRestantes.length * anchoTarjetaConMargen}px`;
          }
        }
      }, 100);

      botonGirar.addEventListener('click', girarRuleta);
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>



  {% include g-analytics.html %}







</body>

</html>