---
layout:
permalink: /liga-indigo-orion-rondas.html
title: RONDAS ORION | LIGA INDIGO
---


<html lang="{{ page.lang | default: site.lang | default: " es " }}">
{% include header.html %}


<body class="bg-home">



  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>

  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <!-- <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span> -->
        <span class="navbar-brand mb-0 h1"><a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO</a></span>

      </div>

    </div>

  </nav>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>



 <div class="container-fluid banner bg-cham">
    <div class="container bannerPromo">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
        <h1 class="indigo">RONDAS</h1>
        <span class="indigo">ORIÓN</span>
      </div>
    </div>
  </div>


  

  

  <div class="container">



    <div id="rondas-league-container">
      </div>

  </div>






    <div class="container-fluid bg-cham">
      <div class="container">
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
      </ul>
      </div>
    </div>

 <div class="d-block d-md-none ">
    <nav class="navbar navbar-light bg-cham">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="item-bar">  
          <a href="/liga-indigo-orion-ranking-junio2025" >
             <i class="bi bi-rocket-takeoff-fill"></i>
            <span>ORION</span>
            </a>
          </div>
            <div class="item-bar">  
          <a href="/reglamento-liga-indigo" >
             <i class="bi bi-book-half"></i>
            <span>REGLAS</span>
            </a>
          </div>
           <div class="item-bar">  
          <a href="/liga-indigo-estatus.html" >
            <i class="bi bi-door-open-fill"></i>
            <span>ESTATUS</span>
            </a>
          </div>
           <div class="item-bar">  
          <a href="/liga-indigo-hydra-ranking-junio2025" >
             <i class="bi bi-rocket-takeoff-fill"></i>
            <span>HYDRA</span>
            </a>
          </div>
        </div>
    </nav>
</div>


  {% include footer-transparent.html %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>



  {% include g-analytics.html %}

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7684685955796848"
    crossorigin="anonymous"></script>

<script src="/assets/js/utils.js"></script>
<script src="/assets/js/generar_tabs.js"></script>
<script src="/assets/js/utils_rankings.js"></script>
<script src="/assets/js/ranking_norte.js"></script>
  <script src="/assets/js/bracket.js"></script>



</body>

</html>