---
layout: 
permalink: /liga-johto.html
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="blue">


<nav class="navbar blue-king">
    <div class="container">
        <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
    </div>
</nav>


    <div class="container-fluid banner grBlue">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
            <img src="/assets/logos/LIGA-JOHTO.png" class="img-fluid" alt="">
            <div class="textPromo">
                <h1 class="text-white ms-3 mb-0 d-none d-lg-block">LIGA JOHTO</h1>
                <h1 class="text-white ms-3 mb-0 d-block d-lg-none">LIGA JOHTO</h1>
                <span class="text-white ms-3 d-none d-lg-block">DEL 6 DE MAYO AL 27 DE MAYO</span>
                <span class="text-white ms-3 d-block d-lg-none">06 - 27  </span>
            </div>    
        </div>
    </div>



<div class="container mt-1">
   
    <div class="row text-white ">
     
        <div class="col-12 col-md-12 col-xl-8">
           <div class="container">      

            <ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">PRINCIPAL</button>
                  <!-- <button class="nav-link active d-block d-lg-none" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="fa-solid fa-house"></i></button> -->
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">RESULTADOS NORTE</button>
                  <!-- <button class="nav-link d-block d-lg-none" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i class="fa-solid fa-up-long"></i></button> -->
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile2-tab" data-bs-toggle="tab" data-bs-target="#profile2-tab-pane" type="button" role="tab" aria-controls="profile2-tab-pane" aria-selected="false">RESULTADOS SUR</button>
                    <!-- <button class="nav-link d-block d-lg-none" id="profile2-tab" data-bs-toggle="tab" data-bs-target="#profile2-tab-pane" type="button" role="tab" aria-controls="profile2-tab-pane" aria-selected="false"><i class="fa-solid fa-down-long"></i></button>
               -->   </li> 
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">RONDA STREAM</button>
                  <!-- <button class="nav-link d-block d-lg-none" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"><i class="fa-brands fa-twitch"></i></button>
              -->  </li> 
         
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    {% include tabla-johto-grupos.html %}
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    {% include rondas-johto.html %}
                </div>

                <div class="tab-pane fade" id="profile2-tab-pane" role="tabpanel" aria-labelledby="profile2-tab" tabindex="0">
                    {% include rondas-johto-sur.html %}
                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    {% include ronda11.html %} 
                </div>
              
              </div>

           </div>
        </div>
        <div class="col-12 col-xl-4 text-center">
            <a class="btn btn-outline-light" href="/liga-johto-reglas.html" role="button">REGLAS</a>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
