---
layout:
permalink: /liga-indigo-dashboard.html
title: INICIO | LIGA INDIGO 
---


<html lang="{{ page.lang | default: site.lang | default: " es " }}">
{% include header.html %}


<body class="bg-home">

  

  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>
  
  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <span class="navbar-brand mb-0 h1"><a href="#norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="#sur" class="text-white">GALAXIA SUR</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-presskit" class="text-white">PRESS KIT</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO  </a></span>
    
      </div>
 
    </div>
  
  </nav>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>






<div class="container-fluid banner-home bg-cham" >
  <div class="container banner">

    <div class="banner-grupo" >
      {% assign norte = site.categories.GNORTE | sort: "puntos" %}
      {%- for post in norte-%}
    <a href="{{post.url}}">
      <img src="/assets/logos/{{post.ID}}.webp" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
    </a>
      {%- endfor -%} 
    </div>


    <div class="banner-logo">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.webp" class="drop img-fluid" alt="" ">
      </a>

   

    </div>

    <div class="banner-grupo" >
      {% assign norte = site.categories.GSUR | sort: "puntos" | reverse %}
      {%- for post in norte-%}
      <a href="{{post.url}}">
      <img src="/assets/logos/{{post.ID}}.webp" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
    </a>
      {%- endfor -%} 
    </div>

  </div>
</div>








<div class="container">

  <div class="status-bar mx-4 mt-3">
    <div class="status-left">
      <span id="current-time"></span>
    </div>
    <div class="status-center">

      <span id="season">Temporada Abril - 2025</span>
        <span class="discord-link">
            <a href="https://discord.gg/tu-enlace-de-discord" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-discord discord-icon"></i> La República del Unite
            </a>
        </span>
    </div>
    <div class="status-right">
        <span id="current-date"></span>
       
    </div>
</div>

  <div class="fifa-grid-container">
      <div class="fifa-grid-item ancho-1 alto-2 journey">
         
          <div class="grupo-container-team">
            <div class="img-back">
              <img src="/assets/mis/INICIO-TEXT.webp" alt="">
            </div>
              <h2 class="title-group">ORION</h2>
              <div class="img-group">
                <img class="img-first-place" src="/assets/logos/STMN.png" alt="">
              </div>
                <div class="second-place"">
                  <span class="title-group-team">PLAGA</span>
                  <img class="img-second-place" src="/assets/logos/PLAGA.png" alt="">
                </div>
              <div class="clip"></div>
          </div>
      </div>
      <div class="fifa-grid-item ancho-1 alto-2 career">
        <div class="grupo-container-team">
          <div class="img-back">
            <img src="/assets/mis/INICIO-TEXT.webp" alt="">
          </div>
          <h2 class="title-group">HYDRA</h2>
          <div class="img-group">
            <img class="img-first-place" src="/assets/logos/NS.png" alt="">
          </div>
            <div class="second-place"">
              <span class="title-group-team">SPC ENIGMA</span>
              <img class="img-second-place" src="/assets/logos/ENIGMA.png" alt="">
            </div>
            <div class="clip"></div>
      </div>
      </div>
      <div class="fifa-grid-item ancho-2 alto-2 ultimate-team">
          <div class="icon">🏅</div>
          <div>
              <h2>CAMPEONES™</h2>
              <p>UNITE FORZE STADIUM</p>
              <small></small>
              <div>
                  <span>STMN </span>
                  <span>STMN </span>
                  <span>AD ENIGMA </span>
              </div>
          </div>
      </div>
      <div class="fifa-grid-item ancho-2 kick-off">
          <div class="icon">🏟️</div>
          <div>
              <h2>RESULTADOS</h2>
              <p>21st</p>
              <small>30 DE FEB 22:30</small>
              <small>IMPERIO MEXA 1 VS 1 DINASTY</small>
          </div>
      </div>
      <div class="fifa-grid-item ancho-1 tournaments">
          <div class="icon">🏅</div>
          <h2>MVPS</h2>
      </div>
      <div class="fifa-grid-item ancho-1 skill-games">
          <div class="icon">🎯</div>
          <h2>ZONA RESTRINGIDA</h2>
      </div>
  </div>
</div>

<div class="container-fluid">
    <div class="container teams-table " id="norte">
      <h1 class="teams-title">GALAXIA NORTE</h1>
      <div class="row">
        <div class="col-12"> {% include list-mobile-platino.html %}</div>
       </div>

       <div class="d-flex justify-content-center align-items-center">
        <a href="/liga-indigo-norte" class="button-space">
          <span class="main-text">VER MÁS
            <span> 
             <span>⫸</span> 
            </span>
          </span></a>
      </div>

    </div>

    <div class="container teams-table" id="sur">
      <h1 class="teams-title">GALAXIA SUR</h1>
      <div class="row">
        <div class="col-12"> {% include list-mobile-oro.html %}</div>
       </div>
       <div class="d-flex justify-content-center align-items-center">
        <a href="/liga-indigo-sur" class="button-space">
          <span class="main-text">VER MÁS
            <span> 
             <span>⫸</span> 
            </span>
          </span></a>
      </div>
    </div>
</div>


<div class="container teams-table " >
  <h1 class="teams-title">CAMPEONES</h1>
  {% include cards-teams-icon-platino.html %}
 </div>



  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title text-center">SIGUE A NUESTROS SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>




 



  {% include navbar-league.html %}



  {% include footer-transparent.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
      <script>
        var splide = new Splide('.splide', {
          type: 'loop',
          autoplay: true,
          interval: '7000',
          perPage: 4,
          pagination: false,
          arrows: false,
          gap: '.7rem',
          rewind: true,
          height: '10rem',
          breakpoints: {
            1200: {
              perPage: 1,
              gap: '.7rem',
              height: '35rem',
            },
            992: {
              perPage: 1,
              gap: '.7rem',
              height: '25rem',
            },
            768: {
              perPage: 1,
              gap: '.7rem',
              height: '20rem',
            },
            576: {
              perPage: 1,
              gap: '.7rem',
              height: '12rem',
            },
            480: {
              perPage: 1,
              gap: '.1em',
              trimSpace: false,
              height: '10rem',
            },
          },
        });
        splide.mount();
      </script>

<script>

  function updateDateTime() {
            const now = new Date();
            const optionsDate = { year: 'numeric', month: 'long', day: 'numeric' };
            const optionsTime = { hour: 'numeric', minute: '2-digit', hour12: false }; 
            document.getElementById('current-date').textContent = now.toLocaleDateString('es-MX', optionsDate);
            document.getElementById('current-time').textContent = now.toLocaleTimeString('es-MX', optionsTime);
        }

        // Actualizar la fecha y hora cada minuto (ya no necesitamos la precisión de segundos)
        setInterval(updateDateTime, 60000);

        // Inicializar la fecha y hora al cargar la página
        updateDateTime();
</script>

      {% include g-analytics.html %}
 






</body>

</html>
