---
layout:
permalink: /liga-naranja.html
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="white">


  {% include nav-naranja.html %}


  <div class="container-fluid banner bg-white">
    <div class="container bannerPromo d-flex justify-content-start align-items-center">
      <a href="/assets/logos/NARANJA.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/NARANJA.png" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
        <h1 class="exo text-dark">LIGA NARANJA</h1>
      </div>
    </div>
  </div>


  <div class="container teams-table d-none d-md-block">
    <h1 class="teams-title--orange">CAMPEONATO</h1>
    {% include cards-teams-icon-naranja.html %}
  </div>

  <!-- <div class="container teams-table d-none d-md-block mt-5 mb-5">
    <h1 class="teams-title">MVP´S</h1>
    {% include cards-mvp-icon.html %}

  </div> -->

  <div class="container text-white d-block d-md-none">
    {% include list-mobile-naranja.html %} 
  </div>






  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="d-none d-md-block">

  {% include footer-indigo.html %}
</div> 

<div class="d-block d-md-none">
  {% include nav-mobile-naranja.html %}
  
  </div>

 





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>