---
layout:
permalink: /liga-indigo-status.html
title: IDS | LIGA INDIGO
---


<html lang="{{ page.lang | default: site.lang | default: " es " }}">
{% include header.html %}


<body class="bg-home">



  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>

  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO</a></span>

      </div>

    </div>

  </nav>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>






  <div class="container-fluid banner-home bg-cham">
    <div class="container banner">

      <div class="banner-grupo">
        {% assign norte = site.categories.GNORTE | sort: "puntos" %}
        {%- for post in norte-%}
        <a href="{{post.url}}">
          <img src="/assets/logos/{{post.ID}}.webp" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
        </a>
        {%- endfor -%}
      </div>


      <div class="banner-logo">
        <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
          <img src="/assets/logos/LIGA-INDIGO.webp" class="drop img-fluid" alt="" ">
      </a>

   

    </div>

    <div class=" banner-grupo">
          {% assign norte = site.categories.GSUR | sort: "puntos" | reverse %}
          {%- for post in norte-%}
          <a href="{{post.url}}">
            <img src="/assets/logos/{{post.ID}}.webp" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
          </a>
          {%- endfor -%}
      </div>

    </div>
  </div>


  <div class="container">
    <h1>Lista de Equipos</h1>
    <table id="equiposTabla" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Team</th>
                <th>Capitán</th>
                <th>Organización</th>

                <th>Nuevo Anterior</th>
                <th>Seguro</th>
                <th>Link</th>
                <th>Jugadores</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
        <tfoot>
            <tr>
                <th>Team</th>
                <th>Capitán</th>
                <th>Organización</th>

                <th>Anterior</th>
                <th>Seguro</th>
                <th>Link</th>
                <th>Jugadores</th>
            </tr>
        </tfoot>
    </table>
</div>



 



  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title text-center">SIGUE A NUESTROS SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>








  {% include navbar-league.html %}



  {% include footer-transparent.html %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
  <script src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.js"></script>
  <script src="https://cdn.datatables.net/responsive/3.0.4/js/responsive.bootstrap5.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>



<script>
  $(document).ready(function() {
      let equiposData = [];
      const teamFiles = [
          'assets/equipos/ad.json',
          'assets/equipos/amt.json',
          'assets/equipos/aogiri.json',
          'assets/equipos/cl.json',
          'assets/equipos/dbo.json',
          'assets/equipos/dty.json',
          'assets/equipos/enigma.json',
          'assets/equipos/gx.json',
          'assets/equipos/neo.json',
          'assets/equipos/ns.json',
          'assets/equipos/obs.json',
          'assets/equipos/ovg.json',
          'assets/equipos/pe.json',
          'assets/equipos/plaga.json',
          'assets/equipos/rk.json',
          'assets/equipos/rntx.json',
          'assets/equipos/sm.json',
          'assets/equipos/space.json',
          'assets/equipos/stmn.json',
          'assets/equipos/tad.json',
          'assets/equipos/tm.json',
          'assets/equipos/tut.json',
          'assets/equipos/tutw.json',
          'assets/equipos/zafiro.json'
      ];

      // Función para obtener los datos de cada archivo JSON
      async function cargarEquipos() {
          const promises = teamFiles.map(async (file) => {
              const response = await fetch(file);
              const data = await response.json();
              equiposData = equiposData.concat(data);
          });
          await Promise.all(promises);
          inicializarTabla();
      }

      
      function inicializarTabla() {
    $('#equiposTabla').DataTable({
        data: equiposData,
        columns: [
            { data: 'team', title: 'Equipo' }, 
            { data: 'capitan', title: 'Capitán' },
            { data: 'org', title: 'Organización' }, 
  
            { data: 'teamNombreAnterior', title: 'Nombre Anterior' }, 
            {
                data: 'seguro',
                render: function(data, type, row) {
                    if (type === 'display') {
                        return data ? '<i class="ti ti-circle-check-filled text-success"></i>' : '<i class="ti ti-circle-x-filled text-danger"></i>';
                    }
                    return data;
                }
            },
            {
                data: 'link',
                render: function(data, type, row) {
                    if (type === 'display') {
                        return `<a href="${data}"><i class="ti ti-world-code"></i></a>`;
                    }
                    return data;
                }
            },
            {
                data: 'jugadores',
                render: function(data, type, row) {
                    return data.length;
                }
            }
        ],
        pageLength: 25
    });
}
    
      cargarEquipos();
  });
</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>



{% include g-analytics.html %}







</body>

</html>