---
layout:
permalink: /liga-indigo-fase-final.html
---


<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}


<body class="bg-home">



  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>

  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <span class="navbar-brand mb-0 h1"><a href="#norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="#sur" class="text-white">GALAXIA SUR</a></span>
        <span class="navbar-brand mb-0 h1"><a href="#online" class="text-white">STREAMS</a></span>

      </div>

    </div>

  </nav>


  <div class="container-fluid banner bg-cham d-none d-lg-block">
    <div class="container bannerPromo">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
      </a>
      <div class=" bannerText">
        <h1 class="indigo">LIGA INDIGO</h1>
        <span class="indigo">ENERO 2025</span>
    </div>
  </div>
  </div>


  <div class="container">

    <div class="teams-table " id="norte">
      <h1 class="teams-title">FASE FINAL</h1>
    </div>

    <div class="tournament-bracket tournament-bracket--rounded ">
      <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
        <h3 class="tournament-bracket__round-title">4TOS DE FINAL</h3>
        <ul class="tournament-bracket__list">



        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--semifinals">
        <h3 class="tournament-bracket__round-title">SEMIFINALES</h3>
        <ul class="tournament-bracket__list">





        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--bronze">
        <h3 class="tournament-bracket__round-title">FINAL</h3>
        <ul class="tournament-bracket__list">

        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--gold">
        <h3 class="tournament-bracket__round-title">CAMPEON</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">

              <div class="card-round-list mb-0">
                <div class="card-round-team">
                  <a href="(link)">
                    <img src="/assets/logos/LIGA-INDIGO-ALT.webp" alt="" class="img-fluid">
                  </a>
                  <div class="card-round-title">
                    <p>CAMPEÓN
                    </p>
                    <p>LIGA-INDIGO-ALT</p>
                  </div>
                </div>
                <div class="card-round-place">
                </div>
                <div class="card-back bg-cham">
                </div>
              </div>

            </div>
          </li>

          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="teams-table">
      <h1 class="teams-title">TABLA DE POSCIONES</h1>
      <div class="row">
        {% assign norte = site.categories.ENERO | sort: "puntos" | reverse %}
        {%- for post in norte -%}
        <div class="col-12 col-xl-3">
          <div class="card-round-list">

            <div class="card-round-num">
              <h6></h6>
            </div>

            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.webp" alt="" class="img-fluid">
              </a>

              {% include rounds.html %}

            </div>

            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>

            <div class="card-back">
              <div class="card-color-left {{post.ID}}"> </div>
            </div>

          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>






</body>

</html>


<li class="tournament-bracket__item">
  <div class="tournament-bracket__match" tabindex="0">

    <div class="bracket-key">
      <span>(LLAVE)</span>
    </div>
    <div class="bracket-round-list">
      <div class="bracket-round-team">
        <a href="/link">
          <img src="/assets/logos/tag1.webp" alt="" class="img-fluid">
        </a>
      </div>
      <div class="card-round-promo">
        <span>fecha</span>
        <h6>tag1 vs tag2</h6>
        <span>hora</span>
      </div>

      <div class="bracket-round-team-right">
        <a href="/link">
          <img src="/assets/logos/tag2.webp" alt="" class="img-fluid">
        </a>
      </div>


      <div class="card-back">
        <div class="card-color-left (tag1)"> </div>
        <div class="card-color-right (tag2)"> </div>
      </div>

    </div>
    <div class="bracket-stream">
      <span>STREAM</span>
    </div>

  </div>
</li>