---
layout:
permalink: /my-links/xforce05.html
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-black">


  {% include navbar-top.html %}


  <div class="container-fluid banner">
    <div class="container bannerPromo d-flex justify-content-start align-items-center">
      <a href="/assets/logos/BDLF.png" role="button" download="XFORCE-LOGO.png">
        <img src="/assets/logos/BDLF.png" class="drop img-fluid" alt="XFORCE-LOGO">
      </a>
      <div class="bannerText">
        <h1 class="exo">REDES</h1>
      </div>
    </div>
  </div>


  <div class="container text-white">
    <div class="row text-white ">
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://www.twitch.tv/x_force05" target="_blank">
        <div class="container roundNet bg-twitch">
            <i class="fa-brands fa-twitch fa-2xl"></i>
          </div>
          </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://www.youtube.com/channel/UCBq7KYCM-cQJFuUImuqTklA" target="_blank">
          <div class="container  roundNet bg-youtube">
            <i class="fa-brands fa-youtube fa-2xl	"></i>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://x.com/XFORCE05" target="_blank">
        <div class="container  roundNet bg-dark">
          <i class="fa-brands fa-x-twitter fa-2xl	"></i>
        </div>
      </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://discord.gg/MqkeFH4stD" target="_blank" >
        <div class="container  roundNet bg-discord">
          <i class="fa-brands fa-discord fa-2xl	"></i>
        </div>
      </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://www.facebook.com/profile.php?id=100079075191093" target="_blank">
          <div class="container  roundNet bg-facebook">
            <i class="fa-brands fa-facebook fa-2xl	"></i>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="https://www.instagram.com/xforceunite?igsh=MWxuYjhxc2NkaDhndQ==" target="_blank">
        <div class="container  roundNet bg-instagram">
          <i class="fa-brands fa-instagram fa-2xl	"></i>
        </div>
      </a>
      </div>
      <!-- <div class="col-12 col-md-6 col-lg-4">
        <a href="https://t.me/+g6Yl63Qyrcc1YWZh" target="_blank">
        <div class="container  roundNet bg-telegram">
          <i class="fa-brands fa-telegram fa-2xl	"></i>
        </div>
      </a>
      </div> -->
      <!-- <div class="col-12 col-md-6 col-lg-4">
        <a href="https://kick.com/xforce05" target="_blank">
        <div class="container  roundNet bg-kick">
          <i class="fa-brands fa-kickstarter-k fa-2xl	"></i>
        </div>
      </a>
      </div> -->

    </div>
  </div>






  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>



  <footer class="footer">

    <!-- Copyright - Bootstrap Brain Component -->
    <div class="bg-transparent  py-5 py-xl-8 py-xxl-9 ">
      <div class="container overflow-hidden">
        <div class="row gy-5 gy-md-0 align-items-md-center">
          <div class="col-xs-12 col-md-7 order-1 order-md-0">
            <div class="copyright text-center text-md-start text-white">
              &copy; 2024. All Rights Reserved XForce05.
            </div>
            <div class="credits text-warning text-center text-md-start mt-2 fs-8">

              #TodosSomosUnite
            </div>
          </div>

          <div class="col-xs-12 col-md-5 order-0 order-md-1">
            <div class="social-media-wrapper">
              <ul class="list-unstyled m-0 p-0 d-flex justify-content-center justify-content-md-end">
                <li class="me-3">
                  <a href="https://www.facebook.com/profile.php?id=100079075191093"
                    class="link-light link-opacity-75-hover" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li class="me-3">
                  <a href="https://www.youtube.com/channel/UCBq7KYCM-cQJFuUImuqTklA"
                    class="link-light link-opacity-75-hover" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
                <li class="me-3">
                  <a href="https://discord.gg/MqkeFH4stD" class="link-light link-opacity-75-hover" target="_blank">
                    <i class="fa-brands fa-discord"></i>
                  </a>
                </li>
                <li class="">
                  <a href="https://www.twitch.tv/x_force05" class="link-light link-opacity-75-hover" target="_blank">
                    <i class="fa-brands fa-twitch"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>



  {%- if site.google_analytics -%}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.google_analytics }}");
  </script>
  {%- endif -%}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>