---
layout:
permalink: /reglamento.html
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-black">


    <nav class="navbar bg-black">
        <div class="container">
            <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
        </div>
    </nav>


    <div class="container-fluid banner bg-black">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
            <img src="/assets/logos/BDLF.png" class="img-fluid" alt="">
            <div class="textPromo">
                <h1 class="text-white ms-3 mb-0 d-none d-lg-block">REGLAMENTO</h1>
                <h1 class="text-white ms-3 mb-0 d-block d-lg-none">REGLAMENTO</h1>
                <span class="text-white ms-3 d-none d-lg-block"></span>
                <span class="text-white ms-3 d-block d-lg-none"></span>
            </div>
        </div>
    </div>

    <div class="container mt-1 mb-3">
        <div class="row text-white G-3">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="matchTeams">
                        <span>INSCRIPCIÓN LIGA INDIGO</span>
                        <p>$150 MXN</p>
                       <p>VIA INVITACIÓN</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="matchTeams">
                        <span>INSCRIPCIÓN LIGA JOHTO</span>
                        <p>$150 MXN</p>
                       <p>VIA INVITACIÓN</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="matchTeams">
                        <span>INSCRIPCIÓN LIGA NARANJA</span>
                        <p>$150 MXN</p>
                       <p>VIA INVITACIÓN</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="matchTeams">
                        <span>INSCRIPCIÓN LIGA AOLA</span>
                        <p>$150 MXN</p>
                       <p>ABIERTO 12 CUPOS</p>
                    </div>
                </div>
            </div>
            
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="matchTeams">
                            <span>BANS</span>
                            <p>MIRAIDON | MEWTWO X | MEWTWO Y | ZACIAN</p>
                            <p>LICENCIAS UNITES NUEVAS DURANTE EL TORNEO</p>
                        </div>
                    </div>
                </div>
         
       
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="matchTeams">
                            <span>CLASIFICACION a copa xforce</span>
                            <p>TOP 2 DE CADA LIGA JUEGAN COPA XFORCE ELIMINACIÓN DIRECTA por premio de $1000 mxn</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="matchTeams">
                            <span>PREMIOS DE LIGA</span>
                            <p>65% DE LA INSCRIPCIÓN</p>
                            <p>15% DE LA INSCRIPCIÓN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="matchTeams">
                            <span>ASCENSO</span>
                            <p>LOS MEJORES 3 DE CADA LIGA ASCIENDEN A LA SIGUIENTE LIGA:</p>
                            <p>LIGA ALOLA -> LIGA NARANJA</p>
                            <p>LIGA NARANJA -> LIGA JOHTO</p>
                            <p>LIGA JOHTO -> LIGA INDIGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="matchTeams">
                            <span>descenso</span>
                            <p>LOS últimos 3 DE CADA LIGA descienden</p>
                            <p>LIGA INDIGO -> LIGA JOHTO</p>
                            <p>LIGA JOHTO -> LIGA NARANJA</p>
                            <p>LIGA NARANJA -> LIGA ALOLA</p>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-md-12">
                    <div class="container match d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="matchTeams">
                            <span>DESCALIFICACIÓN</span>
                            <p>Cualquier conducta antideportiva el equipo en cuestion tendrá un llamado de atención o será descalificado en automático</p>
                            <p>Equipo que abandone la el torneo pasará a tener 0 puntos y los equipos que jugaron con el equipo dado de baja o que falten por jugar tendrán 3pts.</p>
                        </div>
                    </div>
                </div>


           
                        {% include reglas-indigo.html %}
    

               
          
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>