---
layout:
permalink: /reglamento-sep.html
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bgDuos">


    <nav class="navbar bg-indigo">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
            <div class="d-none d-lg-block">
                <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-oro" class="text-white">ORO</a></span>
                <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-plata" class="text-white">PLATA</a></span>
              </div>
        </div>
    </nav>


    <div class="clip-wrapper">
        <div class="container-fluid banner bg-indigo slice">
            <div class="container bannerPromo d-flex justify-content-start align-items-center">
                <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
                    <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
              </a>
              <div class=" bannerText">
                    <h1 class="exo text-white">REGLAMENTO</h1>
                    <span>SEPTIEMBRE</span>
            </div>
        </div>


      <div class="d-none d-lg-block">
        <div id="stars1"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
      </div>
    </div>




    </div>

   <div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">REGLAMENTO</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">EQUIPOS INSCRITOS</button>
            </div>
    </nav>
      <div class="tab-content mt-4" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            {% include reglas-temp.html %}

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="row text-white">
                {% assign SEP = site.categories.SEP | sort: "team" %}
                {%- for post in SEP  -%}
                <div class="col-12 col-lg-3">
                    <div class="gamer-team">
                        <div class="gamer-circle bgIndigoTop">
                            <img src="/assets/mis/circle-indigo.png" alt="">
                            <div class="gamer-team-title">
                                <img src="/assets/mis/POKEBALL.png" alt="">
                                <h4>{{post.team}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                {%- endfor -%}
           
            </div>
        </div>
       
      </div>

     
   </div>

  

   <div class="d-none d-md-block">

    {% include footer-new.html %}
  </div> 
  
  <div class="d-block d-md-none ">
    <nav class="navbar solid fixed-bottom navbar-light">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="item-bar">
            <a href="/liga-indigo-oro" >
              <i class="fa-solid fa-trophy"></i>
            <span>ORO.</span>
            </a>
          </div>
          <div class="item-bar">
            <a href="/liga-indigo-plata" >
              <i class="fa-solid fa-trophy"></i>
            <span>PLATA</span>
            </a>
          </div>
          <div class="item-bar">
            <a href="/reglamento-sep.html" >
              <i class="fa-solid fa-bookmark"></i>
            <span>REGLAS</span>
            </a>
          </div>
        </div>
      </nav>
  </div>
    
  




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>