---
layout:
permalink: /resultados.html
back: grRed
ronda:
dia: 14 al 24 
mes: octubre

pp: (PP Partidos pendientes)
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="{{page.back}}">

  <nav class="navbar top sticky-top mt-5">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand ms-5" href="#">
        <img src="assets/logos/LIGA-INDIGO.png" alt="Logo" class="img-fluid" style="width: 70px;">
        <span class="text-white indigo">LIGA INDIGO PLATINO</span>
      </a>
      <div class="d-none d-lg-block">
        <span class="navbar-brand mb-0 h1 text-white"><a href="#home" class="text-white indigo">RESULTADOS {{page.ronda}}</a></span>
 
      </div>
    </div>  
  </nav>
  

  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-4">
        <img src="/assets/img/diseño.png" alt=""  class="img-fluid shadows">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-3 text-center">
            <p class="indigo text-white">RONDA 1</p>
            {% assign norte = site.categories.LD1 | sort: "match" %}
            {% include resultados-local.html %}
          </div>
          <div class="col-3 text-center">
            <p class="indigo text-white">RONDA 2</p>
            {% assign norte = site.categories.LD2 | sort: "match" %}
            {% include resultados-out.html %}
          </div>
          <div class="col-3 text-center">
            <p class="indigo text-white">RONDA 3</p>
            {% assign norte = site.categories.LD3 | sort: "match" %}
            {% include resultados-local.html %}
          </div>
          <div class="col-3 text-center">
            <p class="indigo text-white">RONDA 4</p>
            {% assign norte = site.categories.LD4 | sort: "match" %}
            {% include resultados-out.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <p class="text-smoke">Resultados del día {{page.dia}} de {{page.mes}}. {{page.pp}}</p>
  
        </div>
        <div class="col-5">
          <div class="row mb-5">
            <div class="col-2 offset-2">
                <a href=""><img src="/assets/logos/DRAZ.png" alt="" class="img-fluid"></a>
            </div>
            <div class="col-2">
                <img src="/assets/logos/AG.png" alt="" class="img-fluid">
            </div>
            <div class="col-2">
                <img src="/assets/logos/S11.png" alt="" class="img-fluid">
            </div>
            <div class="col-2">
                <img src="/assets/logos/SPCES.png" alt="" class="img-fluid">
            </div>
            <div class="col-2">
                <img src="/assets/logos/PKS.png" alt="" class="img-fluid">
            </div>
        </div>
        </div>
        </div>
       
      </div>

    </div>
   
    </div>
  </div>

  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>