---
layout:
permalink: /res-chl.html
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="CHL">


  <div class="container-fluid banner-v">
    <div class="container bannerPromo">
     
          <div class=" bannerText">
        <h1 class="indigo">LIGA INDIGO</h1>
        <span class="indigo"></span>
    </div>
  </div>
  </div>


 <div class="container teams-table">
 
    <h1 class="teams-title mb-5">RESULTADOS RONDA 3</h1>

  <div class="row">
    {% assign norte = site.categories.RES3 | sort: "match" %}
    {% include LOCALRES.html%}
   
  </div>
 </div>
   

<div class="img-div d-none">
  <img src="/assets/logos/LIGA-INDIGO.png" alt="">
</div>

 <div class="container teams-table "  id="home">  
  <h1 class="teams-title mt-5">PATROCINADORES</h1>
  {% include sponsors.html %}
</div>

  </nav>
  </div>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>

    <script>
      var splide = new Splide('.splide', {
        type: 'loop',
        autoplay: true,
        interval: '7000',
        perPage: 1,
        pagination: false,
        arrows: false,
        rewind: true,
        height: '50rem',
        breakpoints: {
          1200: {
            perPage: 1,
            gap: '.7rem',
            height: '35rem',
          },
          992: {
            perPage: 1,
            gap: '.7rem',
            height: '25rem',
          },
          768: {
            perPage: 1,
            gap: '.7rem',
            height: '20rem',
          },
          576: {
            perPage: 1,
            gap: '.7rem',
            height: '50rem',
          },
          480: {
            perPage: 1,
            gap: '.1em',
            trimSpace: false,
            height: '30rem',
          },
        },
      });
      splide.mount();
    </script>



</body>

</html>