---
layout:
permalink: /rondas-mvp.html
title: MVPS | LIGA INDIGO
---


<html lang="{{ page.lang | default: site.lang | default: " es " }}">
{% include header.html %}


<body class="bg-home">



  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>

  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO</a></span>

      </div>

    </div>

  </nav>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>






  <div class="container-fluid banner-home bg-cham">
    <div class="container banner">

   


      <div class="banner-logo">
        <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
          <img src="/assets/logos/LIGA-INDIGO.webp" class="drop img-fluid" alt="" ">
      </a>

   

    </div>



    </div>
  </div>



 
  <div class="container">
    <h2>MVPS POR RONDA</h2>
    <ul class="nav nav-pills nav-justified" id="roundTabs" role="tablist">
    </ul>
    <div class="tab-content mt-3" id="roundTabsContent">
    </div>
  </div>

  <div class="container mt-4">
    <h2>VERSUS</h2>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="jugador1" class="form-label">Jugador 1:</label>
        <select class="form-select" id="jugador1">
          <option value="">Seleccionar Jugador</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="jugador2" class="form-label">Jugador 2:</label>
        <select class="form-select" id="jugador2">
          <option value="">Seleccionar Jugador</option>
        </select>
      </div>
    </div>
    <div id="comparacionResultados" class="mt-3">
    </div>
  </div>




  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title text-center">SIGUE A NUESTROS SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>








  {% include navbar-league.html %}



  {% include footer-transparent.html %}


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


{% include g-analytics.html %}


<script type="module" src="/assets/js/tabs-mvps.js"></script>
<script type="module" src="/assets/js/comparacion.js"></script>



</body>

</html>