---
layout:
permalink: /temporada-agosto.html
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="blue">

  <nav class="navbar  fixed-top">
    <div class="container d-flex justify-content-between align-items-center">
      <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
      <div class="d-none d-lg-block">
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo" class="text-white">INICIO</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/reglamento" class="text-white">REGLAMENTO</a></span>
      </div>
    </div>
  </nav>



  <div class="container-fluid banner grBlue">
    <div class="container bannerPromo d-flex justify-content-center align-items-center">
      
      <div class="bannerText">
        <h1 class="exo">TEMPORADA AGOSTO</h1>
        <h3 class="exo">INSCRIPCIONES ABIERTAS HASTA EL 8 DE AGOSTO</h3>
      </div>

    
    </div>
  </div>


  <div class="container">
    <ul id="countdown">
      <li id="days">
        <div class="number">00</div>
        <div class="label">Days</div>
      </li>
      <li id="hours">
        <div class="number">00</div>
        <div class="label">Hours</div>
      </li>
      <li id="minutes">
        <div class="number">00</div>
        <div class="label">Minutes</div>
      </li>
      <li id="seconds">
        <div class="number">00</div>
        <div class="label">Seconds</div>
      </li>
    </ul>
  </div>
  
  <div class="container teams-table">
    <h1 class="teams-title">EQUIPOS INSCRITOS 16/40</h1>
    <div class="row mt-5">
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
        <button>DFS PEARL</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 ">
        <button>LEGION MEW</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>LEGION P&S</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>CELESTIAL DRAGONS</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>SKILLZ TEAM</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>SUMMUS IGNIS</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>DFS RUBY</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>DFS SAPPHIRE</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>DFS EMERALD</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>DFS DIAMOND</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>ZODIAC</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>TXG</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>FROSTBITE</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>TSA</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>IL REBORN</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>IL ULTIMATE</button>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3  ">
        <button>BURNOUT</button>
      </div>
    </div>
  </div>

  
  
  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  
  
  
  
  {% include footer-indigo.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/js/countdown"></script>

</body>

</html>