{% if post.active4 == "active" %}
<div class="tab-pane fade show active" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">
        {% endif %}


        {% include banner-top.html %}
        {% assign DATE = site.categories.FECHA %}
        {%- for post in DATE -%}
        <h1 class="exo-style">{{post.j4}}</h1>
        <span class="exo">{{post.f4}}</span>
        {%-endfor-%}
        {% include banner-bottom.html %}

        <div class="container mt-2">
            <div class="row">
                <div class="col-8">
                    <div class="d-flex justify-content-center align-items-center" style="position: relative;">
                        <div class="bg-cham"
                            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                        </div>
                        <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                            src="/assets/rounds/ROUND4.webp" alt=""
                            style="position: absolute; width:100%; z-index: -999">
                        <img src="/assets/skins/goodra.webp" alt="" style="width: 550px;">
                        <img src="/assets/gifts/shine.gif" alt=""
                            style="position: absolute; width: 150px; height: 150px"">
            </div>
           </div>
          <div class=" col-md-4">
                        <div class="row team--round mt-5">
                            {% if page.division == "PLATINO" %}
                            {% for partido in site.data.gnorte.rondas[3].partidos %}
                            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                {% include match-round.html %}
                            </div>
                            {% endfor %}
                            {% else %}
                            {% for partido in site.data.gsur.rondas[3].partidos %}
                            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                {% include match-round.html %}
                            </div>
                            {% endfor %}

                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>

</div>

{% if post.active5 == "active" %}
<div class="tab-pane fade show active" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">
                {% endif %}

                {% include banner-top.html %}
                {% assign DATE = site.categories.FECHA %}
                {%- for post in DATE -%}
                <h1 class="exo-style">{{post.j5}}</h1>
                <span class="exo">{{post.f5}}</span>
                {%-endfor-%}
                {% include banner-bottom.html %}

                <div class="container mt-2">
                    <div class="row">
                        <div class="col-8">
                            <div class="d-flex justify-content-center align-items-center" style="position: relative;">
                                <div class="bg-cham"
                                    style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                </div>
                                <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                    src="/assets/rounds/ROUND5.webp" alt=""
                                    style="position: absolute; width:100%; z-index: -999">
                                <img src="/assets/skins/blastoise.webp" alt="" style="width: 550px;">
                                <img src="/assets/gifts/shine.gif" alt=""
                                    style="position: absolute; width: 150px; height: 150px"">
              </div>
             </div>
            <div class=" col-md-4">
                                <div class="row team--round mt-5">
                                    {% if page.division == "PLATINO" %}
                                    {% for partido in site.data.gnorte.rondas[4].partidos %}
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                        {% include match-round.html %}
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    {% for partido in site.data.gsur.rondas[4].partidos %}
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                        {% include match-round.html %}
                                    </div>
                                    {% endfor %}

                                    {% endif %}
                                </div>
                            </div>


                        </div>
                    </div>


</div>

{% if post.active6 == "active" %}
<div class="tab-pane fade show active" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab" tabindex="0">
                        {% endif %}


                        {% include banner-top.html %}
                        {% assign DATE = site.categories.FECHA %}
                        {%- for post in DATE -%}
                        <h1 class="exo-style">{{post.j6}}</h1>
                        <span class="exo">{{post.f6}}</span>
                        {%-endfor-%}
                        {% include banner-bottom.html %}

                        <div class="container mt-2">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-flex justify-content-center align-items-center"
                                        style="position: relative;">
                                        <div class="bg-flyz"
                                            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                        </div>
                                        <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                            src="/assets/rounds/ROUND6.webp" alt=""
                                            style="position: absolute; width:100%; z-index: -999">
                                        <img src="/assets/skins/flygon.webp" alt="" style="width: 550px;">
                                        <img src="/assets/gifts/shine.gif" alt=""
                                            style="position: absolute; width: 150px; height: 150px"">
                </div>
               </div>
              <div class=" col-md-4">
                                        <div class="row team--round mt-5">
                                            {% if page.division == "PLATINO" %}
                                            {% for partido in site.data.gnorte.rondas[5].partidos %}
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                {% include match-round.html %}
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            {% for partido in site.data.gsur.rondas[5].partidos %}
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                {% include match-round.html %}
                                            </div>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>


                                </div>
                            </div>

</div>

{% if post.active7 == "active" %}
<div class="tab-pane fade show active" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab"
                                tabindex="0">
                                {% endif %}


                                {% include banner-top.html %}
                                {% assign DATE = site.categories.FECHA %}
                                {%- for post in DATE -%}
                                <h1 class="exo-style">{{post.j7}}</h1>
                                <span class="exo">{{post.f7}}</span>
                                {%-endfor-%}
                                {% include banner-bottom.html %}

                                <div class="container mt-2">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex justify-content-center align-items-center"
                                                style="position: relative;">
                                                <div class="bg-cham"
                                                    style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                                </div>
                                                <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                                    src="/assets/rounds/ROUND7.webp" alt=""
                                                    style="position: absolute; width:100%; z-index: -999">
                                                <img src="/assets/skins/gyarados.webp" alt="" style="width: 550px;">
                                                <img src="/assets/gifts/shine.gif" alt=""
                                                    style="position: absolute; width: 150px; height: 150px"">
                  </div>
                 </div>
                <div class=" col-md-4">
                                                <div class="row team--round mt-5">
                                                    {% if page.division == "PLATINO" %}
                                                    {% for partido in site.data.gnorte.rondas[6].partidos %}
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                        {% include match-round.html %}
                                                    </div>
                                                    {% endfor %}
                                                    {% else %}
                                                    {% for partido in site.data.gsur.rondas[6].partidos %}
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                        {% include match-round.html %}
                                                    </div>
                                                    {% endfor %}

                                                    {% endif %}
                                                </div>
                                            </div>


                                        </div>
                                    </div>

</div>

{% if post.active8 == "active" %}
<div class="tab-pane fade show active" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab" tabindex="0">
                                        {% endif %}


                                        {% include banner-top.html %}
                                        {% assign DATE = site.categories.FECHA %}
                                        {%- for post in DATE -%}
                                        <h1 class="exo-style">{{post.j8}}</h1>
                                        <span class="exo">{{post.f8}}</span>
                                        {%-endfor-%}
                                        {% include banner-bottom.html %}

                                        <div class="container mt-2">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="d-flex justify-content-center align-items-center"
                                                        style="position: relative;">
                                                        <div class="bg-cham"
                                                            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                                        </div>
                                                        <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                                            src="/assets/rounds/ROUND8.webp" alt=""
                                                            style="position: absolute; width:100%; z-index: -999">
                                                        <img src="/assets/skins/delphox.webp" alt=""
                                                            style="width: 550px;">
                                                        <img src="/assets/gifts/shine.gif" alt=""
                                                            style="position: absolute; width: 150px; height: 150px"">
                    </div>
                   </div>
                  <div class=" col-md-4">
                                                        <div class="row team--round mt-5">
                                                            {% if page.division == "PLATINO" %}
                                                            {% for partido in site.data.gnorte.rondas[7].partidos %}
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                {% include match-round.html %}
                                                            </div>
                                                            {% endfor %}
                                                            {% else %}
                                                            {% for partido in site.data.gsur.rondas[7].partidos %}
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                {% include match-round.html %}
                                                            </div>
                                                            {% endfor %}

                                                            {% endif %}
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
</div>


{% if post.active9 == "active" %}
<div class="tab-pane fade show active" id="pills-9" role="tabpanel" aria-labelledby="pills-9-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-9" role="tabpanel"
                                                aria-labelledby="pills-9-tab" tabindex="0">
                                                {% endif %}


                                                {% include banner-top.html %}
                                                {% assign DATE = site.categories.FECHA %}
                                                {%- for post in DATE -%}
                                                <h1 class="exo-style">{{post.j9}}</h1>
                                                <span class="exo">{{post.f9}}</span>
                                                {%-endfor-%}
                                                {% include banner-bottom.html %}

                                                <div class="container mt-2">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <div class="d-flex justify-content-center align-items-center"
                                                                style="position: relative;">
                                                                <div class="bg-cham"
                                                                    style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                                                </div>
                                                                <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                                                    src="/assets/rounds/ROUND9.webp" alt=""
                                                                    style="position: absolute; width:100%; z-index: -999">
                                                                <img src="/assets/skins/mimikyu.webp" alt=""
                                                                    style="width: 550px;">
                                                                <img src="/assets/gifts/shine.gif" alt=""
                                                                    style="position: absolute; width: 150px; height: 150px"">
                      </div>
                     </div>
                    <div class=" col-md-4">
                                                                <div class="row team--round mt-5">
                                                                    {% if page.division == "PLATINO" %}
                                                                    {% for partido in
                                                                    site.data.gnorte.rondas[8].partidos %}
                                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                        {% include match-round.html %}
                                                                    </div>
                                                                    {% endfor %}
                                                                    {% else %}
                                                                    {% for partido in site.data.gsur.rondas[8].partidos
                                                                    %}
                                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                        {% include match-round.html %}
                                                                    </div>
                                                                    {% endfor %}

                                                                    {% endif %}
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
</div>

{% if post.active10 == "active" %}
<div class="tab-pane fade show active" id="pills-10" role="tabpanel" aria-labelledby="pills-10-tab" tabindex="0">
 {% else %}
<div class="tab-pane fade" id="pills-10" role="tabpanel"
                                                        aria-labelledby="pills-10-tab" tabindex="0">
                                                        {% endif %}

                                                        {% include banner-top.html %}
                                                        {% assign DATE = site.categories.FECHA %}
                                                        {%- for post in DATE -%}
                                                        <h1 class="exo-style">{{post.j10}}</h1>
                                                        <span class="exo">{{post.f10}}</span>
                                                        {%-endfor-%}
                                                        {% include banner-bottom.html %}

                                                        <div class="container mt-2">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="d-flex justify-content-center align-items-center"
                                                                        style="position: relative;">
                                                                        <div class="bg-cham"
                                                                            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                                                        </div>
                                                                        <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                                                            src="/assets/rounds/ROUND10.webp" alt=""
                                                                            style="position: absolute; width:100%; z-index: -999">
                                                                        <img src="/assets/skins/urshifu.webp" alt=""
                                                                            style="width: 550px;">
                                                                        <img src="/assets/gifts/shine.gif" alt=""
                                                                            style="position: absolute; width: 150px; height: 150px"">
                        </div>
                       </div>
                      <div class=" col-md-4">
                                                                        <div class="row team--round mt-5">
                                                                            {% if page.division == "PLATINO" %}
                                                                            {% for partido in
                                                                            site.data.gnorte.rondas[9].partidos %}
                                                                            <div
                                                                                class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                                {% include match-round.html %}
                                                                            </div>
                                                                            {% endfor %}
                                                                            {% else %}
                                                                            {% for partido in
                                                                            site.data.gsur.rondas[9].partidos %}
                                                                            <div
                                                                                class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                                {% include match-round.html %}
                                                                            </div>
                                                                            {% endfor %}

                                                                            {% endif %}
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>

 </div>

{% if post.active11 == "active" %}
<div class="tab-pane fade show active" id="pills-11" role="tabpanel" aria-labelledby="pills-11-tab" tabindex="0">
{% else %}
<div class="tab-pane fade" id="pills-11" role="tabpanel"
                                                                aria-labelledby="pills-11-tab" tabindex="0">
                                                                {% endif %}


                                                                {% include banner-top.html %}
                                                                {% assign DATE = site.categories.FECHA %}
                                                                {%- for post in DATE -%}
                                                                <h1 class="exo-style">{{post.j11}}</h1>
                                                                <span class="exo">{{post.f11}}</span>
                                                                {%-endfor-%}
                                                                {% include banner-bottom.html %}

                                                                <div class="container mt-2">
                                                                    <div class="row">
                                                                        <div class="col-8">
                                                                            <div class="d-flex justify-content-center align-items-center"
                                                                                style="position: relative;">
                                                                                <div class="bg-cham"
                                                                                    style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); z-index: -1000; position: absolute; width: 400px; height: 100%;">
                                                                                </div>
                                                                                <img class="animate__animated animate__pulse animate__slow	2s animate__infinite	infinite"
                                                                                    src="/assets/rounds/ROUND11.webp"
                                                                                    alt=""
                                                                                    style="position: absolute; width:100%; z-index: -999">
                                                                                <img src="/assets/skins/raichu.webp"
                                                                                    alt="" style="width: 550px;">
                                                                                <img src="/assets/gifts/shine.gif"
                                                                                    alt=""
                                                                                    style="position: absolute; width: 150px; height: 150px"">
                          </div>
                         </div>
                        <div class=" col-md-4">
                                                                                <div class="row team--round mt-5">
                                                                                    {% if page.division == "PLATINO" %}
                                                                                    {% for partido in
                                                                                    site.data.gnorte.rondas[10].partidos
                                                                                    %}
                                                                                    <div
                                                                                        class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                                        {% include match-round.html %}
                                                                                    </div>
                                                                                    {% endfor %}
                                                                                    {% else %}
                                                                                    {% for partido in
                                                                                    site.data.gsur.rondas[10].partidos
                                                                                    %}
                                                                                    <div
                                                                                        class="col-12 col-md-6 col-lg-6 col-xl-12">
                                                                                        {% include match-round.html %}
                                                                                    </div>
                                                                                    {% endfor %}

                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>

</div>
