<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave1}}</p>
        <span>{{page.picks1llave1}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave1}}</p>
        <span>{{page.picks2llave1}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave2}}</p>
        <span>{{page.picks1llave2}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave2}}</p>
        <span>{{page.picks2llave2}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave3}}</p>
        <span>{{page.picks1llave3}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave3}}</p>
        <span>{{page.picks2llave3}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave4}}</p>
        <span>{{page.picks1llave4}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave4}}</p>
        <span>{{page.picks2llave4}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave5}}</p>
        <span>{{page.picks1llave5}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave5}}</p>
        <span>{{page.picks2llave5}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave6}}</p>
        <span>{{page.picks1llave6}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave6}}</p>
        <span>{{page.picks2llave6}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave7}}</p>
        <span>{{page.picks1llave7}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave7}}</p>
        <span>{{page.picks2llave7}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave8}}</p>
        <span>{{page.picks1llave8}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave8}}</p>
        <span>{{page.picks2llave8}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave9}}</p>
        <span>{{page.picks1llave9}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave9}}</p>
        <span>{{page.picks2llave9}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave10}}</p>
        <span>{{page.picks1llave10}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave10}}</p>
        <span>{{page.picks2llave10}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave11}}</p>
        <span>{{page.picks1llave11}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave11}}</p>
        <span>{{page.picks2llave11}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave12}}</p>
        <span>{{page.picks1llave12}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave12}}</p>
        <span>{{page.picks2llave12}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave13}}</p>
        <span>{{page.picks1llave13}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave13}}</p>
        <span>{{page.picks2llave13}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave14}}</p>
        <span>{{page.picks1llave14}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave14}}</p>
        <span>{{page.picks2llave14}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave15}}</p>
        <span>{{page.picks1llave15}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave15}}</p>
        <span>{{page.picks2llave15}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave16}}</p>
        <span>{{page.picks1llave16}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave16}}</p>
        <span>{{page.picks2llave16}}</span>
    </div>
</div>



