<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave25}}</p>
        <span>{{page.picks1llave25}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave25}}</p>
        <span>{{page.picks2llave25}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave26}}</p>
        <span>{{page.picks1llave26}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave26}}</p>
        <span>{{page.picks2llave26}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave27}}</p>
        <span>{{page.picks1llave27}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave27}}</p>
        <span>{{page.picks2llave27}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave28}}</p>
        <span>{{page.picks1llave28}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave28}}</p>
        <span>{{page.picks2llave28}}</span>
    </div>
</div>


