<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave17}}</p>
        <span>{{page.picks1llave17}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave17}}</p>
        <span>{{page.picks2llave17}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave18}}</p>
        <span>{{page.picks1llave18}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave18}}</p>
        <span>{{page.picks2llave18}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave19}}</p>
        <span>{{page.picks1llave19}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave19}}</p>
        <span>{{page.picks2llave19}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave20}}</p>
        <span>{{page.picks1llave20}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave20}}</p>
        <span>{{page.picks2llave20}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave21}}</p>
        <span>{{page.picks1llave21}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave21}}</p>
        <span>{{page.picks2llave21}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave22}}</p>
        <span>{{page.picks1llave22}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave22}}</p>
        <span>{{page.picks2llave22}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave23}}</p>
        <span>{{page.picks1llave23}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave23}}</p>
        <span>{{page.picks2llave23}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave24}}</p>
        <span>{{page.picks1llave24}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave24}}</p>
        <span>{{page.picks2llave24}}</span>
    </div>
</div>

