{% if page.ID == "COL" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "COL" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "GX" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "GX" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "HOENN" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "HOENN" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "NEO" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "NEO" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "OVG" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "OVG" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "PLAT" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "PLAT" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "TAD" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "TAD" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "ЯK" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "ЯK" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "TUT" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "TUT" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "MEXA" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "MEXA" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "RUBY" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "RUBY" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}





{% if page.ID == "AD" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "AD" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "E" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "E" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "7Z" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "7Z" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "PEARL" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "PEARL" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "STMN" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "STMN" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "TSR" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "TSR" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "MT" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "MT" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "DMD" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "DMD" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "POA" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "POA" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "SM" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "SM" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "EVL" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "EVL" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}





