<div class="d-none d-md-block">
  <div class="card-round-banner">
    <div class="card-round-team">
      <a href="{{post.url}}">
        <img src="/assets/logos/{{post.ID}}.webp" alt="" class="img-fluid">
      </a>
    </div>

    {% include rounds.html %}

    <div class="card-round-lider">
      <h3>{{post.order}} • {{post.puntos}} PTS • {{post.ID}}</h3>
    </div>
    

    <div class="card-back">
        {% if post.ID == "7Z" %}
        <div class="card-color-left S7Z"> </div>  
        {% else %}
        <div class="card-color-left {{post.ID}}"> </div> 
        {% endif %} 
    </div>

    <div class="banner-left {{post.secondcolor}}"></div>
    <div class="banner-right {{post.secondcolor}}"></div>
    
  </div>
</div>