

{% if page.ID == "PE" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "PE" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "DBO" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "DBO" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "DTY" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "DTY" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "PLAGA" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "PLAGA" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "NEO" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "NEO" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "OVG" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "OVG" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}




{% if page.ID == "RK" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "ЯK" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}



{% if page.ID == "ZAFIRO" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "ZAFIRO" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}






{% if page.ID == "AD" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "AD" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}




{% if page.ID == "STMN" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "STMN" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}


{% if page.ID == "TM" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "TM" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}


{% if page.ID == "SM" %}
  {% assign equipo = site.data.pnorte.norte | where: "equipo", "SM" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}



{% if page.ID == "GX" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "GX" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}




{% if page.ID == "SPACE" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "SPACE" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "ENIGMA" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "ENIGMA" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "NS" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "NS" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "TUT" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "TUT" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "TUTW" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "TUTW" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "RNTX" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "RNTX" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "CL" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "CL" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}


{% if page.ID == "AOGIRI" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "AOGIRI" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "TAD" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "TAD" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "OBS" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "OBS" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}

{% if page.ID == "AMT" %}
  {% assign equipo = site.data.psur.sur | where: "equipo", "AMT" | first %}
  {% assign suma = equipo.M1 | default: 0 | plus: equipo.M2 | default: 0 | plus: equipo.M3 | default: 0 | plus: equipo.M4 | default: 0 | plus: equipo.M5 | default: 0 | plus: equipo.M6 | default: 0 | plus: equipo.M7 | default: 0 | plus: equipo.M8 | default: 0 | plus: equipo.M9 | default: 0 | plus: equipo.M10 | default: 0 | plus: equipo.M11 | default: 0 %}
  {% include banner-team.html %}
{% endif %}




