<div class="container-fluid banner_bg_team bg-cham">
    <div class="container banner_team">
      <a href="/assets/logos/{{equipo.ID}}.png" role="button" download="{{ equipo.equipo | escape }}.png">
        <img src="/assets/logos/{{equipo.ID}}.webp" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
      <div class="record-line">
        {% if page.ligas.size == 1 %}
        <div class="trofeos">
          <img src="/assets/smalls/LI-TROFEO.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.ligas}}</span>
        </div>
        {% else %}
        {% endif %}
        {% if page.cxf.size == 1 %}
        <div class="trofeos ms-2">
          <img src="/assets/smalls/CXF.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.cxf}}</span>
        </div>
        {% else %}
        {% endif %}
        {% if equipo.cham.size == 1 %}
        <div class="trofeos ms-2">
          <img src="/assets/smalls/CHAM.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.cham}}</span>
        </div>
        {% else %}
        {% endif %}
      </div>
        <h1 class="exo-style d-none d-md-block">{{page.title}}</h1>
        <span class="exo d-none d-md-block">{{equipo.ID}} ● {{suma}} puntos</span>
        <div class="region">
          <div class="localization">
            <img src="https://flagcdn.com/h20/{{page.pais}}.webp"  alt="REGION: {{equipo.region}}">
          <span class="ms-2"> {{page.region}}</span>
          </div>
          {% include rounds-teams.html %}
        </div>
      </div>
    </div>
    <div class="container banner-info d-block d-sm-none p-0">
      <h1 class="exo-style">{{equipo.equipo}}</h1>
      <span class="exo">{{equipo.ID}} ● {{equipo.puntos}} puntos</span>
      <div class="region">
        <img src="https://flagcdn.com/h20/{{page.pais}}.webp"  alt="REGION: {{page.region}}" class="flag">
        <span class="ms-2"> {{page.region}}</span>
      </div>
    </div>
</div>

<div class="container-fluid bg-cham d-block d-md-none">
    <div class="container record-mobile bbt">
      {% include rounds-teams.html %}
  </div>
  </div>


