<div class="card-round-bans-square">
    <div class="card-round-team">
      <a href="{{post.url}}">
        <img src="/assets/picks/{{post.title}}.webp" alt="" class="img-fluid">
      </a>
    </div>


    <div class="card-round-title">
      <h2>{{post.title}}</h2>
      <span>{{post.rol}}</span>
    </div>

    <div class="card-color-pattern"> </div>


          <div class="card-back {{post.rol}}">
         
   
            <div class="card-color-pattern"> </div>
    
          </div>

        </div>
      </div>
  



    </div>
  </div>