<div class="card-license-bans-square">
    <div class="card-license-pick">
      <a href="{{post.url}}">
        <img src="/assets/picks/{{post.title}}.webp" alt="" class="img-fluid">
      </a>
    </div>


    <div class="card-round-title">
      <h2 class="exo-style">{{post.title}}</h2>
      <span>{{post.rol}}</span>
    </div>

    <div class="card-color-pattern"> </div>
          <div class="card-back {{post.rol}}">
            <div class="card-color-pattern"> </div>
          </div>

</div>
   