<div class="bans-section">


    <h5 class="text-dark mb-3">Partidos Vía Stream</h5>
    <div id="partidos-con-stream-container" class="schedule-content">

    </div>


    <h5 class="mt-5">BANS</h5>

{% assign bans = site.licencias | where: "ban", true %}

{% if bans.size > 0 %}
  {% for lic in bans %}
    <a href="{{ lic.url }}">
      <div class="card-ban-license">
        <div class="card-ban-pick">
          <img src="/assets/licencias/{{ lic.nombre }}.webp" alt="{{ lic.nombre }}" class="img-fluid">
        </div>
        <div class="card-round-title">
          <h2>{{ lic.nombre }}</h2>
          <span>{{ lic.rol }}</span>
        </div>
        <div class="card-back">
          <div class="card-color-left {{ lic.rol }}"></div>
          <div class="card-color-right bg-cham"></div>
          <div class="card-color-logo">
            <img src="/assets/logos/LIGA-INDIGO.webp" alt="LIGA INDIGO">
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
{% else %}
  <p>Por el momento no hay Licencias Unite en Zona de BANS</p>
{% endif %}

</div>