






{% if page.campeon.size > 1 %}
<!-- CAMPEON -->
<div class="card-round-list mb-0">
    <div class="card-round-team">
        <a href="/liga-indigo-dashboard">
          <img src="/assets/logos/{{page.campeon}}.webp" alt="" class="img-fluid">
        </a>
        <div class="card-round-title">
            <p>CAMPEÓN</h2>
            <p>{{page.campeon}}</p>
          </div>
    </div>
    <div class="card-round-place">
    </div>
      <div class="card-back bg-cham">
      </div>
</div>
{%else %}
<div class="card-round-list mb-0">
    <div class="card-round-team">
        <a href="/liga-indigo-dashboard">
          <img src="/assets/logos/LIGA-INDIGO.webp" alt="" class="img-fluid">
        </a>
        <div class="card-round-title">
            <p>CAMPEÓN</h2>
            <p>?</p>
          </div>
    </div>
    <div class="card-round-place">
    </div>
      <div class="card-back bg-cham">
        <div class="card-color-left {{post.ID}}"> </div>  
      </div>
</div>
{% endif %}