<div class="row">
    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 -%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2   mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">01</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    {%- endfor -%}


    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:1-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">02</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:2-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">03</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:3-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">04</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:4-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">05</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:5-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">06</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:6-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">07</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:7-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">08</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:8-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">09</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}

    {% assign LIGA = site.categories.LI | sort: "puntos"
    | reverse %}
    {%- for post in LIGA limit:1 offset:9-%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
      <section>
        <div class="card__section" style="--color: hsl(246, 94%, 28%);">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <p class="number" style="--color: hsl(0, 0%, 100%);">10</p>
              </div>
              <div class="img__athlete">
               <img src="{{post.maincover}}" alt="{{post.title}}">
               
              </div>
            </div>
            <div class="card__text">
              <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
              <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    {%- endfor -%}



  </div>