<div class="row">
    {% assign LIGA = site.categories.temporada %}
    {%- for post in LIGA -%}
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
      <section>
        <div class="card__section" style="--color: hsl(44.71deg 100% 50% / 64%)">
          <div class="card__border"></div>
          <div class="card__border-line"></div>
          <div class="card__inner">
            <div class="card__img">
              <div class="img__team">
                <img src="/assets/logos/LIGA-INDIGO-ALT.webp" alt="{{post.title}}">
              </div>
              <div class="img__athlete">
               <a href="{{post.url}}">
                <img src="/assets/logos/{{post.campeon}}.webp" alt="{{post.title}}">
               </a>  
              </div>
            </div>
            <div class="card__text">
              <div class="card__type " style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.temporada}}</div>
              <h1 class="name text-center" style="--color: hsl(0, 0%, 100%);">{{post.org | truncate: 12}}</h1>
              <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    {%- endfor -%}
</div>