             {%- for post in site.categories.logos -%}
            <div class="col-12 d-block d-md-none">            
                <div class="card__container mb-2">
                  <div class="card__media"></div>
                  <div class="card__tittle">
                    <h4  class="mt-3" style="background: {{post.background}};">{{ post.title | escape }}</h4>
                    <a class="btn btn-outline-success w-100" href="{{post.maincover}}" role="button" download="{{ post.title | escape }}.png">DESCARGAR</a>
                  </div>
                  <div class="card__background" style="background: {{post.background}};">
                    <img src="{{post.maincover}}" class="drop img-fluid" alt="">
                  </div>
                  
                </div>
            
          </div>
          {%- endfor -%}
