<div class="col-md-6 col-lg-3 col-xl-2">
    <div class="card-round-roster">
        <div class="card-round-team">
            <a href="{{post.url}}">
              <img src="/assets/avatars/{{jugador.avatar}}.webp" alt="" class="img-fluid">
            </a>
        </div>
       
          <div class="card-round-title">
            <h2>{{jugador.nickname | truncate: 15}}</h2>
            <span>{{jugador.ID}}</span>
          </div>

  

          <div class="card-back">
            
            {% if page.ID == "7Z" %}
            <div class="card-color-left S7Z"> </div>
            {% else %}
            <div class="card-color-left {{page.ID}}"> </div>
            {% endif %}

      

            <div class="card-color-right bg-cham"></div>
            <div class="card-color-logo">
              <img src="/assets/logos/LIGA-INDIGO.webp" alt="">
            </div>

          </div>

    </div>
  </div>