<div class="card-preview-roster">
    <div class="card-mvp">
     <a href="{{post.url}}"> <img src="/assets/avatars/{{post.sex}}.webp" alt="{{post.title}}"></a>
     <div class="card-mvp-title">
       <p class="mvp-title">{{post.title | truncate: 12}}</p>
       <span>{{post.team}} 
        {%if post.rol.size > 2 %}
        • {{post.rol}}
        {%else%}

        {%endif%}

       </span>
     </div>
   </div>
   <div class="card-mvp-number">
     <p class="mvp-number"></p>
   </div>
   <div class="card-back">
     <div class="card-color-left {{post.team}}"> </div>  

     
   </div>
 </div>