<div class="row">
    <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
        <div class="container match {{page.bg1}}">
            <div class="matchTeams mb-0">
                <p>LinBlakeTTV</p>
                <span>BLK-luis205, LinBlakeTTV</span>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Friendly Team</p>
                    <span>Hg Perron. HG Jimmy</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Mocitos</p>
                    <span>る・Nebula・, る・Hakari・</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Las Buchonas Pic..</p>
                    <span>Kuromíツ, Mymelody</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Los Erizos Locos</p>
                    <span>SHxErizaLoca, SH×ErizoLoco </span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Simojotrols</p>
                    <span>Hileriux, ZN • Juancho</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Loliverso</p>
                    <span>益HG-Trevor, 益HG-OrcoBC</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Los Changos</p>
                    <span>SR•Javi777, SЯ・Finn</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>La princesa y...</p>
                    <span>E7・Xerg, MyştīcWûłf?</span>
                </div>
            </div>
            </div>

        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Reino cientifico</p>
                    <span>LGN • Kohaku, LGN • Senku</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Barrenderos ..</p>
                    <span>heavyaim, Julz's</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Top Frostbite</p>
                    <span>Efesto, profe Serna</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Bot frostbite </p>
                    <span>Netherwipe,Dr Mario</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>D’Olympia</p>
                    <span>Alee_Høps, TGS • PHOENIX</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Poketaxies</p>
                    <span>	
                        Chrissky, Joseronni</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Vuyainas Po...</p>
                    <span>LGN • Allie, LGN • Jishi</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Terneritos</p>
                    <span>ELPREMIUMPRO, 	
                        Anysus</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Toñitos</p>
                    <span>DúodeTony°, Tonyval°</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>SDT</p>
                    <span>SDT-Profesor, T2_Kuro</span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Reyes del Mar </p>
                    <span>EK • Isbjorn, EK • Ixchel

                    </span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>Rakiu</p>
                    <span>Yukki, HaiLuoyin                </span>
                </div>
            </div>
            </div>
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>2 de espadas</p>
                    <span>DFs•ZEILAZ, DFs•Sam</span>
                </div>
            </div>
            </div>

            
        <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
            <div class="container match {{page.bg1}}">
                <div class="matchTeams mb-0">
                    <p>El Chapo</p>
                    <span>SoyOlii, Mael</span>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
                <div class="container match {{page.bg1}}">
                    <div class="matchTeams mb-0">
                        <p>Duo Cinema</p>
                        <span>@Frice, SoSadSeedax</span>
                    </div>
                </div>
                </div>
            <div class="col-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column justify-content-center align-items-center">
                <div class="container match {{page.bg1}}">
                    <div class="matchTeams mb-0">
                        <p>OkkotsuSimps</p>
                        <span>TroncioMua, ZapOkkotsu</span>
                    </div>
                </div>
                </div>
</div>



