<div class="container">

    <div class="teams-table " id="norte">
    <h1 class="teams-title">FASE FINAL</h1>
   </div>

    <div class="tournament-bracket tournament-bracket--rounded ">                                                     
      <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
        <h3 class="tournament-bracket__round-title">4TOS DE FINAL</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <div class="bracket-key">
                <span>LLAVE 1</span>
              </div>
              <div class="bracket-round-list">
                <div class="bracket-round-team">
                  <a href="/teams/{{page.F41LOCAL}}">
                    <img src="/assets/logos/{{page.F41LOCAL}}.webp" alt="" class="img-fluid">
                  </a>
                
                </div>

            <div class="round-titles">
                <div class="card-round-promo left">
                    <h6>{{page.F41LOCAL}}</h6>
                </div>
                <div class="card-round-promo">
                  <span>{{page.F1}}</span>
                  <h6>VS</h6>
                  <span>{{page.H1}}</span>
                </div>
                <div class="card-round-promo right">
                    <h6>{{page.F41OUT}}</h6>
                </div>
            </div>


                <div class="bracket-round-team-right">
                 
                  <a href="/teams/{{page.F41OUT}}">
                    <img src="/assets/logos/{{page.F41OUT}}.webp" alt="" class="img-fluid">
                  </a>
                </div>
           
              
                  <div class="card-back">
                    <div class="card-color-left {{page.F41LOCAL}}"> </div>  
                    <div class="card-color-right {{page.F41OUT}}"> </div>  
                  </div>
      
              </div>
              <div class="bracket-stream">
                <span>STREAM</span>
              </div>
            </div>
          </li>
  
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
                <div class="bracket-key">
                    <span>LLAVE 2</span>
                  </div>
                  <div class="bracket-round-list">
                    <div class="bracket-round-team">
                      <a href="/teams/{{page.F42LOCAL}}">
                        <img src="/assets/logos/{{page.F42LOCAL}}.webp" alt="" class="img-fluid">
                      </a>
                    
                    </div>
    
                <div class="round-titles">
                    <div class="card-round-promo left">
                        <h6>{{page.F42LOCAL}}</h6>
                    </div>
                    <div class="card-round-promo">
                      <span>{{page.F1}}</span>
                      <h6>VS</h6>
                      <span>AT LLAVE 1</span>
                    </div>
                    <div class="card-round-promo right">
                        <h6>{{page.F42OUT}}</h6>
                    </div>
                </div>
    
                    <div class="bracket-round-team-right">
                      <a href="/teams/{{page.F42OUT}}">
                        <img src="/assets/logos/{{page.F42OUT}}.webp" alt="" class="img-fluid">
                      </a>
                    </div>
                                 
                      <div class="card-back">
                        <div class="card-color-left {{page.F42LOCAL}}"> </div>  
                        <div class="card-color-right {{page.F42OUT}}"> </div>  
                      </div>
                  </div>
                  <div class="bracket-stream">
                    <span>STREAM</span>
                  </div>
            </div>
          </li>

          <li class="tournament-bracket__item">
             <div class="tournament-bracket__match" tabindex="0">
                <div class="bracket-key">
                    <span>LLAVE 3</span>
                  </div>
                  <div class="bracket-round-list">
                    <div class="bracket-round-team">
                      <a href="/teams/{{page.F43LOCAL}}">
                        <img src="/assets/logos/{{page.F43LOCAL}}.webp" alt="" class="img-fluid">
                      </a>
                    
                    </div>
    
                <div class="round-titles">
                    <div class="card-round-promo left">
                        <h6>{{page.F43LOCAL}}</h6>
                    </div>
                    <div class="card-round-promo">
                      <span>{{page.F2}}</span>
                      <h6>VS</h6>
                      <span>{{page.H1}}</span>
                    </div>
                    <div class="card-round-promo right">
                        <h6>{{page.F43OUT}}</h6>
                    </div>
                </div>
    
                    <div class="bracket-round-team-right">
                      <a href="/teams/{{page.F43OUT}}">
                        <img src="/assets/logos/{{page.F43OUT}}.webp" alt="" class="img-fluid">
                      </a>
                    </div>
                                 
                      <div class="card-back">
                        <div class="card-color-left {{page.F43LOCAL}}"> </div>  
                        <div class="card-color-right {{page.F43OUT}}"> </div>  
                      </div>
                  </div>
                  <div class="bracket-stream">
                    <span>STREAM</span>
                  </div>
            </div>
          </li>
  
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
                <div class="bracket-key">
                    <span>LLAVE 4</span>
                  </div>
                  <div class="bracket-round-list">
                    <div class="bracket-round-team">
                      <a href="/teams/{{page.F44LOCAL}}">
                        <img src="/assets/logos/{{page.F44LOCAL}}.webp" alt="" class="img-fluid">
                      </a>
                    
                    </div>
    
                <div class="round-titles">
                    <div class="card-round-promo left">
                        <h6>{{page.F44LOCAL}}</h6>
                    </div>
                    <div class="card-round-promo">
                      <span>{{page.F2}}</span>
                      <h6>VS</h6>
                      <span>AT LLAVE 3</span>
                    </div>
                    <div class="card-round-promo right">
                        <h6>{{page.F44OUT}}</h6>
                    </div>
                </div>
    
                    <div class="bracket-round-team-right">
                      <a href="/teams/{{page.F44OUT}}">
                        <img src="/assets/logos/{{page.F44OUT}}.webp" alt="" class="img-fluid">
                      </a>
                    </div>
                                 
                      <div class="card-back">
                        <div class="card-color-left {{page.F44LOCAL}}"> </div>  
                        <div class="card-color-right {{page.F44OUT}}"> </div>  
                      </div>
                  </div>
                  <div class="bracket-stream">
                    <span>STREAM</span>
                  </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--semifinals">
        <h3 class="tournament-bracket__round-title">SEMIFINALES</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
                <div class="tournament-bracket__match" tabindex="0">
                    <div class="bracket-key">
                        <span>LLAVE 5</span>
                    </div>
                      {% include SEMIFINAL1.html %}
                      <div class="bracket-stream">
                        <span>STREAM</span>
                      </div>
                </div>
        
            </div>
          </li>
  
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
                <div class="tournament-bracket__match" tabindex="0">
                    <div class="bracket-key">
                        <span>LLAVE 6</span>
                    </div>
                    {% include SEMIFINAL2.html %}
                      <div class="bracket-stream">
                        <span>STREAM</span>
                      </div>
                </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--bronze">
        <h3 class="tournament-bracket__round-title">FINAL</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
                <div class="bracket-key">
                    <span>LLAVE 7</span>
                </div>
                {% include gran-final.html %}
                  <div class="bracket-stream">
                    <span>STREAM</span>
                  </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--gold">
        <h3 class="tournament-bracket__round-title">CAMPEON</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
      
              {% include campeon.html %}
            
            </div>
          </li>
        </ul>
      </div>
    </div>
 
  </div>