{%if page.ronda == "1" %}
{% assign DATE = site.categories.FECHA  %}
{%- for page in DATE -%}
<span>{{page.f1}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "2" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f2}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "3" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f3}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "4" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f4}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "5" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f5}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "6" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f6}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "7" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f7}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "8" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f8}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "9" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f9}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "10" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f10}}</span>
{%-endfor-%}
{% endif %}

{%if page.ronda == "11" %}
{% assign DATE = site.categories.FECHA   %}
{%- for page in DATE -%}
<span>{{page.f11}}</span>
{%-endfor-%}
{% endif %}




{%if post.ronda == "1" %}
{% assign DATE = site.categories.FECHA  %}
{%- for post in DATE -%}
<span>{{post.f1}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "2" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f2}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "3" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f3}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "4" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f4}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "5" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f5}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "6" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f6}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "7" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f7}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "8" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f8}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "9" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f9}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "10" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f10}}</span>
{%-endfor-%}
{% endif %}

{%if post.ronda == "11" %}
{% assign DATE = site.categories.FECHA   %}
{%- for post in DATE -%}
<span>{{post.f11}}</span>
{%-endfor-%}
{% endif %}