<footer>
  <div class="indigo-yellow py-5  py-xl-8 py-xxl-9 mt-5">
   <div class="container overflow-hidden">
     <div class="row gy-5 gy-md-0 align-items-md-center">
       <div class="col-xs-12 col-md-7 order-1 order-md-0">
         <div class="copyright text-center text-md-start text-white">
            <p>
                 &copy; 2025. Algunos derechos reservados <b>XF05 eSports 2022-2025</b>. La presentación, explicación e información de las diferentes secciones son de la autoría de su webmaster, 
             bajo una licencia 
             <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" class="text-white text-decoration-none" target="_blank" rel="noopener noreferrer">
                <b>Creative Commons Atribución-No Comercial-CompartirIgual 4.0 Internacional</b></a>.
            </p> 
             <p class="mb-0">
                    <b>Nintendo, Pokémon y el resto de nombres relacionados son &copy; de Nintendo, Creatures y GameFreak 1996-2025.</b>
                </p>  
             <p class="mb-0">
                    Este es un sitio de fans no oficial. Para más detalles, consulta nuestros <a href="avisos-legales.html" class="text-white text-decoration-none">Avisos Legales</a> |
            <a href="politica-privacidad.html" class="text-white text-decoration-none">Política de Privacidad</a> |
            <a href="politica-cookies.html" class="text-white text-decoration-none">Política de Cookies</a>
                </p> 
        </div>
         <div class="credits text-white text-center text-md-start mt-2 fs-8">
          #NacionUnite
         </div>
       </div>

       <div class="col-xs-12 col-md-5 order-0 order-md-1">
         <div class="social-media-wrapper">
           <ul class="list-unstyled m-0 p-0 d-flex justify-content-center justify-content-md-end">
             <li class="me-3">
               <a href="https://www.facebook.com/profile.php?id=100079075191093" class="link-light link-opacity-75-hover" target="_blank">
                 <i class="fa-brands fa-facebook"></i>
               </a>
             </li>
             <li class="me-3">
               <a href="https://www.youtube.com/channel/UCBq7KYCM-cQJFuUImuqTklA" class="link-light link-opacity-75-hover" target="_blank">
                 <i class="fa-brands fa-youtube"></i>
               </a>
             </li>
             <li class="me-3">
               <a href="https://discord.gg/8mYH8EyD9P" class="link-light link-opacity-75-hover" target="_blank">
                 <i class="fa-brands fa-discord"></i>
               </a>
             </li>
             <li class="">
               <a href="https://www.twitch.tv/x_force05" class="link-light link-opacity-75-hover" target="_blank">
                 <i class="fa-brands fa-twitch"></i>
               </a>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
</footer>