<div class="row">

    <div class="col-12 col-md-6">
        <img src="/assets/mis/reglig.webp" alt="">
        <p class="mt-1">Antes de seguir con el proceso de INSCRIPCIÓN favor de leer el 
            <a class="text-info" href="/reglamento-liga-indigo" target="_blank">REGLAMENTO</a>, 
            si eres equipo nuevo favor de enviar mensaje al ADMINISTRADOR para ver disponibliidad de la Liga Índigo asi mismo cualquier duda sobre la inscripción.</p>
    
            <p>El logo del equipo se pedirá cuando la inscripción este correctamente.</p>

            <p>El número de cuenta para el pago de inscripción será proporcionado por ADMINISTRADOR.</p>

            <p>Todos los datos proporcionados serán manejados con confidencialidad. La organización de la Liga Índigo se maneja en grupos de WhatsApp; si usted está de acuerdo con estos terminos y condiciones se podrá inscribir a la Liga Índigo.</p>
        </div>


    <div class="col-12 col-md-6">
        <h1 class="mb-0" id="reg">REGISTRO</h1>
        <span>Registro abierto hasta el {{page.fecha}} o hasta no contar con cupo disponible.</span>
   
      <!-- modify this form HTML and place wherever you want your form -->
      <form action="https://formsubmit.co/torneoxforce@gmail.com" method="POST" id="form" class="row g-3"
        enctype="multipart/form-data">
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">TEAM*</label>
          <input type="text" name="team" id="validationCustom01" class="form-control" id="validationCustom01" required
            placeholder="XFORCE" minlength="2" maxlength="20">

        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">TAG*</label>
          <input type="text" name="tag" minlength="1" maxlength="4" class="form-control" id="validationCustom02"
            required placeholder="XF">

        </div>

        
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">EMAIL*</label>
          <input type="email" name="email" class="form-control" id="validationCustom03" required autocomplete="email"
            placeholder="torneo@gmail.com">
        </div>
        <div class="col-md-2">
          <label for="validationCustom04" class="form-label">LADA*</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">+</span>
            <input type="text" name="lada" class="form-control" id="validationCustom04" name="lada"
              aria-describedby="inputGroupPrepend" minlength="1" maxlength="3" pattern="[0-9]{3}" placeholder="52"
              required>
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom05" class="form-label">WHATSAPP*</label>
          <input type="tel" name="whatsapp" id="validationCustom05" class="form-control" minlength="12" maxlength="12"
            required placeholder="000-000-0000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
        </div>

        <div class="col-md-8">
            <label for="validationCustomUsername06" class="form-label">NICKNAME CAPITAN (JUGADOR 1)*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="validationCustomUsername06" name="nickname"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationCustomUsername07" class="form-label">ID*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="validationCustomUsername07" name="idjuego"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7" required>
            </div>
        </div>

        <div class="col-md-8">
            <label for="nick2" class="form-label">NICKNAME (JUGADOR 2)*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick2" name="nickname2"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp2" class="form-label">ID*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp2" name="idjuego2"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7" required>
            </div>
        </div>

        <div class="col-md-8">
            <label for="nick3" class="form-label">NICKNAME (JUGADOR 3)*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick3" name="nickname3"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp3" class="form-label">ID*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp3" name="idjuego3"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7" required>
            </div>
        </div>

        <div class="col-md-8">
            <label for="nick4" class="form-label">NICKNAME (JUGADOR 4)*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick4" name="nickname4"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp4" class="form-label">ID*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp4" name="idjuego4"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7" required>
            </div>
        </div>

        <div class="col-md-8">
            <label for="nick5" class="form-label">NICKNAME (JUGADOR 5)*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick5" name="nickname5"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12" required>
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp5" class="form-label">ID*</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp5" name="idjuego5"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7" required>
            </div>
        </div>

        <div class="col-md-8">
            <label for="nick6" class="form-label">NICKNAME (JUGADOR 6)</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick6" name="nickname6"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12">
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp6" class="form-label">ID</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp6" name="idjuego6"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7">
            </div>
        </div>

        <div class="col-md-8">
            <label for="nick7" class="form-label">NICKNAME (JUGADOR 7)</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick7" name="nickname7"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12">
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp7" class="form-label">ID</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp7" name="idjuego7"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7">
            </div>
        </div>


        <div class="col-md-8">
            <label for="nick8" class="form-label">NICKNAME (JUGADOR 8)</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="nick8" name="nickname8"
                aria-describedby="inputGroupPrepend" minlength="3" maxlength="12">
            </div>
        </div>

        <div class="col-md-4">
            <label for="idp8" class="form-label">ID</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">#</span>
              <input type="text" class="form-control" id="idp8" name="idjuego8"
                aria-describedby="inputGroupPrepend" minlength="7" maxlength="7">
            </div>
        </div>
    



        <div class="col-md-12">
          <label class="form-label" for="validationCustom06">COMPROBANTE DE PAGO*</label>
          <input type="file" class="form-control" name="attachment" aria-label="file example" id="validationCustom06"
            required accept="image/png, image/jpeg">
        </div>

        <div class="col-md-12">
          <button class="btn btn-primary w-100" id="btn" type="submit">ENVIAR</button>
          <span>* Respuesta obligatoria</span>
        </div>
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_subject" value="INSCRIPCION MARZO">
        <input type="hidden" name="_autoresponse" value="INSCRIPCIÓN EXITOSA">
        <input type="hidden" name="_template" value="table">

      </form>


    </div>

    

</div>