<div class="row g-5  mb-3">
    <h4 class=""><b>13 DE MAYO</b></h4> 
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <span>4TO DE FINAL</span>
            <p class="text-left">CELESTIAL S</p>
            <p class="text-left ">PHOBIUS AURA</p>
            
        </div>
        <div class="matchTeams">
            <span>21:00</span>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div>
    </div>   
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
        <div class="container match d-flex justify-content-between align-items-center text-left">
            <div class="matchTeams">
                <span>4TO DE FINAL</span>
                <p class="text-left">TAEM AETHER</p>
                <p class="text-left ">TEAM FLARE</p>
                
            </div>
            <div class="matchTeams">
                <span>21:45*</span>
                <p class="text-left">0</p>
                <p class="text-left">0</p>
            </div>
        </div>   
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left">
                <div class="matchTeams">
                    <span>4TO DE FINAL</span>
                    <p class="text-left">NAMELESS</p>
                    <p class="text-left ">TEAM MACROCOS..</p>
                    
                </div>
                <div class="matchTeams">
                    <span>22:30*</span>
                    <p class="text-left">0</p>
                    <p class="text-left">0</p>
                </div>
            </div>   
            </div>
</div>


<div class="row g-5  mb-3">
    <h4 class=""><b>14 DE MAYO</b></h4> 
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <span>4TO DE FINAL</span>
            <p class="text-left">MEXICAN OWLS</p>
            <p class="text-left ">E7 JANUS</p>
            
        </div>
        <div class="matchTeams">
            <span>21:00</span>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div>
    </div>   
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
        <div class="container match d-flex justify-content-between align-items-center text-left">
            <div class="matchTeams">
                <span>ROUND 1 LB 9</span>
                <p class="text-left">TBD</p>
                <p class="text-left ">TBD</p>
                
            </div>
            <div class="matchTeams">
                <span>21:45*</span>
                <p class="text-left">0</p>
                <p class="text-left">0</p>
            </div>
        </div>   
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left">
                <div class="matchTeams">
                    <span>ROUND 1 LB 10</span>
                    <p class="text-left">TBD</p>
                    <p class="text-left ">TBD</p>
                    
                </div>
                <div class="matchTeams">
                    <span>22:30*</span>
                    <p class="text-left">0</p>
                    <p class="text-left">0</p>
                </div>
            </div>   
            </div>
</div>

<div class="row g-5  mb-3">
    <h4 class=""><b>15 DE MAYO</b></h4> 
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <span>SEMIFINAL 5</span>
            <p class="text-left">TBD</p>
            <p class="text-left ">TBD</p>
            
        </div>
        <div class="matchTeams">
            <span>21:00</span>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div>
    </div>   
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
        <div class="container match d-flex justify-content-between align-items-center text-left">
            <div class="matchTeams">
                <span>SEMIFINAL 6</span>
                <p class="text-left">TBD</p>
                <p class="text-left ">TBD</p>
                
            </div>
            <div class="matchTeams">
                <span>21:45*</span>
                <p class="text-left">0</p>
                <p class="text-left">0</p>
            </div>
        </div>   
        </div>
    

    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
        <div class="container match d-flex justify-content-between align-items-center text-left">
            <div class="matchTeams">
                <span>ROUND 2 LB 11</span>
                <p class="text-left">TBD</p>
                <p class="text-left ">TBD</p>
                
            </div>
            <div class="matchTeams">
                <span>22:30*</span>
                <p class="text-left">0</p>
                <p class="text-left">0</p>
            </div>
        </div>   
        </div>

      
</div>

<div class="row g-5  mb-3">
    <h4 class=""><b>16 DE MAYO</b></h4> 
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <span>ROUND 2 LB 12</span>
            <p class="text-left">TBD</p>
            <p class="text-left ">TBD</p>
            
        </div>
        <div class="matchTeams">
            <span>21:00</span>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div>
    </div>   
    </div>

        <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left">
                <div class="matchTeams">
                    <span>ROUND 3 LB</span>
                    <p class="text-left">TBD</p>
                    <p class="text-left ">TBD</p>
                    
                </div>
                <div class="matchTeams">
                    <span>21:45*</span>
                    <p class="text-left">0</p>
                    <p class="text-left">0</p>
                </div>
            </div>   
            </div>

        <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left">
                <div class="matchTeams">
                    <span>GRAN FINAL</span>
                    <p class="text-left">TBD</p>
                    <p class="text-left ">TBD</p>
                    
                </div>
                <div class="matchTeams">
                    <span>22:30*</span>
                    <p class="text-left">0</p>
                    <p class="text-left">0</p>
                </div>
            </div>   
            </div>
</div>  

<div class="row g-5  mb-3">
    <h4 class=""><b>17 DE MAYO</b></h4> 
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <span>LOSSERS FINAL</span>
            <p class="text-left">TBD</p>
            <p class="text-left ">TBD</p>
            
        </div>
        <div class="matchTeams">
            <span>21:00</span>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div>
    </div>   
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
        <div class="container match d-flex justify-content-between align-items-center text-left">
            <div class="matchTeams">
                <span>GRAN FINAL</span>
                <p class="text-left">TBD</p>
                <p class="text-left ">TBD</p>
                
            </div>
            <div class="matchTeams">
                <span>21:45*</span>
                <p class="text-left">0</p>
                <p class="text-left">0</p>
            </div>
        </div>   
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left">
                <div class="matchTeams">
                    <span>GRAN FINAL RESET</span>
                    <p class="text-left">TBD</p>
                    <p class="text-left ">TBD</p>
                    
                </div>
                <div class="matchTeams">
                    <span>22:30*</span>
                    <p class="text-left">0</p>
                    <p class="text-left">0</p>
                </div>
            </div>   
            </div>
</div>  

<div class="alert alert-primary" role="alert">
    *Horario contemplado, tener en cuenta que pueden ser de 5min a 15min más o menos al horario establecido, pendienetes al chat del grupo del torneo o al stream capitanes de cada equipo 
  </div>