<div class="container my-5">
    <div class="leagues">
   
        <h1 class="leagues--title">EQUIPOS LIGA INDIGO</h1>

      <div class="leagues--list">
        <h1 class="leagues--title">PLATINO</h1>
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte-%}
        <img src="/assets/logos/{{post.ID}}.png" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
        {%- endfor -%}
      </div>
      <div class="leagues--list">
        <h1 class="leagues--title">ORO</h1>
        {% assign norte = site.categories.GSUR | sort: "puntos"| reverse %}
        {%- for post in norte-%}
        <img src="/assets/logos/{{post.ID}}.png" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
        {%- endfor -%}
      </div>
      <!-- <div class="leagues--list">
        <h1 class="leagues--title">PLATA</h1>
        {% assign norte = site.categories.PLATA %}
        {%- for post in norte-%}
        <img src="/assets/logos/{{post.ID}}.png" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
        {%- endfor -%}
      </div>
      <div class="leagues--list">
        <h1 class="leagues--title">BRONCE</h1>
        {% assign norte = site.categories.BRONCE %}
        {%- for post in norte-%}
        <img src="/assets/logos/{{post.ID}}.png" alt="Equipo: {{post.ID}}" loading="lazy" class="leagues--img">
        {%- endfor -%}
      </div> -->
    </div>
  </div>

  