<div class="row g-5 mb-1">
            
    <div class="col-10 col-md-10">
        <h4><b>EQUIPOS PARTIPANTES</b></h4>
        {% assign LIGA = site.categories.LJ06  %}
        {%- for post in LIGA-%}
       
            <div class="container teamList d-flex justify-content-between align-items-center">
                <div class="teamIN">
                    <img src="{{post.maincover}}" class="drop img-fluid" alt="">
                    <p>{{ post.title | escape }}</p>
                    <span class="bg-success text-white">{{ post.status }}</span>
                </div>

               
            </div>
     
        {%- endfor -%}
    </div>
</div>