<div class="row text-white">
  {% assign SUR = site.categories.GSUR | sort: "puntos" | reverse %}
  {%- for post in SUR -%}
  
  <div class="col-12 col-md-6 col-lg-4">
        <div class="card-round-list">
         
       

          <div class="card-round-team">
            <a href="{{post.url}}">
              <img src="/assets/logos/{{post.ID}}.webp" alt="" class="img-fluid">
            </a>
             
             {% include rounds.html %}

          </div>
            
          <div class="card-round-pts">
            <h6>{{post.puntos}} pts</h6>
          </div>
        
            <div class="card-back">
              <div class="card-color-left {{post.ID}}"> </div>  
            </div>

        </div>
      
      </div>
        {%- endfor -%}
</div>