<div class="row text-white ">

    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#1</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>

    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:1 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#2</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:2 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#3</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:3 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#4</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:4 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#5</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:5 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#6</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:6 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#7</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:7 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#8</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:8 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#9</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.LJ06 | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:9 -%}
            <div class="container  roundCard bg-op">
                <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="" class="img-fluid">
                </a>
            <div class="round">
                <div class="roundInfo">
                <h6>#10</h6>
                <h2>{{post.team | truncate: 21}}</h2>
                </div>
                <p>{{post.puntos}} PTS</p>
            </div>
        </div>
        {%- endfor -%}
    </div>

</div>