<div class="row text-white team--last">

    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#1</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
           {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>
        {%- endfor -%}
    </div>

    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:1 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#2</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
              {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>
        {%- endfor -%}
    </div>

    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:2 -%}
         <div class="card-round-list">
         
          <div class="card-round-num">
            <h6>#3</h6>
          </div>

          <div class="card-round-team">
            <a href="{{post.url}}">
              <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
            </a>
             
             {% include rounds.html %}

          </div>
            
          <div class="card-round-pts">
            <h6>{{post.puntos}} pts</h6>
          </div>
        
            <div class="card-back">
              <div class="card-color-left {{post.ID}}"> </div>  
            </div>

        </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:3 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#4</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
               {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>

        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:4 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#5</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
               {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:5 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#6</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
               {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:6 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#7</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
               {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>   

        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:7 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#8</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
               {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>
        {%- endfor -%}
    </div>
    <div class="col-12">
        {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
        {%- for post in norte limit:1 offset:8 -%}
        <div class="card-round-list">
         
            <div class="card-round-num">
              <h6>#9</h6>
            </div>
  
            <div class="card-round-team">
              <a href="{{post.url}}">
                <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
              </a>
               
               {% include rounds.html %}
  
            </div>
              
            <div class="card-round-pts">
              <h6>{{post.puntos}} pts</h6>
            </div>
          
              <div class="card-back">
                <div class="card-color-left {{post.ID}}"> </div>  
              </div>
  
          </div>
        {%- endfor -%}
    </div>


    <div class="col-12">
      {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
      {%- for post in norte limit:1 offset:9 -%}
      <div class="card-round-list">
       
          <div class="card-round-num">
            <h6>#10</h6>
          </div>

          <div class="card-round-team">
            <a href="{{post.url}}">
              <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
            </a>
             
             {% include rounds.html %}

          </div>
            
          <div class="card-round-pts">
            <h6>{{post.puntos}} pts</h6>
          </div>
        
            <div class="card-back">
              <div class="card-color-left {{post.ID}}"> </div>  
            </div>

        </div>
      {%- endfor -%}
  </div>

  <div class="col-12">
    {% assign norte = site.categories.GNORTE | sort: "puntos" | reverse %}
    {%- for post in norte limit:1 offset:10 -%}
    <div class="card-round-list">
     
        <div class="card-round-num">
          <h6>#11</h6>
        </div>

        <div class="card-round-team">
          <a href="{{post.url}}">
            <img src="/assets/logos/{{post.ID}}.png" alt="" class="img-fluid">
          </a>
           
           {% include rounds.html %}

        </div>
          
        <div class="card-round-pts">
          <h6>{{post.puntos}} pts</h6>
        </div>
      
          <div class="card-back">
            <div class="card-color-left {{post.ID}}"> </div>  
          </div>

      </div>
    {%- endfor -%}
</div>

 

</div>