<div class="row">
    <div class="col-12 col-xl-4">            
        <div class="card__container mb-2" >
          <div class="card__media {{page.bg}}"></div>
          <div class="card__tittle">
            <h4  class="mt-3 mb-0" style="background: {{page.bg}};">{{ page.torneo1 | escape }}</h4>
            <a class="btn btn-light w-100"  role="button"><b>{{page.tps1}}</b></a>
          </div>
          <div class="card__background">
            <img src="{{page.timg1}}" class="drop img-fluid" alt="">
          </div>
          <span></span>
        </div>
    





    </div>
    
</div>