{% if page.local == "E" %}
    {% assign MATCH = site.categories.EP %}
  {% include local-map.html %}
{% endif %}

{% if page.local == "TAD" %}
  {% assign MATCH = site.categories.TADP | sort: "ronda"  %}
  {% include local-map.html %}
{% endif %}

{% if page.local == "STMN" %}

  {% assign MATCH = site.categories.STMNP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "PSY" %}

  {% assign MATCH = site.categories.PSYP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "EVL" %}

  {% assign MATCH = site.categories.EVLP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "7Z" %}

  {% assign MATCH = site.categories.7ZP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "GX" %}

  {% assign MATCH = site.categories.GXP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "GGG" %}

  {% assign MATCH = site.categories.GGGP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "NEO" %}

  {% assign MATCH = site.categories.NEOP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "SM" %}

  {% assign MATCH = site.categories.SMP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "FTB" %}

  {% assign MATCH = site.categories.FTBP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "AD" %}

  {% assign MATCH = site.categories.ADP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}


{% if page.local == "RUBY" %}

  {% assign MATCH = site.categories.RUBYP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "EA" %}

  {% assign MATCH = site.categories.EAP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}


{% if page.local == "TF" %}

  {% assign MATCH = site.categories.TFP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "PLAT" %}

  {% assign MATCH = site.categories.PLATP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "AEP" %}

  {% assign MATCH = site.categories.AEPP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "TSR" %}

  {% assign MATCH = site.categories.TSRP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}


{% if page.local == "TR" %}

  {% assign MATCH = site.categories.TRP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "TAE" %}

  {% assign MATCH = site.categories.TAEP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}


{% if page.local == "TUT" %}

  {% assign MATCH = site.categories.TUTP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}

{% if page.local == "AMBER" %}

  {% assign MATCH = site.categories.AMBERP | sort: "ronda"  %}
  {% include local-map.html %}

{% endif %}