{% if page.out == "E" %}
    {% assign MATCH = site.categories.EP %}
    {% include out-map.html %}
{% endif %}

{% if page.out == "TAD" %}
{% assign MATCH = site.categories.TADP %}
{% include out-map.html %}
{% endif %}

{% if page.out == "STMN" %}
{% assign MATCH = site.categories.STMNP | sort: "ronda"  %}
{% include out-map.html %}
{% endif %}

{% if page.out == "PSY" %}

  {% assign MATCH = site.categories.PSYP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "EVL" %}

  {% assign MATCH = site.categories.EVLP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "7Z" %}

  {% assign MATCH = site.categories.7ZP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "GX" %}

  {% assign MATCH = site.categories.GXP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "GGG" %}

  {% assign MATCH = site.categories.GGGP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "NEO" %}

  {% assign MATCH = site.categories.NEOP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "SM" %}

  {% assign MATCH = site.categories.SMP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "FTB" %}

  {% assign MATCH = site.categories.FTBP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "AD" %}

  {% assign MATCH = site.categories.ADP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}


{% if page.out == "RUBY" %}

  {% assign MATCH = site.categories.RUBYP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "EA" %}

  {% assign MATCH = site.categories.EAP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}


{% if page.out == "TF" %}

  {% assign MATCH = site.categories.TFP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "PLAT" %}

  {% assign MATCH = site.categories.PLATP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "AEP" %}

  {% assign MATCH = site.categories.AEPP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "TSR" %}

  {% assign MATCH = site.categories.TSRP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}


{% if page.out == "TR" %}

  {% assign MATCH = site.categories.TRP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "TAE" %}

  {% assign MATCH = site.categories.TAEP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}


{% if page.out == "TUT" %}

  {% assign MATCH = site.categories.TUTP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}

{% if page.out == "AMBER" %}

  {% assign MATCH = site.categories.AMBERP | sort: "ronda"  %}
  {% include out-map.html %}

{% endif %}