{%if partido.equipo2 == "DES" %}

<div class="bracket-round-list-zzz">
    <div class="card-round-promo">
      <h3>DESCANSO</h3>
    </div>
    <div class="bracket-round-team">
      <a href="/teams/{{partido.equipo1}}">
        <img src="/assets/logos/{{partido.equipo1}}.webp" alt="" class="img-fluid">
      </a>
    </div>

     <div class="card-back">
          {% if partido.equipo1 == "7Z" %}
          <div class="card-color-left S7Z"> </div>  
          {% else %}
          <div class="card-color-left {{partido.equipo1}}"> </div> 
          {% endif %} 

          {% if partido.equipo2 == "7Z" %}
          <div class="card-color-right S7Z"> </div>  
          {% else %}
          <div class="card-color-right {{partido.equipo2}}"> </div>  
          {% endif %} 
      </div>

</div>  
{% else %}


  <div class="bracket-round-list">
    <div class="bracket-round-team">
      <a href="/teams/{{partido.equipo1}}">
        <img src="/assets/logos/{{partido.tag1}}.webp" alt="" class="img-fluid">
      </a>
    
    </div>

<div class="round-titles">
    <div class="card-round-promo left">
        <h6>{{partido.equipo1 | truncate: 15}}</h6>
    </div>
 
 
    <div class="card-round-promo mx-2">
      <h6>{{partido.resultado}}</h6>
    </div>


    <div class="card-round-promo right">
      <h6>{{partido.equipo2 | truncate: 15}}</h6>
    </div>
   
</div>


    <div class="bracket-round-team-right">
     
      <a href="/teams/{{partido.equipo2}}">
        <img src="/assets/logos/{{partido.tag2}}.webp" alt="" class="img-fluid">
      </a>
    </div>

  
      <div class="card-back">
          {% if partido.equipo1 == "7Z" %}
          <div class="card-color-left S7Z"> </div>  
          {% else %}
          <div class="card-color-left {{partido.tag1}}"> </div> 
          {% endif %} 

          {% if partido.equipo2 == "7Z" %}
          <div class="card-color-right S7Z"> </div>  
          {% else %}
          <div class="card-color-right {{partido.tag2}}"> </div>  
          {% endif %} 

      </div>

  </div>
{% endif %}