{%if partido.equipo2 == "DES" %}
<div class="bracket-round-list-zzz">
    <div class="card-round-promo">
      <h3>DESCANSO</h3>
    </div>
    <div class="bracket-round-team">
      <a href="/teams/{{partido.equipo1}}">
        <img src="/assets/logos/{{partido.equipo1}}.webp" alt="" class="img-fluid">
      </a>
    </div>

    <div class="card-round-promo-left">
      <span>{{ronda.ronda}}</span>
    </div>

    <div class="card-round-promo-right">
      <span>{{ronda.fecha}}</span>
    </div>

     <div class="card-back">
          {% if partido.equipo1 == "7Z" %}
          <div class="card-color-left S7Z"> </div>  
          {% else %}
          <div class="card-color-left {{partido.equipo1}}"> </div> 
          {% endif %} 

          {% if partido.equipo2 == "7Z" %}
          <div class="card-color-right S7Z"> </div>  
          {% else %}
          <div class="card-color-right {{partido.equipo2}}"> </div>  
          {% endif %} 
      </div>
</div>  

{% else %}
  <div class="bracket-round-list">
    <div class="bracket-round-team">
      <a href="/teams/{{partido.tag1}}">
        <img src="/assets/logos/{{partido.tag1}}.webp" alt="" class="img-fluid">
      </a>
    
    </div>

<div class="round-titles">
    <div class="card-round-promo left">
        <h6>{{partido.equipo1}}</h6>
    </div>
 
 
    <div class="card-round-promo mx-2">
      
      <span>{{ronda.ronda}}</span>
      <h6>{{partido.resultado}}</h6>
      <span>{{ronda.fecha}}</span>
      
    </div>





    <div class="card-round-promo right">
      <h6>{{partido.equipo2}}</h6>
    </div>
   
</div>


    <div class="bracket-round-team-right">
     
      <a href="/teams/{{partido.tag2}}">
        <img src="/assets/logos/{{partido.tag2}}.webp" alt="" class="img-fluid">
      </a>
    </div>

  
      <div class="card-back">
          {% if partido.tag1 == "7Z" %}
          <div class="card-color-left S7Z"> </div>  
          {% else %}
          <div class="card-color-left {{partido.tag1}}"> </div> 
          {% endif %} 

          {% if partido.tag2 == "7Z" %}
          <div class="card-color-right S7Z"> </div>  
          {% else %}
          <div class="card-color-right {{partido.tag2}}"> </div>  
          {% endif %} 

      </div>

  </div>
{% endif %}