<div class="container teams-table"  id="home">
    <h1 class="teams-title">CAMPEONATO</h1>
    {% if page.ID == "E" %}
      <div class="row">
          {% assign MATCH = site.categories.ES | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}
 
      {% if page.ID == "TAD" %}
      <div class="row">
        {% assign MATCH = site.categories.TADS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "STMN" %}
      <div class="row">
        {% assign MATCH = site.categories.STMNS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "PSY" %}
      <div class="row">
        {% assign MATCH = site.categories.PSYS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "EVL" %}
      <div class="row">
        {% assign MATCH = site.categories.EVLS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "7Z" %}
      <div class="row">
        {% assign MATCH = site.categories.7ZS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}
     
      {% if page.ID == "GX" %}
      <div class="row">
        {% assign MATCH = site.categories.GXS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "GGG" %}
      <div class="row">
        {% assign MATCH = site.categories.GGGS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "NEO" %}
      <div class="row">
        {% assign MATCH = site.categories.NEOS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "SM" %}
      <div class="row">
        {% assign MATCH = site.categories.SMS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}
   
      {% if page.ID == "FTB" %}
      <div class="row">
        {% assign MATCH = site.categories.FTBS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "AD" %}
      <div class="row">
        {% assign MATCH = site.categories.ADS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}


      {% if page.ID == "RUBY" %}
      <div class="row">
        {% assign MATCH = site.categories.RUBYS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "EA" %}
      <div class="row">
        {% assign MATCH = site.categories.EAS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}


      {% if page.ID == "TF" %}
      <div class="row">
        {% assign MATCH = site.categories.TFS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "PLAT" %}
      <div class="row">
        {% assign MATCH = site.categories.PLATS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "AEP" %}
      <div class="row">
        {% assign MATCH = site.categories.AEPS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "TSR" %}
      <div class="row">
        {% assign MATCH = site.categories.TSRS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}


      {% if page.ID == "TR" %}
      <div class="row">
        {% assign MATCH = site.categories.TRS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "TAE" %}
      <div class="row">
        {% assign MATCH = site.categories.TAES | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}


      {% if page.ID == "TUT" %}
      <div class="row">
        {% assign MATCH = site.categories.TUTS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}

      {% if page.ID == "AMBER" %}
      <div class="row">
        {% assign MATCH = site.categories.AMBERS | sort: "ronda"  %}
        {%- for post in MATCH -%}
        {% include match.html %}
        {%- endfor -%}
      </div>
      {% endif %}


  </div>