{% if page.ID == "RK" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "RK" or partido.tag2 == "RK" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "DBO" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "DBO" or partido.tag2 == "DBO" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "ZAFIRO" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "ZAFIRO" or partido.tag2 == "ZAFIRO" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "BD" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "BD" or partido.tag2 == "BD" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "GX" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "GX" or partido.tag2 == "GX" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "NS" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "NS" or partido.tag2 == "NS" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "DTY" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "DTY" or partido.tag2 == "DTY" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "TAD" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "TAD" or partido.tag2 == "TAD" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "AMT" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "AMT" or partido.tag2 == "AMT" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "TUT" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "TUT" or partido.tag2 == "TUT" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "OBS" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "OBS" or partido.tag2 == "OBS" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "RNTX" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "RNTX" or partido.tag2 == "RNTX" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "SPACE" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "SPACE" or partido.tag2 == "SPACE" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "CL" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "CL" or partido.tag2 == "CL" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "TUTW" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "TUTW" or partido.tag2 == "TUTW" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "TM" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "TM" or partido.tag2 == "TM" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "OVG" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "OVG" or partido.tag2 == "OVG" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "NEO" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "NEO" or partido.tag2 == "NEO" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "MEXA" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "MEXA" or partido.tag2 == "MEXA" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "PLAGA" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "PLAGA" or partido.tag2 == "PLAGA" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "RUBY" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "RUBY" or partido.tag2 == "RUBY" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "PLAT" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "PLAT" or partido.tag2 == "PLAT" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "COL" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "COL" or partido.tag2 == "COL" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

<!-- gruposur -->
{% if page.ID == "SM" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "SM" or partido.tag2 == "SM" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "EVL" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "EVL" or partido.tag2 == "EVL" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "POA" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "POA" or partido.tag2 == "POA" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "DMD" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "DMD" or partido.tag2 == "DMD" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}


{% if page.ID == "MT" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "MT" or partido.tag2 == "MT" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "TSR" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "TSR" or partido.tag2 == "TSR" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "STMN" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "STMN" or partido.tag2 == "STMN" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "PEARL" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "PEARL" or partido.tag2 == "PEARL" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "7Z" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "7Z" or partido.tag2 == "7Z" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "AD" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "AD" or partido.tag2 == "AD" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "PE" %}
{% for ronda in site.data.gnorte.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "PE" or partido.tag2 == "PE" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "ENIGMA" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "ENIGMA" or partido.tag2 == "ENIGMA" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "2X1500" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "2X1500" or partido.tag2 == "2X1500" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if page.ID == "AOGIRI" %}
{% for ronda in site.data.gsur.rondas %}
{% for partido in ronda.partidos %}
{% if partido.tag1 == "AOGIRI" or partido.tag2 == "AOGIRI" %}
<div class="col-12 col-md-6 col-lg-6 col-xl-4">
  {% include match.html %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}