<div class="modal fade" id="bo3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-cham">
          <h5 class="modal-title text-white" id="bo3"><i class="ti ti-swords"></i> Best of 3 (Mejor de 3)</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            El formato al mejor de 3 es un formato de competición en el que un equipo debe ganar dos partidos para ganar la serie. Esto significa que si un equipo gana los dos primeros partidos, la serie termina y no se juega el tercer partido. Cuando la serie está empatada, se debe jugar el tercer partido.
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="roster" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-cham">
          <h5 class="modal-title text-white" id="roster"><i class="ti ti-spy"></i> Roster libre</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         El equipo puede jugar con los jugadores que desee sin necesidad de un registro previo.   
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="torneo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-cham">
          <h5 class="modal-title text-white" id="torneo"><i class="ti ti-trophy-filled"></i> Modo torneo</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         El enfrentamiento se debe jugar en <b>TORNEO</b> modo <b>VETO</b>:
         <ul class="list-group list-group-flush">
            <li class="list-group-item">Todos los objetos equipados al nivel máximo.</li>
            <li class="list-group-item">Todos los objetos equipados.</li>
            <li class="list-group-item">Todas las licencias Unite.</li>
            <li class="list-group-item">Todos los objetos de combate.</li>
            <li class="list-group-item">NA04</li>
          </ul> 

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="ti ti-alert-octagon"></i> <strong>No se permitnen espectadores.</strong>
        </div>

        </div>
      </div>
    </div>
  </div>