{% if page.pag == "LIGA" %}
<div class="container">
  <div class="row team--last">
    {% for equipo in site.data %}
      {% assign tag = equipo[1].tag %}
      {% assign team = equipo[1].team %}
      {% for jugador in equipo[1].jugadores %}
        {% if jugador.mvp %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card-round-mvp mvpLiga">
              <div class="card-mvp">
                <a href="{{post.url}}">
                  <img src="/assets/avatars/{{jugador.avatar}}.webp" alt="{{post.title}}">
                </a>
                <div class="card-mvp-title">
                  <p class="mvp-title">{{jugador.nickname | truncate: 12}}</p>
                  <p>{{team}}</p>
                </div>
              </div>
              <div class="card-mvp-number">
                <p class="mvp-number">{{jugador.numero}}</p>
                <p>MVPS</p>
              </div>
              <div class="card-back">
                <div class="card-color-left {{tag}}">
                </div>
                <div class="card-mvp-team">
                  <img src="/assets/logos/{{tag}}.webp" alt="MVPS Team: {{post.team}}">
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<script>
  const jugadoresMVP = document.querySelectorAll('.mvpLiga');
jugadoresMVP.forEach((jugador, index) => {
  if (index >= 12) {
    jugador.style.display = 'none';
  }
});

</script>

{% else %}
<div class="container">
  <div class="row team--last">
    {% for equipo in site.data %}
      {% if equipo[1].activo == true %}
        {% assign tag = equipo[1].tag %}
        {% assign team = equipo[1].team %}
        <h2>{{ team }}</h2>
        {% for jugador in equipo[1].jugadores %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card-round-mvp">
              <div class="card-mvp">
                <a href="{{post.url}}">
                  <img src="/assets/avatars/{{jugador.avatar}}.webp" alt="{{post.title}}">
                </a>
                <div class="card-mvp-title">
                  <p class="mvp-title">{{jugador.nickname | truncate: 12}}</p>
                  <p>{{team}}</p>
                </div>
              </div>
              <div class="card-mvp-number">
                <p class="mvp-number">{{jugador.numero}}</p>
                {% if jugador.mvp %}
                  <p>MVP</p>
                {% endif %}
              </div>
              <div class="card-back">
                <div class="card-color-left {{tag}}">
                </div>
                <div class="card-mvp-team">
                  <img src="/assets/logos/{{tag}}.webp" alt="MVPS Team: {{post.team}}">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>


{% endif %}