<nav class="navbar solid fixed-bottom navbar-light ">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="item-bar">
        <a href="/liga-indigo.html" >
          <i class="fa-solid fa-trophy"></i>
        <span>CLASIF.</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/liga-indigo-rondas.html" >
          <i class="fa-solid fa-list-ul"></i>
        <span>RONDAS</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/reglamento.html" >
          <i class="fa-solid fa-bookmark"></i>
        <span>REGLAS</span>
        </a>
      </div>
    </div>
  </nav>
