<nav class="navbar blue-king">
    <div class="container d-flex justify-content-between align-items-center">
      <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
      <div class="d-none d-lg-block">
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-platino" class="text-white">INICIO</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-rondas" class="text-white">RONDAS</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/reglamento" class="text-white">REGLAMENTO</a></span>
      </div>
    </div>
  </nav>