<nav class="navbar bg-white  fixed-bottom navbar-light ">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="item-bar">
        <a href="/liga-naranja.html" >
         
          <i class="fa-solid fa-trophy text-orange"> </i>
        <span class="text-orange">CLASIF.</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/liga-naranja-rondas.html" >
          <i class="fa-solid fa-list-ul text-orange" ></i>
        <span class="text-orange">RONDAS</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/reglamento.html" >
          <i class="fa-solid fa-bookmark text-orange"></i>
        <span class="text-orange">REGLAS</span>
        </a>
      </div>
    </div>
  </nav>