<nav class="navbar green fixed-bottom navbar-light">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="item-bar">
        <a href="/liga-indigo-oro.html" >
          <i class="fa-solid fa-ranking-star"></i>
        <span>CLASIF.</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/liga-indigo-oro-rondas.html" >
          <i class="fa-solid fa-list-ul"></i>
        <span>RONDAS</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/liga-indigo-oro" >
          <i class="fa-solid fa-trophy"></i>
        <span>LI PLATA</span>
        </a>
      </div>
      <div class="item-bar">
        <a href="/reglamento-sep.html" >
          <i class="fa-solid fa-bookmark"></i>
        <span>REGLAS</span>
        </a>
      </div>
    </div>
  </nav>
