<nav class="navbar blue-king">
    <div class="container d-flex justify-content-between align-items-center">
      <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
      <div class="d-none d-lg-block">
          <span class="navbar-brand mb-0 h1 text-white ms-3"><a href="/liga-johto"
            class="text-white">INICIO</a></span>
            <span class="navbar-brand mb-0 h1 text-white ms-3"><a href="/liga-johto-rondas"
                class="text-white">RONDAS</a></span>
        <span class="navbar-brand mb-0 h1 text-white ms-3"><a href="/reglamento.html"
            class="text-white">REGLAMENTO</a></span>
      </div>
    </div>  
  </nav>
  