<nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
        <a href="#">
            <img src="/assets/logos/LIGA-INDIGO.webp" alt="LIGA INDIGO SPC" style="width: 40px; height: 40px;">
            <span class="indigo">LIGA INDIGO SPC</span>
        </a>

        <div class="d-none d-md-block text-white">

            <span class="navbar-brand mb-0 h1">
                <a href="/liga-indigo-orion-ranking-junio2025" class="text-white">ORION</a>
            </span>
            <span class="navbar-brand mb-0 h1">
                <a href="/liga-indigo-hydra-ranking-junio2025" class="text-white">HYDRA</a>
            </span>
            <span class="navbar-brand mb-0 h1">
                <a href="/liga-indigo-estatus" class="text-white">ESTATUS</a>
            </span>
            <span class="navbar-brand mb-0 h1">
                <a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO</a>
            </span>

        </div>

         
   <div class="portal-container d-block d-md-none">
        <a href="#" aria-label="Abrir portal" id="portalActivator">
            <div class="portal-icon">
                <div class="portal-inner"></div>
            </div>
        </a>
    </div>

    </div>

</nav>

    <script>
     document.querySelector('.portal-icon').addEventListener('click', function() {
        window.location.href = 'portal_intermedio.html'; 
    });
    </script>