<div class="d-block d-md-none ">
    <nav class="navbar fixed-bottom navbar-light {{page.background}}">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="item-bar">
            <a href="{{page.ligas}}" >
              <i class="fa-solid fa-ranking-star"></i>
            <span>CLASIF.</span>
            </a>
          </div>
          <div class="item-bar">
            <a href="{{page.mvps}}" >
              <i class="fa-solid fa-crown"></i>
            <span>MVPS</span>
            </a>
          </div>
          <div class="item-bar">
            <a href="{{page.rondas}}" >
              <i class="fa-solid fa-list-ul"></i>
            <span>RONDAS</span>
            </a>
          </div>
          <div class="item-bar">
            <a href="/control-center" >
              <i class="fa-solid fa-trophy"></i>
            <span>LIGAS</span>
            </a>
          </div>
          <div class="item-bar">
            <a href="/reglamento-oct" >
              <i class="fa-solid fa-bookmark"></i>
            <span>REGLAS</span>
            </a>
          </div>
        </div>
    </nav>
</div>