<div class="d-block d-md-none ">
    <nav class="navbar fixed-bottom navbar-light {{page.nav-bottom}}">
        <div class="container d-flex justify-content-center align-items-center">
          {% if page.pag == "LIGA" or page.pag == "MVP" or page.pag == "RONDAS" %}
          {% assign norte = site.categories.ICONS | sort: "level"  %}
          {%- for post in norte  -%}
          <div class="item-bar">
            {% if post.type == "LIGA" %}
          <a href="{{page.ligas}}">
          {% elsif post.type == "MVP" %}
          <a href="{{page.mvps}}" >
          {% elsif post.type == "RONDAS" %}
          <a href="{{page.rondas}}" >
          {% elsif post.type == "TOURNAMENT" %}
            {% if page.grupo == "NORTE" %}
            <a href="/liga-indigo-sur" >
            {% else %}
            <a href="/liga-indigo-norte" >
            {% endif %}
          {% elsif post.type == "REGLAS" %}
          <a href="/reglamento-enero" >
            {% else %}
            {% endif %}
              <i class="ti {{post.icon}}"></i>
            <span>{{post.name}}</span>
            </a>
          </div>
          {%- endfor -%}
          
          {% elsif page.pag == "REGLAS" %}
          {% assign norte = site.categories.REGLAS | sort: "level"  %}
          {%- for post in norte  -%}
          <div class="item-bar">
          <a href="/reglamento-enero" >
              <i class="ti {{post.icon}}"></i>
            <span>{{post.name}}</span>
            </a>
          </div>
          {%- endfor -%}
          {% else %}
          {% assign norte = site.categories.HOME | sort: "level"  %}
          {%- for post in norte  -%}
          <div class="item-bar">
          <a href="/control-center" >
              <i class="ti {{post.icon}}"></i>
            <span>{{post.name}}</span>
            </a>
          </div>
          {%- endfor -%}
          {% endif %}
        </div>
    </nav>
</div>