<div class="d-block d-md-none ">
    <nav class="navbar fixed-bottom navbar-light {{page.background}}">
        <div class="container d-flex justify-content-center align-items-center">
          {% assign norte = site.categories.ICONS | sort: "level"  %}
          {%- for post in norte  -%}
          <div class="item-bar">
            {% if post.type == "LIGA" %}
         <a href="{{page.ligas}}">
          {% elsif post.type == "MVP" %}
          <a href="{{page.mvps}}" >
          {% elsif post.type == "RONDAS" %}
          <a href="{{page.rondas}}" >
          {% elsif post.type == "TOURNAMENT" %}
          <a href="/control-center" >
          {% elsif post.type == "REGLAS" %}
          <a href="/reglamento-oct" >
            {% else %}

            {% endif %}
              <i class="fa-solid {{post.icon}}"></i>
            <span>{{post.name}}</span>
            </a>
          </div>
          {%- endfor -%}
        </div>
    </nav>
</div>