{%- for post in norte -%}
{% if post.out == "DES" %}
<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
  <div class="container roundTeams text-white">
    <div class="roundTeam">
      <img src="/assets/logos/{{post.local}}.png" alt="" class="img-fluid">
      <p>{{post.local | truncate: 8}}</p>
    </div>
    <div class="roundScore">
      {% assign FECHAS = site.categories.FECHA %}
      {%- for post in FECHAS-%}
      <span>{{post.j4}}</span>
      {%- endfor -%}
      <p>DESCANSO</p>
      {% assign FECHAS = site.categories.FECHA %}
      {%- for post in FECHAS-%}
      <span>{{post.f4}}</span>
      {%- endfor -%}
    </div>
  </div>
</div>
{% else %} 
 <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
  <div class="container roundTeams text-white">
    <div class="roundTeam">
      <img src="/assets/logos/{{post.out}}.png" alt="" class="img-fluid">
      <p>{{post.out | truncate: 8}}</p>
    </div>
    <div class="roundScore">
      {% assign FECHAS = site.categories.FECHA %}
      {%- for post in FECHAS-%}
      <span>{{post.j4}}</span>
      {%- endfor -%}
      {% if post.r2 == 0 and post.r1 == 0 %}
      <p>VS</p>
      {% else %}
      <p>{{post.r2}}-{{post.r1}}</p>
    {% endif %}
    {% assign FECHAS = site.categories.FECHA %}
    {%- for post in FECHAS-%}
    <span>{{post.f4}}</span>
    {%- endfor -%}
    {% if post.stream == "SI" %}
    <a href="https://www.twitch.tv/x_force05" target="_blank"><i class="fa-brands fa-twitch text-white"></i></a>
  {% endif %}
    </div>
    <div class="roundTeam">
      <img src="/assets/logos/{{post.local}}.png" alt="">
      <p>{{post.local |truncate: 8}}</p>
    </div>
  </div>
</div>
{% endif %}
{%- endfor -%}