
{% if page.team6 == "partido1" %}
{% include ronda6.html %}
{% elsif page.team6 == "SAP6" %}
{% assign norte = site.categories.SAP6 %}
{%- for post in norte-%}
{% include partido6-assign.html %}
{% endfor %}
{% endif %}

{% if page.team6 == "partido2" %}
{% include ronda6.html %}
{% elsif page.team6 == "TAE6" %}
{% assign norte = site.categories.TAE6 %}
{%- for post in norte-%}
{% include partido6-assign.html %}
{% endfor %}
{% endif %}

{% if page.team6 == "partido3" %}
{% include ronda6.html %}
{% elsif page.team6 == "HG6" %}
{% assign norte = site.categories.HG6 %}
{%- for post in norte-%}
{% include partido6-assign.html %}
{% endfor %}
{% endif %}

{% if page.team6 == "partido4" %}
{% include ronda6.html %}
{% elsif page.team6 == "SSI6" %}
{% assign norte = site.categories.SSI6 %}
{%- for post in norte-%}
{% include partido6-assign.html %}
{% endfor %}
{% endif %}

{% if page.team6 == "partido5" %}
{% include ronda6.html %}
{% elsif page.team6 == "TSR6" %}
{% assign norte = site.categories.TSR6 %}
{%- for post in norte-%}
{% include partido6-assign.html %}
{% endfor %}
{% endif %}

