{% if page.team1 == "partido1" %}
{% include ronda1.html %}
{% elsif page.team1 == "POA1" %}
{% assign norte = site.categories.POA1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}

{% if page.team1 == "partido2" %}
{% include ronda1.html %}
{% elsif page.team1 == "SSI1" %}
{% assign norte = site.categories.SSI1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}

{% if page.team1 == "partido3" %}
{% include ronda1.html %}
{% elsif page.team1 == "TSR1" %}
{% assign norte = site.categories.TSR1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}

{% if page.team1 == "partido4" %}
{% include ronda1.html %}
{% elsif page.team1 == "SAP1" %}
{% assign norte = site.categories.SAP1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}

{% if page.team1 == "partido5" %}
{% include ronda1.html %}
{% elsif page.team1 == "TAE1" %}
{% assign norte = site.categories.TAE1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}



<!-- LIGA JOHTO -->
{% if page.team1 == "TG1" %}
{% assign norte = site.categories.TG1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}

{% if page.team1 == "TA1" %}
{% assign norte = site.categories.TA1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}

{% if page.team1 == "MEW1" %}
{% assign norte = site.categories.MEW1 %}
{%- for post in norte-%}
{% include partido1-assign.html %}
{% endfor %}
{% endif %}


{% if page.team1 == "LIJ1" %}
{% assign norte = site.categories.LIJ1  %}
{%- for post in norte-%}
{% if post.pos == 1 %}
{% include partido1-assign.html %}
{% endif %}
{% endfor %}
{% endif %}