{% if page.team9 == "partido1" %}
{% include ronda9.html %}
{% elsif page.team9 == "DMD9" %}
{% assign norte = site.categories.DMD9 %}
{%- for post in norte-%}
{% include partido9-assign.html %}
{% endfor %}
{% endif %}

{% if page.team9 == "partido2" %}
{% include ronda9.html %}
{% elsif page.team9 == "TSR9" %}
{% assign norte = site.categories.TSR9 %}
{%- for post in norte-%}
{% include partido9-assign.html %}
{% endfor %}
{% endif %}

{% if page.team9 == "partido3" %}
{% include ronda9.html %}
{% elsif page.team9 == "SSI9" %}
{% assign norte = site.categories.SSI9 %}
{%- for post in norte-%}
{% include partido9-assign.html %}
{% endfor %}
{% endif %}

{% if page.team9 == "partido4" %}
{% include ronda9.html %}
{% elsif page.team9 == "SAP9" %}
{% assign norte = site.categories.SAP9 %}
{%- for post in norte-%}
{% include partido9-assign.html %}
{% endfor %}
{% endif %}

{% if page.team9 == "partido5" %}
{% include ronda9.html %}
{% elsif page.team9 == "TAE9" %}
{% assign norte = site.categories.TAE9 %}
{%- for post in norte-%}
{% include partido9-assign.html %}
{% endfor %}
{% endif %}







