<div class="col-12 col-md-12 col-lg-4 col-xl-4 mt-0">
  <div class="container roundTeams">
    <div class="roundTeam">
      <img src="{{post.maincover}}" alt="" class="img-fluid">
      <p class="text-left">{{post.p3 | truncate: 8}}</p>
    </div>
    <div class="roundScore">
      {% assign FH = site.categories.FECHA %}
      {%- for post in FH-%}
      <span>{{post.j3}}</span>
      <span class="small">{{post.f3}}</span>
      {%- endfor -%}
      <p>{{post.r3}} - {{post.rr3}}</p>
   
    </div>
    <div class="roundTeam">
      <img src="{{post.maincover3}}" alt="">
      <p class="text-left">{{post.pp3 | truncate: 8}}</p>
    </div>
  </div>
</div>

  