<div class=" container mt-3 bg-light py-3 border-bottom">

      <div class="row justify-content-center align-items-center">
        <div class="col-md-auto">
          <i class="fab fa-paypal fa-2x text-primary"></i>
        </div>
        <div class="col-md-auto ms-2">
          <p class="mb-0">Cada donación es un power-up para nuestros torneos y el sitio web. ¡Gracias por sumarte a la mejora continua y por tu increíble apoyo!</p>
        </div>
        <div class="col-md-auto ms-3">
          <a href="https://streamelements.com/uniteforzestadium/tip" target="_blank" class="btn btn-primary btn-sm">Donar</a>
        </div>
      </div>

  </div>