<div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="gamer-card">
          <div class="gamer-top-price bgIndigoTop">
            
              <div class="gamer-title-price">
            
                  <h4 class="text-white">BRONCE</h4>
              </div>
          </div>
          <div class="gamer-price">
            <h1>$150 MXN</h1>
             <p>1 TEMPORADA</p>
             <span>POR EQUIPO</span>
             <a href="http://t.me/xayro05" target="_blank" class="btn-sub">INSCRIBIRSE</a>
          </div>
       </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="gamer-card">
          <div class="gamer-top-price bgIndigoTop">
            
              <div class="gamer-title-price">
            
                  <h4 class="text-white">PLATA</h4>
              </div>
          </div>
          <div class="gamer-price">
            <h1>$350 MXN</h1>
             <p>3 TEMPORADAS</p>
             <span>POR EQUIPO</span>
             <a href="http://t.me/xayro05" target="_blank" class="btn-sub">INSCRIBIRSE</a>
          </div>
       </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="gamer-card">
          <div class="gamer-top-price bgIndigoTop">
            
              <div class="gamer-title-price">
            
                  <h4 class="text-white">ORO</h4>
              </div>
          </div>
          <div class="gamer-price">
            <h1>¡Conversemos!</h1>
             <p>Si cuentas con más de 3 equipos ponte en contacto para brindarte más información.</p>
             <span>COMUNIDAD</span>
             <a href="http://t.me/xayro05" target="_blank" class="btn-sub">INSCRIBIRSE</a>
          </div>
       </div>
      </div>

      <p>Cada temporada tiene una duración de 20 a 25 dias. (Esta duración puede variar por eventos externos o del propio juego.) Solo existira reembolso en caso de no haber iniciado la LIGA, se debe avisar la baja del equipo 2 días antes del comienzo de la misma, dicho reembolso se dará a la brevedad posible. En caso contrario no existirá reembolso debido que se genera un calendario asimismo la imagen del equipo en la pagina WEB.</p>

    

      <div class="container mt-5 mb-5">
        <h3>¿Qué necesitas para inscribir a tu equipo?</h3>
        <ul>
          <li>NOMBRE DEL EQUIPO</li>
          <li>TAG (El tag no es necesario que lo tenga cada jugador se ocupa para tener referencias de los equipos tanto en chats de la LIGA como en la pagina WEB)</li>
          <li>COMPROBANTE DE PAGO</li>
          <li>LOGOTIPO (OPCIONAL) (En caso de contar con logo se generará una imagen con el TAG del equipo.)</li>
        </ul>


        <p>Si necesitas logotipo contacta a nuestro patrocinador <a href="https://www.facebook.com/profile.php?id=61554900281674&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">SECTOR11</a></p>
      </div>
    </div>
</div>