{% if page.priority == "5" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 5%;" 
aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
{% endif %}

{% if page.priority == "10" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 10%;" 
aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
{% endif %}

{% if page.priority == "15" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 15%;" 
aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
{% endif %}

{% if page.priority == "20" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 20%;" 
aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
{% endif %}

{% if page.priority == "25" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 25%;" 
aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
{% endif %}

{% if page.priority == "30" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 30%;" 
aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
{% endif %}
{% if page.priority == "35" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 35%;" 
aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
{% endif %}
{% if page.priority == "40" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 40%;" 
aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
{% endif %}
{% if page.priority == "45" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 45%;" 
aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
{% endif %}
{% if page.priority == "50" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 50%;" 
aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
{% endif %}
{% if page.priority == "55" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 55%;" 
aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
{% endif %}
{% if page.priority == "60" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 60%;" 
aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
{% endif %}
{% if page.priority == "65" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 65%;" 
aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
{% endif %}
{% if page.priority == "70" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 70%;" 
aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
{% endif %}
{% if page.priority == "75" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 75%;" 
aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
{% endif %}
{% if page.priority == "80" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 80%;" 
aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
{% endif %}
{% if page.priority == "85" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 85%;" 
aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
{% endif %}
{% if page.priority == "90" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 90%;" 
aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
{% endif %}
{% if page.priority == "95" %}
<div class="progress-bar" 
role="progressbar" 
style="width: 95%;" 
aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
{% endif %}

