  <div class="banner-promo-section indigo">
          <canvas class="stars" id="starIndigo"></canvas>
          <img src="/assets/logos/LIGA-INDIGO.webp" alt="Imagen decorativa" class="banner-image">
          <div class="banner-content">
            <h4>¡Inscripciones Abiertas!</h4>
            <p class="lead">Liga Indigo - Temporada Julio</p>
            <div class="timer" id="countdown">Cargando cuenta regresiva...</div>
            <a href="/reglamento-liga-indigo" class="btn btn-warning-custom mt-4">Inscribirme Ahora</a>
          </div>
        </div>


        <div class="games-section">
          <h3>Equipos inscritos</h3>
          <div id="carouselEquipos" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
            <div class="carousel-inner" id="contenedor-cards"></div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselEquipos" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselEquipos" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>

        </div>