<section class="container splide" aria-label="">
    <div class="splide__track">
          <ul class="splide__list">
        {% assign norte = site.categories.PROMO | sort: "ronda" %}
        {%- for post in norte-%}
        <li class="splide__slide">
          <div class="bracket-container">
            <div class="bracket-round-list">
              <div class="bracket-round-team">
                <a href="/teams/{{post.local}}">
                  <img src="/assets/logos/{{post.tagL}}.webp" alt="" class="img-fluid">
                </a>
              </div>
              <div class="card-round-promo">
                <span>{{post.fecha}}</span>
                {% if post.tagL == "LIGA-INDIGO" %}
                <h6>VS</h6>
                {% else %}
                <h6>{{post.tagL}} VS {{post.tagO}}</h6>
                {% endif %}
                <span>{{post.hora}}</span>
              </div>
  
              <div class="bracket-round-team-right">
                <a href="/teams/{{post.out}}">
                  <img src="/assets/logos/{{post.tagO}}.webp" alt="" class="img-fluid">
                </a>
              </div>
         
            
                <div class="card-back">
                  <div class="card-color-left {{post.tagL}}"> </div>  
                  <div class="card-color-right {{post.tagO}}"> </div>  
                </div>
    
            </div> 
          </div>     
        </li>
          {%- endfor -%}
  
          </ul>
    </div>
  </section> 