{% if post.pp6 == "DES" %}
<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-0">
  <div class="container roundTeams">
    <div class="roundTeam">
      <img src="{{post.maincover6}}" alt="" class="img-fluid">
      <p class="text-left">{{post.p6 | truncate: 8}}</p>
    </div>
    <div class="roundScore">
      <p>DESCANSO</p>
   
    </div>
   
  </div>
</div>
{% else %} 


<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0">
    <div class="container roundTeams">
      <div class="roundTeam">
        <img src="{{post.maincover6}}" alt="" class="img-fluid">
        <p >{{post.p6 | truncate: 8}}</p>
      </div>
      <div class="roundScore">
        <p>{{post.r6}} - {{post.rr6}}</p>
     
      </div>
      <div class="roundTeam">
        <img src="{{post.maincover66}}" alt="">
        <p>{{post.pp6 |truncate: 8}}</p>
      </div>
    </div>
</div>

{% endif %}