<div class="row">

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-rules high">
            <h2 class="title-group">Stream</h2>
            <div class="title-star">
                <h1></h1>
            </div>
            <div class="descrip">
                <p> El partido no se detendrá una vez iniciado en caso de falla por internet o luz, debido a que es
                    responsabilidad de cada equipo.
                </p>
                <p>  Durante la fase de DRAFT o PANTALLA DE CARGA, se pondrá pausa solo si es anunciado por el capitán al
                    reportar algún detalle:</p>
                <ul>
                    <li>EL JUEGO SE CERRÓ.</li>
                    <li>NO DEJO SELECCIONAR PICK.</li>
                </ul>
                <p>En caso de no poder seleccionar pick, será reset base a los mismos PICKS respetando los BANS, favor
                    de quedarse en base, la selección se reanuda donde pasó dicho suceso.
            </div>
            </p>
        </div>
    </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-rules high">
            <h2 class="title-group">Off-Stream</h2>
            <div class="title-star">
                <h1></h1>
            </div>
            <div class="descrip">
                <p> El partido no se detendrá una vez iniciado en caso de falla por internet o luz, debido a que es
                    responsabilidad de cada equipo.
                </p>
                <p>  Durante la fase de DRAFT o PANTALLA DE CARGA, se pondrá pausa solo si es anunciado por el capitán al
                    reportar algún detalle:</p>
                <ul>
                    <li>EL JUEGO SE CERRÓ.</li>
                    <li>NO DEJO SELECCIONAR PICK.</li>
                </ul>
                <p>En caso de no poder seleccionar pick, será reset base a los mismos PICKS respetando los BANS, favor
                    de quedarse en base, la selección se reanuda donde pasó dicho suceso.
            </div>
            </p>
        </div>






    </div>

</div>