<div class="row">

    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Liga Indigo</h2>
            <div class="title-star"><h1>$5,000 MXN</h1><span>25 a 32 equipos</span>
             <span>Fase Regular | Fase Final</span>
            </div>
            <p class="descrip">1er Lugar $3,500 MXN | 2do Lugar $1, 500 MXN</p>
        </div>
    </div>
    
    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Liga Indigo</h2>
            <div class="title-star"><h1>$3,000 MXN</h1><span>19 a 24 equipos</span>
             <span>Fase Regular | Fase Final</span>
            </div>
            <p class="descrip">1er Lugar $2,500 MXN | 2do Lugar $500 MXN</p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Liga Indigo</h2>
            <div class="title-star"><h1>$2,000 MXN</h1>
                <span>13 a 18 equipos</span>
                  <span>Fase Regular | Fase Final</span>
            </div>
            <p class="descrip">1er Lugar $1,500 MXN | 2do Lugar $500 MXN</p>
        </div>
    </div>
   
    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Liga Indigo</h2>
            <div class="title-star"><h1>$1,500 MXN</h1><span>12 equipos</span>
            <span>Fase Regular</span>
            </div>
            <p class="descrip">1er Lugar $1,500 MXN</p>
        </div>
    </div>
 
    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Bonos</h2>
            <div class="title-star"><h1>$1,000 MXN</h1><span>Campeón Invicto</span>
            <span>Marcadores 2-0</span>
            <span>Desde Fase Regular a Fase Final</span>
            </div>
            <p class="descrip">Este bono solo aplica para las Ligas Indigo con 13 o más equipos.</p>
        </div>
    </div>



    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Bonos</h2>
            <div class="title-star"><h1>$300 MXN</h1><span>Primer lugar de Grupo Fase Regular</span>
            <span>Marcadores 2-0 en Fase Regular</span></div>
            <p class="descrip">Este bono solo aplica para las Ligas Indigo con 13 o más equipos.</p>
        </div>
    </div>


    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Bonos</h2>
            <div class="title-star"><h1>$200 MXN</h1><span>Primer lugar de Grupo</span></div>
            <p class="descrip">Este bono solo aplica para las Ligas Indigo con 13 o más equipos.</p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">MVP</h2>
            <div class="title-star"><h1>$250 MXN</h1><span>Jugador con más MVP en Fase Regular </span></div>
            <p class="descrip"></p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-rules">
            <h2 class="title-group">Pentakiller</h2>
            <div class="title-star"><h1>$20 MXN</h1><span>Por cada Pentakill</span></div>
            <p class="descrip">Para los efectos de este premio, se considerará PENTAKILL la acción de un único jugador al eliminar a los cinco (5) miembros del equipo oponente dentro de un lapso de tiempo razonable, el cual lo marca el juego bajo la alerta de Racha 5 KO (KO Streak 5 ). La decisión final sobre si una jugada constituye una PENTAKILL será tomada por el equipo de verificación del torneo.</p>
        </div>
    </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Grabación</h2>
            <div class="title-star"><h1></h1><span></span></div>
            <p class="descrip">
            Grabar el momento exacto con calidad clara y fluida, asegurando la visibilidad de todos los nicknames.   
            </p>
        </div>
    </div>
     
    <div class="col-12 col-md-12 col-lg-12 col-xl-9">
        <div class="card-rules">
            <h2 class="title-group">Proceso de Envío</h2>
            <div class="title-star"><h1></h1><span></span></div>
            <p class="descrip">
                Enviar la grabación al canal de Discord #pentakills. Asegúrate de tener el rol "jugador" (solicítalo en #pedir-rol con tu nickname y equipo). Al publicar el video, incluye etiquetas de la ronda y el partido (ej: #Ronda1 #SBvsOPI). La fecha límite para el envío es la finalización de la última ronda del torneo.
            </p>
        </div>
    </div>
  
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Uso de Contenido</h2>
            <div class="title-star"><h1></h1><span></span></div>
            <p class="descrip">
            Al enviar su grabación de PENTAKILL, los jugadores aceptan que la Liga organizadora del torneo podrá utilizar dicho material para la creación de contenido en sus cuentas de TikTok e Instagram.
            </p>
        </div>
    </div>
 
    
   
   

   

 


</div>