<div class="row">

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Programación</h2>
            <div class="title-star"><h1>00:00</h1></div>
            <p class="descrip">Cada capitán coordinará el horario de sus partidos dentro de los límites de días
                establecidos en el calendario proporcionado por la Liga y la administración.</p>
        </div>
    </div>
   
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Aplazamientos</h2>
            <div class="title-star"><h1>1H</h1>de anticipación</div>
            <p class="descrip">Se permite reagendar partidos en caso de eventos externos, siempre y cuando se notifique. Notificar sobre el partido aplazado en el Grupo de WhatsApp asignado</p>
        </div>
    </div>
  
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Partidos pendientes</h2>
            <div class="title-star"><h1>VS</h1></div>
            <p class="descrip">No se podrán disputar partidos pendientes una vez finalizada la última ronda del calendario regular.</div>
    </div>


    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Stream</h2>
            <div class="title-star">
              <a href="{{page.twitch}}" target="_blank"> <h1><i class="fa-brands fa-twitch"></i></h1><span></span></a>
         
            </div>
            <p class="descrip">Los partidos que serán transmitidos en vivo estarán claramente indicados en la página web (hora de México).</p>
        </div>
    </div>



    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Resultados</h2>
            <div class="title-star">
               <a href="{{page.discord}}" target="_blank"> <h1><i class="fa-brands fa-discord"></i></h1><span></span></a>
            </div>
            <p class="descrip"> Capitán ganador reporta en el canal de Discord asignado.</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Partidos no jugados</h2>
            <div class="title-star">
                <h1>DQ</h1>
            </div>
            <p class="descrip">Sin acuerdo = 0-0. No respuesta para acordar = victoria 2-0 al solicitante.</b>
            </p>
        </div>
    </div>
 
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">1st Pick</h2>
            <div class="title-star">
                <h1><i class="fas fa-play"></i></h1>
            </div>
            <p class="descrip">Inicialmente, el equipo a la IZQUIERDA en la página. En los siguientes juegos, el perdedor elige primero.</b>
            </p>
        </div>
    </div>

   

 


</div>