<div class="row">

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Modo</h2>
            <div class="title-star">
                <h1>Torneo Draft</h1><span></span>
            </div>
            <p class="descrip">No partidas personalizadas, no se permiten espectadores, Todos los objetos al maximo</p>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Tolerancia</h2>
            <div class="title-star">
                <h1>10 Min</h1>
            </div>
            <p class="descrip">10 minutos para ingresar a la sala. Exceder el tiempo resulta en derrota 2-0.</p>
        </div>
    </div>



    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Server</h2>
            <div class="title-star">
                <h1>NA04</h1><span></span>
            </div>
            <p class="descrip">El uso de cualquier otro servidor o la creación de partidas personalizadas está
                estrictamente prohibido para los partidos del torneo.</p>
        </div>
    </div>







    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Bracket</h2>
            <div class="title-star">
                <h1>Bo3</h1>Eliminación doble
            </div>
            <p class="descrip">Al mejor de 3 partidas.</b>
            </p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Bans</h2>
            <div class="title-star">
                {% assign bans = site.licencias | where: "ban", true %}

                {% if bans.size > 0 %}
                {% for lic in bans %}
                <h3>{{lic.nombre}}</h2>

                    {% endfor %}
                    {% else %}
                    <p>Por el momento no hay Licencias Unite en Zona de BANS</p>
                    {% endif %}
            </div>
            <p class="descrip">Nuevas Licencias Unite: No permitidas en el torneo.</b>
            </p>
        </div>
    </div>


</div>