<h2>Formato</h2>
<ul>
    <li><p>Eliminación doble.</p></li>
    <li><p>8 equipos (Roster libre).</p></li>
    <li><p>Modo veto (TORNEO) (NO PERSONALIZADAS) (SERVIDOR <b>NA05</b>)</p></li>
    <li><p><b>NO SE PERMITEN ESPECTADORES</b> (solo bajo asignación del ADMIN)</p></li>     
</ul>

<h2>Tolerancia</h2>
<ul>
    <li><p>7 minutos</p></li>
</ul>

<h2>Bans</h2>
<ul>
    <li><p>Falinks</p></li>
    <li><p>Mewtwo X.</p></li>
    <li><p>Mewtwo Y</p></li>
    <li><p>Miraidon</p></li>
    <li><p>Zacian</p></li>
    <li><p>Caulquier Licencia UNITE nueva durante el torneo</p></li>
</ul>


<h2>Conexión</h2>
<ul>
    <li><p>El partido no se detendrá una vez iniciado en caso de falla por internet o luz, debido a que es responsabilidad de cada equipo.</p> </li>
    <li><p>Durante la fase de <b>DRAFT</b> o <b>PANTALLA DE CARGA</b> se pondrá pausa solo si es anunciado por el capitan al reportar algun detalle </p>
      <p>1. EL JUEGO SE CERRO</p>
      <p>2. NO DEJO SELECCIONAR PICK</p> </li>
    <li><p>Será reset base a los mismos picks respetando los bans en caso de que el juego no dejo seleccionar pick porque se cerro. La selección se reanuda donde paso dicho suceso.</p> </li>
  </ul>   