<div class="row">

   

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Inscripción</h2>
            <div class="title-star">
                <h1>$100 MXN.</h1>
                <!-- <span>Incluye CNE.</span> -->
            </div>
            <p class="descrip">Esta es la tarifa de inscripción para equipos que se unen a la Copa.</p>
        </div>
    </div>

    <!-- <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Cambio de Nombre de Equipo (CNE)</h2>
            <div class="title-star">
                <h1>$50 MXN.</h1>
            </div>
            <p class="descrip">Este cargo adicional se aplica después de completar la inscripción o reinscripción. Si el
                cambio de nombre no se utiliza durante la Liga, se considerará un reembolso o crédito al finalizar la
                temporada. El cargo está incluido en el pago inicial de inscripción o reinscripción.</p>
        </div>
    </div> -->

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Nombre de Equipo</h2>
            <div class="title-star">
                <h1>20</h1><span>Carácteres máximo</span>
            </div>
            <p class="descrip">No deben ser ofensivos, inapropiados, difamatorios o discriminatorios. No deben ser
                engañosos o intentar suplantar la identidad de otros.</p>
        </div>
    </div>

      <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Logo</h2>
            <div class="title-star">
                <h1>PNG</h1><span>1000x1000</span>
            </div>
            <p class="descrip">No ofensivo/inapropiado (Si no tienes logo, nuestro sponsor te asignará uno según tu
                nombre.)</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Roster</h2>
            <div class="title-star">
                <h1>10 jugadores</h1><span>Mínimo 5</span>
            </div>
            <p class="descrip">Entregar Nicknames e IDs de cada jugador al momento del registro. <strong>Recuerda que el
                    roster y los nicknames</strong></p>
        </div>
    </div>

  

       <div class="col-12 col-md-12 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Reembolso</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-sack-dollar"></i></h1>
            </div>
            <p class="descrip">Las inscripciones solo se reembolsan antes del inicio de la Copa, con aviso de 2 días.
                Una vez iniciada la Copa, no hay reembolsos.</p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Jugadores Vetados</h2>
            <div class="title-star">
                <!-- <h1>Crobat Sama</h1><span>Máximiliano Gutiérrez</span> -->
            </div>
            <p class="descrip">Cualquier equipo que incluya o se le sorprenda jugando con un jugador vetado será
                automáticamente dado de baja de la liga.</p>
        </div>
    </div>

</div>