<div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Re-Inscripción</h2>
              <div class="title-star"><h1>$250 MXN.</h1><span>Incluye CNE.</span></div>
              <p class="descrip">Este precio especial es exclusivo para los equipos que formaron parte de la temporada pasada {{page.temporada}}</p>
          </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Inscripción</h2>
              <div class="title-star"><h1>$300 MXN.</h1><span>Incluye CNE.</span></div>
              <p class="descrip">Esta es la tarifa de inscripción para equipos que se unen a la Liga.</p>
          </div>
    </div>
   
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
          <div class="card-rules">
              <h2 class="title-group">Cambio de nombre de Equipo (CNE)</h2>
              <div class="title-star"><h1>$50 MXN.</h1></div>
              <p class="descrip"> Este cargo adicional se aplica después de completar la inscripción o reinscripción. Si el cambio de nombre no se utiliza durante la Liga, se considerará un reembolso o crédito al finalizar la temporada. El cargo está incluido en el pago inicial de inscripción o reinscripción.</b>
              </p>
          </div>
    </div>

     <div class="col-12 col-md-12 col-lg-12 col-xl-6">
          <div class="card-rules">
              <h2 class="title-group">Nombre de equipo</h2>
              <div class="title-star"><h1></h1><span>Maximo 20 caracteres</span></div>
              <p class="descrip">No deben ser ofensivos, inapropiados, difamatorios o discriminatorios. No deben ser engañosos o intentar suplantar la identidad de otros.</p>
          </div>
    </div>
     <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Roster</h2>
              <div class="title-star"><h1>8 jugadores</h1><span>Minimo 5</span></div>
              <p class="descrip">Entregar Nicknames e IDs de cada jugador.</p>
          </div>
    </div>

     <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Logo</h2>
              <div class="title-star"><h1>PNG</h1><span>1000x1000</span></div>
              <p class="descrip">No ofensivo/inapropiado (Si no tienes logo, nuestro sponsor te asignará uno según tu nombre.)</p>
          </div>
    </div>

     <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Disponibilidad</h2>
            <div class="title-star">
             
            </div>
            <p class="descrip">Habrá streams exclusivos los sábados y domingos a las 22:30 (CDMX). Los horarios de transmisión (21:30 y 22:30 CDMX) y equipos se publicarán en nuestra web.

Importante: Al inscribirse, los equipos deben confirmar su disponibilidad para los horarios exclusivos de stream de los fines de semana.</b>
            </p>
        </div>
    </div>
  
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Duración de la Temporada</h2>
            <div class="title-star">
                <h1>20-25</h1><span>Días</span>
            </div>
            <p class="descrip">Esta duración puede ajustarse debido a eventos externos o actualizaciones del propio juego.</p>
        </div>
    </div>
 
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Reembolso</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-sack-dollar"></i></h1>
            </div>
            <p class="descrip">
                Solo se realizarán reembolsos de inscripción si la Liga aún no ha iniciado. Para solicitar un reembolso, el equipo debe notificar su baja con al menos 2 días de anticipación al comienzo de la Liga. Los reembolsos se procesarán a la brevedad. Una vez que la Liga ha comenzado, no habrá reembolsos, ya que la organización implica la creación de un calendario y la integración de la imagen del equipo en la página web.
            </p>     
        </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Jugadores Vetados</h2>
            <div class="title-star">
                <h1>Crobat Sama</h1><span>Máximiliano Gutiérrez</span>
            </div>
            <p class="descrip">
            Cualquier equipo que incluya o se le sorprenda jugando con un jugador vetado será automáticamente dado de baja de la liga.   
            </p>     
        </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Bonos</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-hand-holding-dollar"></i></h1>
            </div>
            <p class="descrip">
                Antes de inscribir a tu equipo, te recomendamos encarecidamente revisar el reglamento completo. Los bonos adicionales se anunciarán y agregarán 2 días antes del inicio de la Liga Indigo. Toda la información detallada será comunicada a través del grupo de WhatsApp por el administrador.
            </p>     
        </div>
        </div>
  
        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Horario</h2>
            <div class="title-star">
                <h1>1pm a 6pm</h1>
            </div>
            <p class="descrip">
               Horarios de inscripción e información  </p>     
        </div>
        </div>

 
  </div>
