<div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-9">
        <div class="card-rules">
            <h2 class="title-group">Fase final</h2>
            <div class="title-star">
                <h1>Top 8</h1><span>4tos de Final > Semifinales > Gran Final</span>
            </div>
            <p class="descrip">Bracket: Cruces definidos (Se mostrará en pagina el orden de los partidos).</p>
        </div>
    </div>


    <div class="col-12 col-md-12 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Fase regular</h2>
            <div class="title-star">
                <h1>2</h1><span>Grupos</span>
            </div>
            <p class="descrip">Clasificaran a la siguiente ronda los mejores 4 de cada grupo.</p>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Victoria</h2>
            <div class="title-star">
                <h1>3 pts</h1><span>2-0</span>
            </div>
         </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Victoria</h2>
            <div class="title-star">
                <h1>2 pts</h1><span>2-1</span>
            </div>
         </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Victoria</h2>
            <div class="title-star">
                <h1>1 pt</h1><span>1-2</span>
            </div>
         </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Derrota</h2>
            <div class="title-star">
                <h1>0 pts</h1><span>0-2</span>
            </div>
         </div>
    </div>
   
  


    <div class="col-12 col-md-12 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Desempates</h2>
            <div class="title-star">
                <h1>=</h1><span></span>
            </div>
            <p class="descrip">Empate en tabla: resultado directo entre equipos. Empate múltiple sin ganador directo: Bo1 entre involucrados.</p>
           </div>
    </div>




</div>