<div class="row">


    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Horario Oficial</h2>
            <div class="title-star">
                <h1>22:00H</h1><span>CDMX</span>
            </div>
            <p class="descrip">Todos los partidos se jugarán a las <b>22:00 CDMX</b> (10:00 PM CST) en la fecha señalada
                en la página. Los partidos <b>Vía Stream</b> tendrán horarios preestablecidos de <b>21:30 CDMX</b> (9:30
                PM CST) y <b>22:30 CDMX</b> (10:30 PM CST), los cuales se mostrarán en la página.</p>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Reagendación</h2>
            <div class="title-star">
                <h1>🚫</h1>
            </div>
            <p class="descrip"><b>¡Importante!</b> No se podrán reagendar partidos bajo ninguna circunstancia,
                <b>excepto en caso de mantenimiento programado del juego</b>. Los partidos afectados por mantenimiento
                serán movidos a una nueva fecha y hora, que será comunicada por la administración.</p>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">1st Pick</h2>
            <div class="title-star">
                <h1><i class="fas fa-play"></i></h1>
            </div>
            <p class="descrip">Inicialmente, el equipo a la IZQUIERDA en la página. En los siguientes juegos, el
                perdedor es 1st Pick.</b>
            </p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-rules">
            <h2 class="title-group">Stream</h2>
            <div class="title-star">
                <a href="{{page.twitch}}" target="_blank">
                    <h1><i class="fa-brands fa-twitch"></i></h1><span></span>
                </a>

            </div>
            <p class="descrip">Los partidos que serán transmitidos en vivo estarán claramente indicados en la página web
                (hora de CDMX).</p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Duración de la Temporada</h2>
            <div class="title-star">
                <h1>20-25</h1><span>Días</span>
            </div>
            <p class="descrip">Esta duración puede ajustarse debido a eventos externos o actualizaciones del propio
                juego.</p>
        </div>
    </div>

    
  

      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card-rules-extend">
        <h2 class="title-group">Entrega de Resultados</h2>
              <div class="title-star">
                <a href="{{page.discord}}" target="_blank">
                    <h1><i class="fa-brands fa-discord"></i></h1><span></span>
                </a>
            </div>
       

        <div class="rule-subsection">
            <h3>1. Plazo</h3>
            <ul>
                <li>Los resultados deben entregarse antes de las 12:00 PM (mediodía) hora CDMX después de cada ronda.</li>
           </ul>
        </div>

        <div class="rule-subsection">
            <h3>2. Responsabilidad:</h3>
            <ul>
                <li>El equipo ganador es responsable de subir los resultados.</li>
           </ul>
        </div>

        <div class="rule-subsection">
            <h3>3. Consecuencia por Incumplimiento:</h3>
            <ul>
                <li>Si el equipo ganador no entrega los resultados a tiempo, el equipo rival ganará por un marcador de 2-0.</li>
            </ul>
        </div>
        <div class="rule-subsection">
            <h3>4. Directivas de publicaciones:</h3>
            <ul>
                <li>Se encuentran en el los grupos de Discord que asignará la administración.</li>
            </ul>
        </div>
    </div>
</div>




</div>