<div class="row g-5  mb-3">


    <div class="col-12 col-sm-6 col-md-12 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>SORTEO</span>
                <p class="text-left">El sorteo se llevará via STREAM, si cuentas con Tickets podras entrar al sorteo los
                    cuales podras cambiar en Recompensas de puntos del canal, Subscripciones, Regalos de sub (GIFTER) o/y Bits.
                    Todos los tickets durante el día del sorteo que se obtengan por "Recompensas de puntos del canal,
                    Subscripciones, Regalos de sub (GIFTER) o/y Bits" cuentan para el sorteo del mes siguiente. El ganador se
                    mencionará y tendrá 5 min para reclamar su premio si ganó por <b>Ticket SENCILLO</b>, en caso de no estar
                    presente pasára al siguiente hasta encontrar alguien que tenga <b>Ticket PREMIUM</b></p>

            </div>
        </div>
    </div>


    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>PREMIO</span>
                <p class="text-left">Al ganador del sorteo se le dara una tarjeta de Google Play.</p>
                <p>Valor de la Targeta Google Play $500 mxn.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>¿Cuando es el sorteo?</span>
                <p class="text-left">El sorteo se realizará el último dia de cada mes, la hora será anunciada por el
                    DISCORD de XFORCE . <a href="https://discord.gg/8rnzCrYC">DISCORD</a></p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>TICKETS</span>
                <p class="text-left">Cada Ticket vale por una entrada al sorteo mensual canal, existen dos clases de
                    Tickets: Ticket SENCILLO y Ticket PREMIUM</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>TICKET SENCILLO</span>
                <p class="text-left">Este Ticket vale 2,000 pts del canal y equivale una entrada al sorteo mensual,
                    recuerda estar presente a la hora del sorteo.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>TICKET PREMIUM</span>
                <p class="text-left">Este Ticket vale 3,000 pts del canal y equivale una entrada al sorteo mensual. Al
                    no estar presente se te guardará tu premio.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>¿CÓMO CONSIGO LOS TICKETS?</span>
                <p class="text-left">La forma de conseguirlos es por puntos del canal, subscripción, regalando sub, o
                    donando bits.</p>
            </div>
        </div>
    </div>




    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>VIP</span>
                <p class="text-left">Si eres VIP del Canal tus tickets se convierten en tickets PREMIUM. No es necesario
                    cambiarlos por Tickets PREMIUM</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>SUBSCRIPTOR</span>
                <p class="text-left">Si eres SUBSCRIPTOR del Canal tendras 5 tickets PREMIUM. Si cambias mas Tickets se convierten en tickets PREMIUM. No es necesario cambiarlos por Tickets PREMIUM.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>GIFTER</span>
                <p class="text-left">Si eres GIFTER del Canal tendras 3 Tickets PREMIUM y 2 Tickets Premium para la persona la cual se le regalo la SUBSCRIPCIÓN. Si cambias mas Tickets se convierten en tickets PREMIUM. No es necesario cambiarlos por Tickets PREMIUM.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>SUBSCRIPTOR POR REGALO</span>
                <p class="text-left">Si tu subscripción es por regalo obtendras 2 Tickets PREMIUM. Si cambias mas Tickets se convierten en tickets PREMIUM. No es necesario cambiarlos por Tickets PREMIUM.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="container match bg-op d-flex justify-content-between align-items-center text-left">
            <div class="matchSort">
                <span>BITS</span>
                <p class="text-left">10 BITS = 1 TICKET SENCILLO</p>
                <p class="text-left">20 BITS = 1 TICKET PREMIUM</p>
               
            </div>
        </div>
    </div>
</div>