<div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Re-Inscripción</h2>
              <div class="title-star"><h1>$250 MXN.</h1><span>Incluye CNE.</span></div>
              <p class="descrip">Este precio especial es exclusivo para los equipos que formaron parte de la temporada pasada {{page.temporada}}</p>
          </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Inscripción</h2>
              <div class="title-star"><h1>$300 MXN.</h1><span>Incluye CNE.</span></div>
              <p class="descrip">Esta es la tarifa de inscripción para equipos que se unen a la Liga.</p>
          </div>
    </div>
   
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
          <div class="card-rules">
              <h2 class="title-group">Cambio de nombre de Equipo (CNE)</h2>
              <div class="title-star"><h1>$50 MXN.</h1></div>
              <p class="descrip"> Este cargo adicional se aplica después de completar la inscripción o reinscripción. Si el cambio de nombre no se utiliza durante la Liga, se considerará un reembolso o crédito al finalizar la temporada. El cargo está incluido en el pago inicial de inscripción o reinscripción.</b>
              </p>
          </div>
    </div>

     <div class="col-12 col-md-12 col-lg-12 col-xl-6">
          <div class="card-rules">
              <h2 class="title-group">Nombre de equipo</h2>
              <div class="title-star"><h1>20</h1><span>Carácteres máximo</span></div>
              <p class="descrip">No deben ser ofensivos, inapropiados, difamatorios o discriminatorios. No deben ser engañosos o intentar suplantar la identidad de otros.</p>
          </div>
    </div>
     <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Roster</h2>
              <div class="title-star"><h1>8 jugadores</h1><span>Minimo 5</span></div>
              <p class="descrip">Entregar Nicknames e IDs de cada jugador.</p>
          </div>
    </div>

     <div class="col-12 col-md-6 col-lg-6 col-xl-3">
          <div class="card-rules">
              <h2 class="title-group">Logo</h2>
              <div class="title-star"><h1>PNG</h1><span>1000x1000</span></div>
              <p class="descrip">No ofensivo/inapropiado (Si no tienes logo, nuestro sponsor te asignará uno según tu nombre.)</p>
          </div>
    </div>

     <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Horario Oficial</h2>
            <div class="title-star">
                <div class="title-star"><h1>21H</h1><span>CDMX</span></div>
            </div>
            <p class="descrip">Todos los equipos deben estar disponibles para iniciar partidos a partir de las 21:00 MX (9:00 PM CST) en los días programados.</p>
        </div>
    </div>
  
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Duración de la Temporada</h2>
            <div class="title-star">
                <h1>20-25</h1><span>Días</span>
            </div>
            <p class="descrip">Esta duración puede ajustarse debido a eventos externos o actualizaciones del propio juego.</p>
        </div>
    </div>
 
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Reembolso</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-sack-dollar"></i></h1>
            </div>
            <p class="descrip">
               Inscripciones solo se reembolsan antes del inicio de la liga, con aviso de 2 días. Una vez iniciada la liga, no hay reembolsos.     </p>     
        </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Jugadores Vetados</h2>
            <div class="title-star">
                <h1>Crobat Sama</h1><span>Máximiliano Gutiérrez</span>
            </div>
            <p class="descrip">
            Cualquier equipo que incluya o se le sorprenda jugando con un jugador vetado será automáticamente dado de baja de la liga.   
            </p>     
        </div>
        </div>


  </div>
