<div class="row">

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Conducta Antideportiva</h2>
            <div class="title-star">
                <h1><i class="bi bi-shield-exclamation"></i></h1>

            </div>
            <p class="descrip">Para asegurar un ambiente de juego justo y respetuoso, cualquier conducta antideportiva
                será sancionada. Dependiendo de la gravedad, esto resultará en un llamado de atención o la
                descalificación automática del equipo.</p>
        </div>
    </div>



    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Agresiones verbales o escritas: </h2>
            <div class="title-star">
                <h1>#@w:%/&%</h1>
            </div>
            <p class="descrip">Insultos, amenazas, lenguaje soez, o cualquier comunicación destinada a denigrar o
                provocar a otros.</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Acoso</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-eye"></i></h1>
            </div>
            <p class="descrip">Comportamiento repetitivo e intimidatorio dirigido a jugadores, equipos, administradores
                o miembros de la comunidad.</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Trampas o uso de exploits</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-triangle-exclamation"></i></h1>
            </div>
            <p class="descrip">
                Intentar obtener una ventaja injusta mediante software de terceros, errores del juego (bugs/glitches), o
                cualquier método no permitido.
            </p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Suplantación de identidad</h2>
            <div class="title-star">
                <img src="/assets/mis/crobat.png" alt="Suplantación de identidad">
            </div>
            <p class="descrip">
                Jugar con una cuenta que no es la propia, o hacerse pasar por otro jugador o miembro del staff.
            </p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6   ">
        <div class="card-rules">
            <h2 class="title-group">Comportamiento disruptivo</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-gamepad"></i></h1>
            </div>
            <p class="descrip">Cualquier acción que interfiera intencionadamente con el desarrollo normal de un partido
                o con la comunicación del torneo.</b>
            </p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-rules">
            <h2 class="title-group">Abandono del Torneo</h2>
           
            {% if page.class == "CXF" %}
             <div class="title-star">
                <h1>DQ</h1>
            </div>
                <p class="descrip">
                Si un equipo abandona la Copa:

                Su registro de puntos se establecerá a 0 puntos.
               El equipo en turno en la ronda  recibirán una victoria de 2-0
    
            </p>
            {% else %}
             <div class="title-star">
                <h1>0 pts</h1>
            </div>
            <p class="descrip">
                Si un equipo abandona la Liga:

                Su registro de puntos se establecerá a 0 puntos.
                Los equipos que ya jugaron contra ellos o que tenían partidas pendientes recibirán una victoria de 2-0
                (sumando 3 puntos a su registro).
            </p>
            {% endif %}
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-rules">
            <h2 class="title-group">Jugadores/Equipos Vetados</h2>
            <div class="title-star">

            </div>
            <div class="descrip">
                <p>
                    La administración se reserva el derecho de vetar <b>permanentemente</b> o por un <b>período
                        determinado</b> a aquellos jugadores o equipos que demuestren un comportamiento que atente
                    gravemente contra las reglas, la sana competencia o el respeto dentro y fuera del juego.
                </p>
                <p>La decisión de vetar a un jugador o equipo será tomada por la administración de la Liga Indigo y será
                    definitiva e inapelable. Los jugadores y equipos vetados serán notificados de la duración y las
                    razones de su sanción.</p>

            </div>
        </div>
    </div>



</div>