<div class="row">
    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Alta de Jugador</h2>
            <div class="title-star">
                <h1>NICKANAME</h1><span>ID:15664WD</span>
            </div>
            <p class="descrip">
El equipo podrá hacer las altas de sus jugadores.
            </p>
             </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Baja de Jugador</h2>
            <div class="title-star">
                <h1>NICKANAME</h1><span>ID:15664WD</span>
            </div>
            <p class="descrip">
El equipo podrá hacer las bajas de sus jugadores.
            </p>
             </div>
    </div>
 
    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Modificacion de Jugador</h2>
            <div class="title-star">
                <h1>NICKANAME</h1><span>ID:15664WD</span>
            </div>
            <p class="descrip">
El equipo podrá hacer los cambios de nicknames de sus jugadores. </p>
             </div>
    </div>
 
    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Horario de Registro</h2>
            <div class="title-star">
                <h1>19:00</h1><span>Cierre de registro</span>
            </div>
            <p class="descrip">
 El horario de registro es de la 1 p. m. a 7 p. m. , en el grupo de Whatsapp asignado para dicha tarea por la administración </p>
             </div>
    </div>
 
    <!-- <div class="col-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card-rules">
            <h2 class="title-group">Plantilla</h2>
            <div class="title-star">
                <h1><i class="fa-solid fa-file"></i></h1><a href="">VER</a>
            </div>
            <p class="descrip">
 El horario de registro es de la 1 p. m. a 7 p. m. , en el grupo de Whatsapp asignado para dicha tarea por la administración </p>
             </div>
    </div> -->




</div>