
    <div class="row text-white g-3 mb-5">

        <div class="col-12  col-md-12 col-lg-4">
            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>DATOS GENERALES</h4>


                    </div>
                </div>
                <div class="gamer-desc">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Inscripción: $150.00 MXN</li>
                        <li class="list-group-item">Inicio: 12 de septiembre</li>
                        <li class="list-group-item">Cierre de inscripción: 08 de sep</li>
                        <li class="list-group-item">Round robin (BO3)</li>
                        <li class="list-group-item">Roster libre</li>
                        <li class="list-group-item">Modo torneo</li>
                        <li class="list-group-item">Servidor NA04</li>
                        <li class="list-group-item">No personalizadas</li>
                        <li class="list-group-item">No se permiten espectadores</lñ>
                        <li class="list-group-item">40 Cupos</li>

                    </ul>
                </div>
            </div>

            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>TOLERANCIA</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>10 minutos: <br>El tiempo corre una vez entregada la sala. Si el equipo no entra a la sala en
                        el tiempo antes mencionado, se le dará win al equipo remiente de la sala por marcador 2-0
                    </p>


                </div>
            </div>
            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>BANS</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>Liciencias Unites <b>nuevas</b> durante el torneo quedan automáticamente prohibidas.</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ho-Oh</li>
                        <li class="list-group-item">Mewtwo X</li>
                        <li class="list-group-item">Mewtwo Y</li>
                        <li class="list-group-item">Miraidon</li>
                        <li class="list-group-item">Zacian</li>
                        <li class="list-group-item">Armorougue</li>
                    </ul>

                </div>
            </div>
            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>PRIZEPOOL</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>1er lugar: 65% de la inscripción.</p>
                    <p>2do lugar: 15% de la inscripción.</p>

                    <p class="mb-0"><b>BONUS</b></p>
                    <p>Esto es solo para aplica para el equipo <b>CAMPEÓN</b> al ganar sus partidos con marcador 2-0</p>
                    <p>+$700 MXN (11 Victorias )</p>
                    <p>+$500 MXN (10 Victorias)</p>
                 

                </div>
            </div>

            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>ASCENSO</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>Los mejores 3 de cada liga ascienden a la siguiente liga:</p>
                    <p>LI ORO -> LI PLATINO</p>
                    <p>LI PLATA -> LI ORO</p>
                    <p>LI BRONCE -> LI PLATA</p>
                </div>
            </div>
            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>DESCENSO</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>Los mejores 3 de cada liga descienden a la siguiente liga:</p>
                    <p>LI PLATINO -> LI ORO</p>
                    <p>LI ORO -> LI PLATA</p>
                    <p>LI PLATA -> LI BRONCE</p>
                </div>
            </div>
        </div>

        <div class="col-12  col-md-12 col-lg-8">
            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>ASIGNACIÓN DE LIGA</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>Al inscribirte se te dara asignará una Liga Indigo (Platino, Oro, Plata, Bronce) esto depende
                        al cupo de cada una las ligas y confirmaciones de los equipos de las ligas donde se
                        encuentran. Si eres equipo nuevo o dejaste de partipar en alguna temporada se empezará por
                        la Liga Inigo Plata o Liga Indigo Bronce todo esto depende a los equipos registrados, en un
                        caso diferente podrias empezar en la Liga Indigo Platino o Liga Indigo Oro.
                    </p>


                </div>
            </div>
            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>CALENDARIO</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>Cada capitan agendará el horario de sus partidos bajo el calendario dado por la liga. (En el
                        límite de días asigando por el ADMIN). Los equipos pueden reagendar partido si hay un evento
                        externo mientras todo se avise con minimo 1h de antipación. <b>En caso de ser necesario la
                            liga
                            dará dias adicionales para la entrega de partidos</b></p>

                    <p>El registro de la partida la debe hacer el capitán del equipo ganador en el grupo de
                        resultados del torneo antes de las 1pm de la fecha dada para jugar los partidos
                        correspondientes. </p>

                    <p>Partidos que no se juegan en la fecha acordada. Pasarán a tener registro 0-0. <b>(en el caso
                            que no se de acuerdo por ambos capitanes).</b></p>

                    <p>Partido que no se notifique para su registro antes de la 1pm de la fecha asignada pasará a
                        tener victoria el equipo rival 2-1. <b>(debido que el equipo ganador es quien
                            debe notificar)</b>.</p>

                </div>
            </div>

            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>CAMPEONATO</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p class="mb-0"><b>CAMPEÓN</b></p>
                    <p>El Equipo que tenga mayor cantidad de puntos en la tabla durante la temporada será el equipo
                        <b>CAMPEÓN</b>.
                    </p>
                    <p class="mb-0"><b>PUNTOS</b></p>
                    <p>Cada victoria del enfrentamiento del Bo3 vale un 1pt.</p>
                    <p class="mb-0"><b>1ST PICK</b></p>
                    <p>Será asignado por el ADMIN para primer MATCH, para los partidos restantes <b>1st PICK</b>
                        será el equipo perdedor.</p>
                    <p class="mb-0"><b>EMPATE</b></p>
                    <p>En caso de empate en la tabla el CAMPEÓN se definira el ganador por el resultado de la partida entre ambos equipos
                        en la temporada. </p>

                    <img src="/assets/img/desempate.png" alt="items" class="img-fluid">
                    <p> En caso de empate entre 3 o más equipos y no exista un resultado que defina ganador se
                        procedera a jugar un partido Bo1 entre los equipos involucrados hasta obtener un ganador</p>



                </div>
            </div>


            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>CONEXIÓN STREAM</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>El partido no se detendrá una vez iniciado en caso de falla por internet o luz, debido a que
                        es responsabilidad de cada equipo.</p>

                    <p>Durante la fase de <b>DRAFT</b> o <b>PANTALLA DE CARGA</b> se pondrá pausa solo si es
                        anunciado por el capitan al reportar algun detalle </p>
                    <ul>
                        <li>
                            <p>1. EL JUEGO SE CERRO</p>
                        </li>
                        <li>
                            <p>2. NO DEJO SELECCIONAR PICK</p>
                        </li>
                    </ul>
                    <p>En caso de no poder seleccionar pick será reset base a los mismos <b>PICKS</b> respetando los
                        <b>BANS</b>, favor de quedarse en base, la selección se reanuda donde paso dicho suceso.
                    </p>

                </div>
            </div>


            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>CONEXIÓN OFF-STREAM</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>El partido no se detendrá una vez iniciado en caso de falla por internet o luz, debido a que
                        es responsabilidad de cada equipo.</p>

                    <p>Durante la fase de <b>DRAFT</b> o <b>PANTALLA DE CARGA</b> si pasan los siguientes detalles
                        favor de avisar al capitan rival y quedarse en base </p>
                    <ul>
                        <li>
                            <p>1. EL JUEGO SE CERRO</p>
                        </li>
                        <li>
                            <p>2. NO DEJO SELECCIONAR PICK</p>
                        </li>
                    </ul>
                    <p>En caso de no poder seleccionar pick será reset base a los mismos <b>PICKS</b> respetando los
                        <b>BANS</b>, favor de quedarse en base, la selección se reanuda donde paso dicho suceso.
                    </p>

                </div>
            </div>





            <div class="gamer-card">
                <div class="gamer-top bgIndigoTop">
                    <img src="/assets/mis/circle-indigo.png" alt="">
                    <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>DESCALIFICACIÓN</h4>
                    </div>
                </div>
                <div class="gamer-desc">
                    <p>Cualquier conducta antideportiva el equipo en cuestion tendrá un llamado de atención o será
                        descalificado en automático bajos las siguientes puntos:</p>
                    <p>Agresiones</p>
                    <p>Acoso</p>
                    <p>Faltas de respeto hacia los jugadores, equipos, comunidades o administradores del torneo.</p>

                    <p>Equipo que abandone el torneo pasará a tener 0 puntos y los equipos que jugaron con el equipo
                        dado de baja o que falten por jugar tendrán 2pts en su registro. (Marcador por 2-0).</p>
                </div>
            </div>
        </div>

    </div>

