<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0  {{post.p1}} {{post.pp1}} p-1">
    <div class="container carousel-score  {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover1}}" alt="" class="img-fluid"">
        <p>{{post.p1 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
          <h3>{{post.liga}}</h3>
          <h2>{{post.r1}} - {{post.rr1}}</h2>
          <h3>{{post.ronda}}</h3> 
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover11}}" alt="" class="img-fluid">
        <p>{{post.pp1 |truncate: 8}}</p>
      </div>
    </div>
</div>


