<!-- R1 -->
<div class="row g-5 mb-3">
    <h4 class=""><b>RONDA 1</b></h4> 
    {% assign norte = site.categories.partido1 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p1}}</p>
            <p class="text-left">{{post.pp1}}</p>
        </div>
        <div class="matchTeams">
            <p class="text-left">{{post.r1}}</p>
            <p class="text-left">{{post.rr1}}</p>
        </div> 
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 2</b></h4> 
    {% assign norte = site.categories.partido2 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp2}}</p>
            <p class="text-left ">{{post.p2}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 3</b></h4> 
    {% assign norte = site.categories.partido3 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p3}}</p>
            <p class="text-left">{{post.pp3}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 4</b></h4> 
    {% assign norte = site.categories.partido4 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp4}}</p>
            <p class="text-left ">{{post.p4}}</p>
        </div>
         <div class="matchTeams">
            <p class="text-left">{{post.rr4}}</p>
            <p class="text-left">{{post.r4}}</p>
        </div> 
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 5</b></h4> 
    {% assign norte = site.categories.partido5 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p5}}</p>
            <p class="text-left">{{post.pp5}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 6</b></h4> 
    {% assign norte = site.categories.partido6 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp6}}</p>
            <p class="text-left ">{{post.p6}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 7</b></h4> 
    {% assign norte = site.categories.partido7 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp7}}</p>
            <p class="text-left ">{{post.p7}}</p>
        </div>
        <div class="matchTeams">
            <p class="text-left">{{post.rr7}}</p>
            <p class="text-left">{{post.r7}}</p>
        </div> 
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 8</b></h4> 
    {% assign norte = site.categories.partido8 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p8}}</p>
            <p class="text-left">{{post.pp8}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 9</b></h4> 
    {% assign norte = site.categories.partido9 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp9}}</p>
            <p class="text-left ">{{post.p9}}</p>
        </div>
         <div class="matchTeams">
            <p class="text-left">{{post.rr9}}</p>
            <p class="text-left">{{post.r9}}</p>
        </div> 
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 10</b></h4> 
    {% assign norte = site.categories.partido10 %} 
    {%- for post in norte-%}
    <div class="col-12 col-sm-6 col-md-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp10}}</p>
            <p class="text-left ">{{post.p10}}</p>
        </div>
         <div class="matchTeams">
            <p class="text-left">{{post.rr10}}</p>
            <p class="text-left">{{post.r10}}</p>
        </div>
   </div>   
    </div>
    {%- endfor -%}
</div>

