<div class="container text-white ">
    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button"
          role="tab" aria-controls="pills-1" aria-selected="true">1</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button"
          role="tab" aria-controls="pills-2" aria-selected="false">2</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button"
          role="tab" aria-controls="pills-3" aria-selected="false">3</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#pills-4" type="button"
          role="tab" aria-controls="pills-4" aria-selected="false">4</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-5-tab" data-bs-toggle="pill" data-bs-target="#pills-5" type="button"
          role="tab" aria-controls="pills-5" aria-selected="false">5</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-6-tab" data-bs-toggle="pill" data-bs-target="#pills-6" type="button"
          role="tab" aria-controls="pills-6" aria-selected="false">6</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-7-tab" data-bs-toggle="pill" data-bs-target="#pills-7" type="button"
          role="tab" aria-controls="pills-7" aria-selected="false">7</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-8-tab" data-bs-toggle="pill" data-bs-target="#pills-8" type="button"
          role="tab" aria-controls="pills-8" aria-selected="false">8</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-9-tab" data-bs-toggle="pill" data-bs-target="#pills-9" type="button"
          role="tab" aria-controls="pills-9" aria-selected="false">9</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-10-tab" data-bs-toggle="pill" data-bs-target="#pills-10" type="button"
          role="tab" aria-controls="pills-10" aria-selected="false">10</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-11-tab" data-bs-toggle="pill" data-bs-target="#pills-11" type="button"
          role="tab" aria-controls="pills-11" aria-selected="false">11</button>
      </li>


    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f1}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R1 %}
          {%- for post in norte-%}
            {% include R1.html %}
            {% include R2.html %}
            {% include R3.html %}
            {% include R4.html %}
            {% include R5.html %}
            {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f2}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R2 %}
          {%- for post in norte-%}
          {% include R1.html %}
          {% include R2.html %}
          {% include R3.html %}
          {% include R4.html %}
          {% include R5.html %}
          {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f3}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R3 %}
          {%- for post in norte-%}
          {% include R1.html %}
          {% include R2.html %}
          {% include R3.html %}
          {% include R4.html %}
          {% include R5.html %}
          {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f4}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R4 %}
          {%- for post in norte-%}
          {% include OUT-R1.html %}
          {% include OUT-R2.html %}
          {% include OUT-R3.html %}
          {% include OUT-R4.html %}
          {% include OUT-R5.html %}
          {% include OUT-R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f5}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R5 %}
          {%- for post in norte-%}
          {% include R1.html %}
          {% include R2.html %}
          {% include R3.html %}
          {% include R4.html %}
          {% include R5.html %}
          {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f6}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R6 %}
          {%- for post in norte-%}
          {% include OUT-R1.html %}
          {% include OUT-R2.html %}
          {% include OUT-R3.html %}
          {% include OUT-R4.html %}
          {% include OUT-R5.html %}
          {% include OUT-R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f7}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R7 %}
          {%- for post in norte-%}
          {% include R1.html %}
          {% include R2.html %}
          {% include R3.html %}
          {% include R4.html %}
          {% include R5.html %}
          {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f8}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R8 %}
          {%- for post in norte-%}
          {% include OUT-R1.html %}
          {% include OUT-R2.html %}
          {% include OUT-R3.html %}
          {% include OUT-R4.html %}
          {% include OUT-R5.html %}
          {% include OUT-R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-9" role="tabpanel" aria-labelledby="pills-9-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f9}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R9 %}
          {%- for post in norte-%}
          {% include R1.html %}
          {% include R2.html %}
          {% include R3.html %}
          {% include R4.html %}
          {% include R5.html %}
          {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-10" role="tabpanel" aria-labelledby="pills-11-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f10}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R10 %}
          {%- for post in norte-%}
          {% include OUT-R1.html %}
          {% include OUT-R2.html %}
          {% include OUT-R3.html %}
          {% include OUT-R4.html %}
          {% include OUT-R5.html %}
          {% include OUT-R6.html %}
          {%- endfor -%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-11" role="tabpanel" aria-labelledby="pills-11-tab" tabindex="0">
        <div class="row mb-3 mb-5">
          <div class="roundTittle"> 
            {% assign FH = site.categories.FECHA %}
            {%- for post in FH-%}
            <h3>{{post.f11}}</h3>
            {%- endfor -%}
          </div>
          {% assign norte = site.categories.R11 %}
          {%- for post in norte-%}
          {% include R1.html %}
          {% include R2.html %}
          {% include R3.html %}
          {% include R4.html %}
          {% include R5.html %}
          {% include R6.html %}
          {%- endfor -%}
        </div>
      </div>

    </div>
  </div>