<!-- R1 -->
<div class="row g-5 mt-0 mb-3">
    <h4 class=""><b>RONDA 1</b></h4> 
    {% assign norte = site.categories.m1 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p1}}</p>
            <p class="text-left">{{post.pp1}}</p>
        </div>
        <div>
            <p class="text-left">{{post.r1}}</p>
            <p class="text-left">{{post.rr1}}</p>
        </div> 
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 2</b></h4> 
    {% assign norte = site.categories.m2 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp2}}</p>
            <p class="text-left ">{{post.p2}}</p>
        </div>
        <div>
            <p class="text-left">{{post.rr2}}</p>
            <p class="text-left">{{post.r2}}</p>
        </div> 
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 3</b></h4> 
    {% assign norte = site.categories.m3 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p3}}</p>
            <p class="text-left">{{post.pp3}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 4</b></h4> 
    {% assign norte = site.categories.m4 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp4}}</p>
            <p class="text-left ">{{post.p4}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 5</b></h4> 
    {% assign norte = site.categories.m5 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p5}}</p>
            <p class="text-left">{{post.pp5}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 6</b></h4> 
    {% assign norte = site.categories.m11 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp11}}</p>
            <p class="text-left ">{{post.p11}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 7</b></h4> 
    {% assign norte = site.categories.m7 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp7}}</p>
            <p class="text-left ">{{post.p7}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}

    <h4 class=""><b>RONDA 8</b></h4> 
    {% assign norte = site.categories.m8 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left ">{{post.p8}}</p>
            <p class="text-left">{{post.pp8}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 9</b></h4> 
    {% assign norte = site.categories.m9 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp9}}</p>
            <p class="text-left ">{{post.p9}}</p>
        </div>
        <!-- <div>
            <p class="text-left">0</p>
            <p class="text-left">0</p>
        </div> -->
   </div>   
    </div>
    {%- endfor -%}


    <h4 class=""><b>RONDA 10</b></h4> 
    {% assign norte = site.categories.m10 %} 
    {%- for post in norte-%}
    <div class="col-4 mt-0"> 
    <div class="container match d-flex justify-content-between align-items-center text-left">
        <div class="matchTeams">
            <p class="text-left">{{post.pp10}}</p>
            <p class="text-left ">{{post.p10}}</p>
        </div>
        <div>
            <p class="text-left">{{post.rr10}}</p>
            <p class="text-left">{{post.r10}}</p>
        </div>
   </div>   
    </div>
    {%- endfor -%}


   

 

    

</div>
