<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-0">
    <div class="container roundTeams">
      <div class="roundTeam">
        <img src="{{page.maincover}}" alt="" class="img-fluid">
        <p >{{page.p1 | truncate: 8}}</p>
      </div>
      <div class="roundScore">
        {% assign FH = site.categories.FECHA %}
        {%- for post in FH-%}
        <span>{{post.j1}}</span>
        <span class="small">{{post.f1}}</span>
        {%- endfor -%}
        <p>{{page.r1}} - {{page.rr1}}</p>
     
      </div>
      <div class="roundTeam">
        <img src="{{page.maincover1}}" alt="">

        <p >{{page.pp1 |truncate: 8}}</p>
        
      </div>
    </div>
  </div>