<div class="col-12 col-md-12 col-lg-4 col-xl-4 mt-0">
  <div class="container roundTeams">
    <div class="roundTeam">
      <img src="{{page.maincover2}}" alt="" class="img-fluid">
      <p >{{page.pp2 | truncate: 8}}</p>
    </div>
    <div class="roundScore">
      {% assign FH = site.categories.FECHA %}
      {%- for page in FH-%}
      <span>{{page.j2}}</span>
      <span class="small">{{page.f2}}</span>
      {%- endfor -%}
      <p>{{page.rr2}} - {{page.r2}}</p>
   
    </div>
    <div class="roundTeam">
      <img src="{{page.maincover}}" alt="">
      <p >{{page.p2 | truncate: 8}}</p>
    </div>
  </div>
</div>