
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade " id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab" tabindex="0">
        <div class="row mt-4 team--last">
          {% assign norte = site.categories.LO1 | sort: "match" %}
          {% include LOCAL.html%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab" tabindex="0">
        <div class="row mt-4 team--last">
           {% assign norte = site.categories.LO2 | sort: "match" %}
          {% include OUT.html%} 
        </div>
      </div>
      <div class="tab-pane fade " id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab" tabindex="0">
        <div class="row mt-4 team--last">
           {% assign norte = site.categories.LO3 | sort: "match" %}
          {% include LOCAL2.html%} 
        </div>
      </div>
      <div class="tab-pane fade " id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">
        <div class="row mt-4 team--last">
           {% assign norte = site.categories.LO4 | sort: "match" %}
          {% include OUT2.html%} 
        </div>
      </div>
      <div class="tab-pane fade show active" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">
        <div class="row mt-4 team--last">
          {% assign norte = site.categories.LO5 | sort: "match" %}
          {% include LOCAL3.html%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab" tabindex="0">
        <div class="row mt-4 team--last">
          {% assign norte = site.categories.LO6 | sort: "match" %}
          {% include OUT3.html%} 
        </div>
      </div>
      <div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab" tabindex="0">
        <div class="row mt-4 team--last">
           {% assign norte = site.categories.LO7 | sort: "match" %}
          {% include LOCAL4.html%} 
        </div>
      </div>
      <div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab" tabindex="0">
        <div class="row mt-4 team--last">
          {% assign norte = site.categories.LO8 | sort: "match" %}
          {% include OUT4.html%}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-9" role="tabpanel" aria-labelledby="pills-9-tab" tabindex="0">
        <div class="row mt-4 team--last">
           {% assign norte = site.categories.LO9 | sort: "match" %}
          {% include LOCAL5.html%} 
        </div>
      </div>
   
  
    </div>
 
