<div class="container mb-2 d-flex justify-content-between align-items-center league ">


{% if page.route == "/liga-indigo" %}
<h1 class="text-white m-0 p-0">LIGA INDIGO</h1>
{% elsif page.route == "/liga-johto" %}
<h1 class="text-white m-0 p-0">LIGA JOHTO</h1>
{% else %}
<h1 class="text-white m-0 p-0">LIGA NARANJA</h1>
{% endif %}
    <h1 class="text-white ms-3"><span class="d-none d-md-inline">PJ</span> <b id="partidosJugados"></b> | <b id="total"></b> <span
            class="d-none d-md-inline">pts</span></h1>
</div>


<div class="container">
    <div class="row  mb-3">
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center {{page.bg1}}">
                <div class="matchTeams">
                    <span>{{page.j1}}</span>
                    <p class="text-left ">{{page.p1}}</p>
                    <p class="text-left">{{page.pp1}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.r1}}</p>
                    <p class="text-left">{{page.rr1}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg2}}">
                <div class="matchTeams">
                    <span>{{page.j2}}</span>
                    <p class="text-left">{{page.pp2}}</p>
                    <p class="text-left ">{{page.p2}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.rr2}}</p>
                    <p class="text-left">{{page.r2}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg3}}">
                <div class="matchTeams">
                    <span>{{page.j3}}</span>
                    <p class="text-left ">{{page.p3}}</p>
                    <p class="text-left">{{page.pp3}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.r3}}</p>
                    <p class="text-left">{{page.rr3}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg4}}">
                <div class="matchTeams">
                    <span>{{page.j4}}</span>
                    <p class="text-left">{{page.pp4}}</p>
                    <p class="text-left ">{{page.p4}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.rr4}}</p>
                    <p class="text-left">{{page.r4}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg5}}">
                <div class="matchTeams">
                    <span>{{page.j5}}</span>
                    <p class="text-left ">{{page.p5}}</p>
                    <p class="text-left">{{page.pp5}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.r5}}</p>
                    <p class="text-left">{{page.rr5}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg6}}">
                <div class="matchTeams">
                    <span>{{page.j6}}</span>
                    <p class="text-left">{{page.pp6}}</p>
                    <p class="text-left ">{{page.p6}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.rr6}}</p>
                    <p class="text-left">{{page.r6}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg7}}">
                <div class="matchTeams">
                    <span>{{page.j7}}</span>
                    <p class="text-left ">{{page.p7}}</p>
                    <p class="text-left">{{page.pp7}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.r7}}</p>
                    <p class="text-left">{{page.rr7}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg8}}">
                <div class="matchTeams">
                    <span>{{page.j8}}</span>
                    <p class="text-left">{{page.pp8}}</p>
                    <p class="text-left ">{{page.p8}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.rr8}}</p>
                    <p class="text-left">{{page.r8}}</p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4 mt-0">
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg9}}">
                <div class="matchTeams">
                    <span>{{page.j9}}</span>
                    <p class="text-left ">{{page.p9}}</p>
                    <p class="text-left">{{page.pp9}}</p>
                </div>
                <div class="matchTeams">
                    <span>MF</span>
                    <p class="text-left">{{page.r9}}</p>
                    <p class="text-left">{{page.rr9}}</p>
                </div>
                <div class="matchTeams">
                    <span><i class="fa-brands fa-twitch"></i></span>
                    <p class="text-left">{{page.dia}}</p>
                    <p class="text-left">{{page.hora}}</p>
                </div>
            </div>
        </div>
    
     
    
    </div>
</div>
