
<div class="row g-5 mt-0 mb-3">
<h4 class=""><b>RONDA 11</b></h4> 
{% assign norte = site.categories.partido11 %} 
{%- for post in norte-%}
<div class="col-4 mt-0"> 
<div class="container match d-flex justify-content-between align-items-center text-left">
    <div class="matchTeams">
        <p class="text-left">{{post.pp11}}</p>
        <p class="text-left ">{{post.p11}}</p>
    </div>
    <!-- <div>
        <p class="text-left">0</p>
        <p class="text-left">0</p>
    </div> -->
</div>   
</div>
{%- endfor -%}


{% assign norte = site.categories.m6 %} 
{%- for post in norte-%}
<div class="col-4 mt-0"> 
<div class="container match d-flex justify-content-between align-items-center text-left">
    <div class="matchTeams">
        <p class="text-left">{{post.p6}}</p>
        <p class="text-left ">{{post.pp6}}</p>
    </div>
    <!-- <div>
        <p class="text-left">0</p>
        <p class="text-left">0</p>
    </div> -->
</div>   
</div>
{%- endfor -%}
</div>