<div class="col-12 col-md-12 col-lg-4 col-xl-4 mt-0">
  <div class="container roundTeams">
    <div class="roundTeam">
      <img src="{{page.maincover}}" alt="" class="img-fluid">
      <p class="text-left">{{page.p3 | truncate: 8}}</p>
    </div>
    <div class="roundScore">
      {% assign FH = site.categories.FECHA %}
      {%- for page in FH-%}
      <span>{{page.j3}}</span>
      <span class="small">{{page.f3}}</span>
      {%- endfor -%}
      <p>{{page.r3}} - {{page.rr3}}</p>
   
    </div>
    <div class="roundTeam">
      <img src="{{page.maincover3}}" alt="">
      <p class="text-left">{{page.pp3 | truncate: 8}}</p>
    </div>
  </div>
</div>