{% if page.ID == "GX" %}
{%- for jugador in site.data.GX.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}


{% if page.ID == "L4O" %}
{%- for jugador in site.data.L4O.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "TAD" %}
{%- for jugador in site.data.TAD.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "TUT" %}
{%- for jugador in site.data.TUT.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "NEO" %}
{%- for jugador in site.data.NEO.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "MEXA" %}
{%- for jugador in site.data.MEXA.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "HOENN" %}
{%- for jugador in site.data.HOENN.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "RUBY" %}
{%- for jugador in site.data.RUBY.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "PLAT" %}
{%- for jugador in site.data.PLAT.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "COL" %}
{%- for jugador in site.data.COL.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "OVG" %}
{%- for jugador in site.data.OVG.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "STMN" %}
{%- for jugador in site.data.STMN.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "PEARL" %}
{%- for jugador in site.data.PEARL.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "AD" %}
{%- for jugador in site.data.AD.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "E" %}
{%- for jugador in site.data.ENIGMA.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "RNT" %}
{%- for jugador in site.data.RNT.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "7Z" %}
{%- for jugador in site.data.7Z.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "TSR" %}
{%- for jugador in site.data.TSR.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "DMD" %}
{%- for jugador in site.data.DMD.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "HG" %}
{%- for jugador in site.data.HG.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "EVL" %}
{%- for jugador in site.data.EVL.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}

{% if page.ID == "POA" %}
{%- for jugador in site.data.POA.jugadores -%}
{% include card-roster.html %}
{%- endfor -%}
{% endif %}
