<div class="card-round-title">
    <div class="card-round-record">
      
      {% if post.play1 == "SI" %}
      <span class="record bg-play-match">{{post.no1}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}
 
      {% if post.play2 == "SI" %}
      <span class="record bg-play-match">{{post.no2}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play3 == "SI" %}
      <span class="record bg-play-match">{{post.no3}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play4 == "SI" %}
      <span class="record bg-play-match">{{post.no4}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play5 == "SI" %}
      <span class="record bg-play-match">{{post.no5}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play6 == "SI" %}
      <span class="record bg-play-match">{{post.no6}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play7 == "SI" %}
      <span class="record bg-play-match">{{post.no7}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play8 == "SI" %}
      <span class="record bg-play-match">{{post.no8}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play9 == "SI" %}
      <span class="record bg-play-match">{{post.no9}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play10 == "SI" %}
      <span class="record bg-play-match">{{post.no10}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

      {% if post.play11 == "SI" %}
      <span class="record bg-play-match">{{post.no11}}</span>
      {% else %}
      <span class="record bg-noplay-match"">X</span>
      {% endif %}

    </div>
</div>

