<div class="card-round-title">
  <h2>{{team.nombre | truncate: 21}}
    {% if team.status == "top" %}
    <i class="ti ti-caret-up-filled text-success"></i>
    {% elsif team.status == "down" %}
    <i class="ti ti-caret-down-filled text-danger"></i>
    {% elsif team.status == "fire" %}
    <i class="ti ti-flame-filled text-warning"></i>
    {% elsif team.status == "star" %}
    <i class="ti ti-star-filled text-warning"></i>
    {% elsif team.status == "volt" %}
    <i class="ti ti-progress-bolt text-warning"></i>
    {% elsif team.status == "cash" %}
    <i class="ti ti-brand-cashapp text-success"></i>
    {% elsif team.status == "eye" %}
    <i class="ti ti-eye-cancel text-dark"></i>
    {% elsif team.status == "zzz" %}
    <i class="ti ti-zzz text-info "></i>
    {% elsif team.status == "clock" %}
    <i class="ti ti-clock-12 text-danger"></i>
    {% else %}
   
    {% endif %}


    <!-- {% if team.order > team.line %}
    <i class="ti ti-caret-down-filled text-danger"></i>
    {% elsif team.line > team.order %}

    <i class="ti ti-caret-up-filled text-success"></i>
    {% else %}
    <i class="ti ti-equal text-info"></i>
    {% endif %} -->


  </h2>

  <div class="card-round-record">

    {% if team.M1 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M1 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M1 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M1 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M1 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M1 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M2 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M2 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M2 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M2 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M2 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M2 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M3 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M3 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M3 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M3 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M3 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M3 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M4 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M4 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M4 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M4 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M4 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M4 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M5 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M5 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M5 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M5 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M5 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M5 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M6 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M6 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M6 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M6 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M6 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M6 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M7 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M7 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M7 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M7 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M7 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M7 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M8 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M8 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M8 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M8 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M8 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M8 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M9 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M9 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M9 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M9 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M9 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M9 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M10 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M10 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M10 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M10 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M10 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M10 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

    {% if team.M11 == 3 %}
    <span class="record sup">V</span>
    {% elsif team.M11 == 2 %}
    <span class="record win">V</span>
    {% elsif team.M11 == 1 %}
    <span class="record one">V</span>
    {% elsif team.M11 == "R" %}
    <span class="record rea">R</span>
    {% elsif team.M11 == "Z" %}
    <span class="record des">Z</span>
    {% elsif team.M11 == 0 %}
    <span class="record loss">D</span>
    {% else %}
    <span class="record"></span>
    {% endif %}

  </div>
</div>