<div class="card-round-title">
    <h2>{{post.team | truncate: 21}}</h2>
    <div class="card-round-record">
      <span class="record {{post.rec1}}"></span>
      <span class="record {{post.rec2}}"></span>
      <span class="record {{post.rec3}}"></span>
      <span class="record {{post.rec4}}"></span>
      <span class="record {{post.rec5}}"></span>
      <span class="record {{post.rec6}}"></span>
      <span class="record {{post.rec7}}"></span>
      <span class="record {{post.rec8}}"></span>
      <span class="record {{post.rec9}}"></span>
    </div>
   </div>