<div class="card-round-title">
  <div class="card-round-record">
        
        {% if equipo.M1 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M1 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M1 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M1 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M1 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M1 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M2 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M2 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M2 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M2 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M2 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M2 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M3 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M3 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M3 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M3 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M3 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M3 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M4 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M4 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M4 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M4 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M4 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M4 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M5 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M5 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M5 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M5 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M5 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M5 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M6 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M6 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M6 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M6 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M6 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M6 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M7 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M7 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M7 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M7 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M7 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M7 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M8 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M8 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M8 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M8 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M8 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M8 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M9 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M9 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M9 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M9 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M9 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M9 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M10 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M10 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M10 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M10 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M10 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M10 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
        {% if equipo.M11 == 3 %}
        <span class="record sup">V</span>
        {% elsif equipo.M11 == 2 %}
        <span class="record win">V</span>
        {% elsif equipo.M11 == 1 %}
        <span class="record one">V</span>
        {% elsif equipo.M11 == "R" %}
        <span class="record rea">R</span>
        {% elsif equipo.M11 == "Z" %}
        <span class="record des">Z</span>
        {% elsif equipo.M11 == 0 %}
        <span class="record loss">D</span>
        {% else %}
        <span class="record"></span>
        {% endif %}
  
  </div>
</div>