{% if page.pag == "MVP"%}
<div class="card-round-title">
      <div class="card-round-record">
  
        {% if post.play1 == "SI" %}
        <span class="record bg-play-match"  id="n1">{{post.no1}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n1">0</span>
        {% endif %}
   
        {% if post.play2 == "SI" %}
        <span class="record bg-play-match" id="n2">{{post.no2}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n2">0</span>
        {% endif %}
  
        {% if post.play3 == "SI" %}
        <span class="record bg-play-match" id="n3">{{post.no3}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n3">0</span>
        {% endif %}
  
        {% if post.play4 == "SI" %}
        <span class="record bg-play-match" id="n4">{{post.no4}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n4">0</span>
        {% endif %}
  
        {% if post.play5 == "SI" %}
        <span class="record bg-play-match" id="n5">{{post.no5}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n5">0</spa>
        {% endif %}
  
        {% if post.play6 == "SI" %}
        <span class="record bg-play-match" id="n6">{{post.no6}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n6">0</span>
        {% endif %}
  
        {% if post.play7 == "SI" %}
        <span class="record bg-play-match" id="n7">{{post.no7}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n7">0</span>
        {% endif %}
  
        {% if post.play8 == "SI" %}
        <span class="record bg-play-match" id="no8">{{post.no8}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="no8">0</span>
        {% endif %}
  
        {% if post.play9 == "SI" %}
        <span class="record bg-play-match" id="n9">{{post.no9}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n9">0</span>
        {% endif %}
  
        {% if post.play10 == "SI" %}
        <span class="record bg-play-match" id="n10">{{post.no10}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n10">0</span>
        {% endif %}
  
        {% if post.play11 == "SI" %}
        <span class="record bg-play-match" id="n11">{{post.no11}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n11">0</span>
        {% endif %}
      </div>
  </div>
{% else %}
<div class="card-round-title">
      <div class="card-round-record">
  
        {% if page.play1 == "SI" %}
        <span class="record bg-play-match" id="n1">{{page.no1}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n1">0</span>
        {% endif %}
   
        {% if page.play2 == "SI" %}
        <span class="record bg-play-match" id="n2">{{page.no2}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n2">0</span>
        {% endif %}
  
        {% if page.play3 == "SI" %}
        <span class="record bg-play-match" id="n3">{{page.no3}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n3">0</span>
        {% endif %}
  
        {% if page.play4 == "SI" %}
        <span class="record bg-play-match" id="n4">{{page.no4}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n4">0</span>
        {% endif %}
  
        {% if page.play5 == "SI" %}
        <span class="record bg-play-match" id="n5">{{page.no5}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n5">0</span>
        {% endif %}
  
        {% if page.play6 == "SI" %}
        <span class="record bg-play-match" id="n6">{{page.no6}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n6">0</span>
        {% endif %}
  
        {% if page.play7 == "SI" %}
        <span class="record bg-play-match" id="n7">{{page.no7}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n7">0</span>
        {% endif %}
  
        {% if page.play8 == "SI" %}
        <span class="record bg-play-match" id="n8" >{{page.no8}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n8">0</span>
        {% endif %}
  
        {% if page.play9 == "SI" %}
        <span class="record bg-play-match" id="n9">{{page.no9}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n9">0</span>
        {% endif %}
  
        {% if page.play10 == "SI" %}
        <span class="record bg-play-match" id="n10">{{page.no10}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n10">0</span>
        {% endif %}
  
        {% if page.play11 == "SI" %}
        <span class="record bg-play-match" id="n11">{{page.no11}}</span>
        {% else %}
        <span class="record bg-noplay-match" id="n11">0</span>
        {% endif %}
  
      </div>
  </div>
{% endif %}

