<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave29}}</p>
        <span>{{page.picks1llave29}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave29}}</p>
        <span>{{page.picks2llave29}}</span>
    </div>
</div>

<div class="container match {{page.bg1}}">
    <div class="matchTeams">
        <p >{{page.equipo1llave30}}</p>
        <span>{{page.picks1llave30}}</span>
    </div>
    <div class="matchTeams">
        <p >{{page.equipo2llave30}}</p>
        <span>{{page.picks2llave30}}</span>
    </div>
</div>



