{% if page.estadoSF1 == "SI" %}
<div class="bracket-round-list">
    <div class="bracket-round-team">
      <a href="/teams/{{page.SF1}}">
        <img src="/assets/logos/{{page.SF1}}.webp" alt="" class="img-fluid">
      </a>
    </div>

<div class="round-titles">
    <div class="card-round-promo left">
        <h6>{{page.SF1}}</h6>
    </div>
    <div class="card-round-promo">
      <span>{{page.F3}}</span>
      <h6>VS</h6>
      <span>{{page.H2}}</span>
    </div>
    <div class="card-round-promo right">
        <h6>{{page.SF2}}</h6>
    </div>
</div>


    <div class="bracket-round-team-right">
      <a href="/teams/{{page.SF2}}">
        <img src="/assets/logos/{{page.SF2}}.webp" alt="" class="img-fluid">
      </a>
    </div>

  
      <div class="card-back">
        <div class="card-color-left {{page.SF1}}"> </div>  
        <div class="card-color-right {{page.SF2}}"> </div>  
      </div>

  </div>
{% else %}
<div class="card-round-list mb-0">

    <div class="card-round-team">
        <a href="/liga-indigo-dashboard">
          <img src="/assets/logos/LIGA-INDIGO.webp" alt="" class="img-fluid">
        </a>
        <div class="card-round-title">
            <p>LLAVE 1</h2>
            <p>LLAVE 2</p>
          </div>
    </div>

     

    <div class="card-round-place">
      <p>{{page.F3}}</p>
      <p>21:00</p>
    </div>
  
      <div class="card-back bg-cham">
        <div class="card-color-left {{post.ID}}"> </div>  
      </div>

  </div>
{% endif %}