<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
    <div class="container carousel-score  {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover1}}" alt="" class="img-fluid"">
        <p>{{post.p1 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
          <h3>{{post.liga}}</h3>
          <h2>{{post.r1}} - {{post.rr1}}</h2>
          <h3>{{post.ronda}}</h3> 
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover11}}" alt="" class="img-fluid">
        <p>{{post.pp1 |truncate: 8}}</p>
      </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
    <div class="container carousel-score {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover2}}" alt="" class="img-fluid"">
        <p >{{post.p2 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
        <h3>{{post.liga}}</h3>
        <h2>{{post.r2}} - {{post.rr2}}</h2>
        <h3>{{post.ronda}}</h3> 
     
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover22}}" alt="" class="img-fluid">
        <p>{{post.pp2 |truncate: 8}}</p>
      </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
    <div class="container carousel-score {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover3}}" alt="" class="img-fluid"">
        <p >{{post.p3 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
        <h3>{{post.liga}}</h3>
        <h2>{{post.r3}} - {{post.rr3}}</h2>
        <h3>{{post.ronda}}</h3> 
     
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover33}}" alt="" class="img-fluid">
        <p>{{post.pp3 |truncate: 8}}</p>
      </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
    <div class="container carousel-score {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover4}}" alt="" class="img-fluid"">
        <p >{{post.p4 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
        <h3>{{post.liga}}</h3>
        <h2>{{post.r4}} - {{post.rr4}}</h2>
        <h3>{{post.ronda}}</h3> 
     
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover44}}" alt="" class="img-fluid">
        <p>{{post.pp4 |truncate: 8}}</p>
      </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
    <div class="container carousel-score {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover5}}" alt="" class="img-fluid"">
        <p >{{post.p5 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
        <h3>{{post.liga}}</h3>
        <h2>{{post.r5}} - {{post.rr5}}</h2>
        <h3>{{post.ronda}}</h3> 
     
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover55}}" alt="" class="img-fluid">
        <p>{{post.pp5 |truncate: 8}}</p>
      </div>
    </div>
</div>

{% if post.pp6 == "DES" %}
<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
  <div class="container carousel-score {{post.bg}}">
    <div class="roundTeam text-white">
      <img src="{{post.maincover6}}" alt="" class="img-fluid"">
      <p class="text-left">{{post.p6 | truncate: 8}}</p>
    </div>
    <div class="roundScore text-white">
      <h2>DESCANSO</h2>
   
    </div>
   
  </div>
</div>
{% else %} 

<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-0 splide__slide p-1">
    <div class="container carousel-score {{post.bg}}">
      <div class="roundTeam text-white">
        <img src="{{post.maincover6}}" alt="" class="img-fluid"">
        <p >{{post.p6 | truncate: 8}}</p>
      </div>
      <div class="roundScore text-white">
        <h3>{{post.liga}}</h3>
        <h2>{{post.r6}} - {{post.rr6}}</h2>
        <h3>{{post.ronda}}</h3> 
     
      </div>
      <div class="roundTeam text-white">
        <img src="{{post.maincover66}}" alt="" class="img-fluid">
        <p>{{post.pp6 |truncate: 8}}</p>
      </div>
    </div>
</div>

{% endif %}
