<div class="row team--last">
    <!-- <div class="col-2 offset-2">
        <a href=""><img src="/assets/logos/DRAZ.png" alt="" class="img-fluid"></a>
    </div> -->
    <!-- <div class="col-2">
        <img src="/assets/logos/AG.png" alt="" class="img-fluid">
    </div> -->
    <div class="col-2 offset-3">
        <img src="/assets/logos/S11.png" alt="" class="img-fluid">
    </div>
    <div class="col-2">
        <img src="/assets/logos/SPCES.png" alt="" class="img-fluid">
    </div>
    <div class="col-2">
        <img src="/assets/logos/golditto.png" alt="" class="img-fluid">
    </div>
    <!-- <div class="col-2">
        <img src="/assets/logos/PKS.png" alt="" class="img-fluid">
    </div> -->
</div>