
   <div class="row g-5 mb-3">
    <div class="col-12 col-md-6">
         <h4 class="mb-3"><b>DIVISION NORTE</b></h4>
   {% assign norte = site.categories.norteMayo | sort: "puntosLJMAYO24"| reverse %} 
   {%- for post in norte-%}
   <a class="text-white" href="{{ post.url }}">       
   <div class="container teamList d-flex justify-content-between align-items-center">
     <div class="teamIN">
      <img src="{{post.maincover}}" class="drop img-fluid" alt="">
      <p>{{ post.title | escape }}</p>
    </div>
    
    <p>{{post.puntosLJMAYO24}} pts</p>
   </div>   
   </a>
   {%- endfor -%}
    </div>


    <div class="col-12 col-md-6">
      <h4 class="mb-3"><b>DIVISION SUR</b></h4>
      {% assign norte = site.categories.surMayo | sort: "puntosLJMAYO24"
      | reverse %} {%- for post in norte-%}
      <a class="text-white" href="{{ post.url }}">       
        <div class="container teamList d-flex justify-content-between align-items-center">
          <div class="teamIN">
           <img src="{{post.maincover}}" class="drop img-fluid" alt="">
           <p>{{ post.title | escape }}</p>
         </div>
         <span>{{post.pj}}</span>
         <p>{{post.puntosLJMAYO24}} pts</p>
        </div>   
        </a>
      {%- endfor -%}
       </div>
   </div>




