<div class="content">
  <div class="card_res">
    <p class="title">GRUPO NORTE</p>
    {% assign norte = site.categories.nortejohto042024 | sort: "puntosLJMAYO04"
    | reverse %} {%- for post in norte-%}
    <a href="{{ post.url }}">
      <div class="user">
        <div class="image"></div>
        <div class="user__content">
          <div class="text">
            <span class="name">{{post.team}}</span>
            <p class="username">{{post.abr}}</p>
          </div>
          <button class="follow">{{post.puntosLJMAYO24}} pts</button>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>

  <div class="card_res">
    <p class="title">GRUPO SUR</p>
    {% assign sur = site.categories.surjohto042024 | sort: "puntosLJMAYO24" |
    reverse %} {%- for post in sur -%}
    <a href="{{ post.url }}">
      <div class="user">
        <div class="image"></div>
        <div class="user__content">
          <div class="text">
            <span class="name">{{post.team}}</span>
            <p class="username">{{post.abr}}</p>
          </div>
          <button class="follow">{{post.puntosLJMAYO24}} pts</button>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>
</div>
