
   <div class="row g-5 mb-3">
    <div class="col-12 col-md-6 col-lg-4">
         <h4 class="mb-3"><b>VIPS/SUBS</b></h4>
   {% assign norte = site.categories.subs | sort: "tickets"| reverse %} 
   {%- for post in norte-%}
        
   <div class="container teamList d-flex justify-content-between align-items-center">
     <div class="playerIN">
      <img src="{{post.maincover}}" class="drop img-fluid" alt="">
      <p class="text-uppercase">{{ post.title | escape }}</p>
      <span>{{post.rango}}</span>
    </div>
    
    <p>{{post.tickets}} tickets</p>
   </div>   

   {%- endfor -%}
    </div>


    <div class="col-12 col-md-6 col-lg-4">
      <h4 class="mb-3"><b>GIFTERS</b></h4>
      {% assign norte = site.categories.gift | sort: "tickets"
      | reverse %} {%- for post in norte-%}
      <a class="text-white" href="{{ post.url }}">       
        <div class="container teamList d-flex justify-content-between align-items-center">
          <div class="playerIN">
            <img src="{{post.maincover}}" class="drop img-fluid" alt="">
            <p class="text-uppercase">{{ post.title | escape }}</p>
            <span>{{post.rango}}</span>
         </div>
         
         <p>{{post.tickets}} tickets</p>
        </div>   
        </a>
      {%- endfor -%}
       </div>

       <div class="col-12 col-md-6 col-lg-4">
        <h4 class="mb-3"><b>BITS / FOLLOWERS</b></h4>
        {% assign norte = site.categories.bits | sort: "tickets"
        | reverse %} {%- for post in norte-%}
        <a class="text-white" href="{{ post.url }}">       
          <div class="container teamList d-flex justify-content-between align-items-center">
            <div class="playerIN">
              <img src="{{post.maincover}}" class="drop img-fluid" alt="">
              <p class="text-uppercase">{{ post.title | escape }}</p>
              <span>{{post.rango}}</span>
           </div>
           
           <p>{{post.tickets}} tickets</p>
          </div>   
          </a>
        {%- endfor -%}
         </div>
   </div>




