<!-- <div class="container-fluid my-10 bg-cham">
    <div class="container ">
        <div class="season-banner">
        
            
           <div class="season-text">
            <h1 class="exo">TEMPORADA DE FEBRERO</h1>
            <h2 class="exo">INICIO </h2>
           </div>
        
        <a href="/planes-liga" class="btn btn-pokemon">INSCRIBE A TU EQUIPO</a>
        <img src="/assets/logos/LIGA-INDIGO.png" alt="" class="pick2">
        <h3 class="indigo">LIGA INDIGO</h3>
        <img src="/assets/picks/Artwork_Rapidash_de_Galar_UNITE.png" alt="" class="pick1">
        </div>
    </div>
</div> -->