---
layout: ligaIndigo
permalink: /liga-indigo-hydra-ranking-julio2025.html
title: HYDRA | LIGA INDIGO
grupo: HYDRA
---





  <div class="container">

    <div class="section-title">
      <h1 class="exo-style-black">RANKING</h1>
      <span class="exo"></span>
    </div>
    <div class="row d-none" id="grupoSur">
    </div>


  </div>


  
   <div class="container mt-5">

    <div class="section-title">
      <h1 class="exo-style-black">RONDAS</h1>
      <span class="exo"></span>
    </div>
    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
    </ul>
    <div id="rondas-league-container">
    </div>

  </div>

  <div id="ultimos-resultados-container"></div>

  <div id="rondaEspecial" class="d-none"></div>



   <div class="container-fluid bg-cham mt-5 d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="imagen-container">
                        <img src="/assets/picks/cyberLUCARIO.webp" alt="Ho-OH"
                            class="glowing-figure img-fluid">
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="mt-5 text-center exo-style text-uppercase">Gran Final</h3>
                    <div id="finalContainer">
                    </div>

                    <h4 class="mt-5 text-center exo-style text-uppercase">Semifinales</h4>
                    <div id="semifinalesContainer">
                    </div>

                    <div class="d-block">
                        <h4 class="mt-5 text-center exo-style text-uppercase">Cuartos de Final</h4>
                        <div id="encuentrosCruzadosContainer">
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
          <div class="nebula-layer"></div>
         <div class="stars-layer" id="stars-container"></div>
    </div>








  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title text-center">SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>








  {% include g-analytics.html %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7684685955796848"
    crossorigin="anonymous"></script>

  <script src="/assets/js/utils.js"></script>
  <script src="/assets/js/generar_tabs_sur.js"></script>
  <script src="/assets/temporadas/junio2025/js/utils_rankings.js"></script>
  <!-- <script src="/assets/temporadas/junio2025/js/ranking_hydra.js"></script> -->
  <script src="/assets/temporadas/junio2025/js/encuentros-cruzados.js"></script>


  <!-- <script src="/assets/js/bracket.js"></script> -->



</body>

</html>