.card-license-bans-square {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    overflow: hidden;
    margin-bottom: 5px;

    @media screen and (max-width: 472px) {
        padding: 5px 0;
        justify-content: space-around;
        height: 100px;
        margin-bottom: 5px;
    }


  


    .card-license-pick {
        right: -3%;
        top: -55%;
        color: #fff;
        position: absolute;
        z-index: 1;
        scale: 2.2;

        @media screen and (max-width: 472px) {
         top: -10%;
            
        }

        a{
            img {
                width: 150px;
                margin-bottom: 30px;

                @media screen and (max-width: 472px) {
                    width: 120px;
                    
                }
            }
        }
    }


    .card-round-title{
        position: absolute;
        z-index: 1;
        bottom: 30%;
        left: 5%;
        width: 100%;
        line-height: 2px;
        color: #fff !important;

        @media screen and (max-width: 472px) {
            padding: 5px;
        }

            h2{
               margin: 0;
               font-size: 24px;
            }

            span{
                    margin: 0;
                    font-size: 12px;
               
            }
            
        }



    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
        overflow: hidden;

    }

}

.card-license-bans-square::before{
    content: "";
    background-image: url(/assets/mis/square-pattern-30.webp), linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0) 38%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 140px, auto;  
    background-position: center, left top;  
    overflow: hidden;
    border-radius: 10px;
}
