.DFSPL{
    background-image: url(/assets/backgrounds/platino.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .DFSRU{
    background-image: url(/assets/backgrounds/ruby.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }



  .LIN{
    background-image: url(/assets/backgrounds/lin.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  } 

  /* .LIN{
    background-color: #F4F2F3;
  } */

  .fire{
    background-color: rgba(136, 5, 5, 0.678);
  }

  .ofire{
    background-color: rgba(83, 4, 4, 0.678);
  }


  .orock {
    border: 1px solid rgb(83, 83, 83);
}

.bg-youtube{
  background: #FF0000;;
}


.bg-twitch{
  background: #9146ff;

  &:hover{
    background: #6500fe;
  }
}



.bg-transparent{
  background: transparent;;
}
.bg-facebook{
  background: #0965fe;
}
.bg-discord{
  background: #5320fb;
}
.bg-telegram{
  background: 	#24A1DE;
}
.bg-instagram{
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}


.bgDuos{
  background: rgb(247,244,239);
  background: linear-gradient(360deg, rgba(247,244,239,1) 10%, rgba(221,233,247,1) 90%);
}

.bgBanner{
  background-color: #FF9F15;
}


.bgBannerLight{
  background-color: #8346E5;
}

.slice{
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 85%);
  margin-bottom: 20px;
  
  @media screen and (max-width: 768px) {
   clip-path: none;

  }
 
  
}

.exo2{
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}






.clip-wrapper{
  filter:drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5))
}

/* BACKGROUNDS LIGAS */
.grOrange{
 background: #f6f6f6;
}




.bg-indigo{
  background: rgb(18, 4, 139) !important;
  color: #fff;

}


.bgIndigoTop{
  background: rgb(18,4,139) !important;
  background: linear-gradient(90deg, rgba(18,4,139,1) 63%, rgba(17,17,146,0) 100%) !important;
}






.solid{
  background: rgb(18, 4, 139) !important;
}

.white{
  background: rgb(255, 255, 255);
}

.redñ{
  /* background: rgb(77,52,191);background: linear-gradient(0deg, rgba(77,52,191,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(50,22,68);background: linear-gradient(0deg, rgba(50,22,68,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(140,57,57);background: linear-gradient(0deg, rgba(140,57,57,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(222,207,155,1) 100%); */
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(112,113,120,1) 100%); */
/* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(102,47,19,1) 100%); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,162,102,1) 100%);
}


.text-smoke{
  color: #b8b8b8;
}

.bg-kick{
  background: #52fb18
}


.red-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,1,1,1) 100%);
}



.blue-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(8,0,255,1) 100%);
}


.red{
  background: #8b0808 !important
}
.grRed{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(139,8,8,1) 100%);
}

.purple{
  background: rgba(87,35,100,1) !important
}


.grPurple{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(87,35,100,1) 100%);
}

.grGreen{
  background: rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(4,101,70,1) 100%) !important;
}

.green{
  background: rgba(4,101,70,1) !important;
}

.blue{
  background-color: rgb(4, 4, 87) !important;
}

  .grBlue{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(3,4,86,1) 100%);
    
  }

  .grDark{
    background: rgb(4,4,87);
    background: linear-gradient(0deg, rgba(4, 4, 87, 0) 0%, rgba(2,2,43,1) 80%);
  }


  .grRose{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(172,66,84,1) 100%);
  }


.grBlack{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(15,15,15,1) 100%);
}



.enigma{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(103,0,111,1) 48%, rgba(225,55,114,1) 100%);
}


.erosa{
  background: #e13772;
}








.DFSPL{
    background-image: url(/assets/backgrounds/platino.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .DFSRU{
    background-image: url(/assets/backgrounds/ruby.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }



  .LIN{
    background-image: url(/assets/backgrounds/lin.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  } 

  /* .LIN{
    background-color: #F4F2F3;
  } */

  .fire{
    background-color: rgba(136, 5, 5, 0.678);
  }

  .ofire{
    background-color: rgba(83, 4, 4, 0.678);
  }


  .orock {
    border: 1px solid rgb(83, 83, 83);
}

.bg-youtube{
  background: #FF0000;;
}


.bg-twitch{
  background: #9146ff;

  &:hover{
    background: #6500fe;
  }
}



.bg-transparent{
  background: transparent;;
}
.bg-facebook{
  background: #0965fe;
}
.bg-discord{
  background: #5320fb;
}
.bg-telegram{
  background: 	#24A1DE;
}
.bg-instagram{
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}


.bgDuos{
  background: rgb(247,244,239);
  background: linear-gradient(360deg, rgba(247,244,239,1) 10%, rgba(221,233,247,1) 90%);
}

.bgBanner{
  background-color: #FF9F15;
}


.bgBannerLight{
  background-color: #8346E5;
}

.slice{
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 85%);
  margin-bottom: 20px;
  
  @media screen and (max-width: 768px) {
   clip-path: none;

  }
 
  
}

.exo2{
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}






.clip-wrapper{
  filter:drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5))
}

/* BACKGROUNDS LIGAS */
.grOrange{
 background: #f6f6f6;
}




.bg-indigo{
  background: rgb(18, 4, 139) !important;
  color: #fff;

}


.bgIndigoTop{
  background: rgb(18,4,139) !important;
  background: linear-gradient(90deg, rgba(18,4,139,1) 63%, rgba(17,17,146,0) 100%) !important;
}






.solid{
  background: rgb(18, 4, 139) !important;
}

.white{
  background: rgb(255, 255, 255);
}

.redñ{
  /* background: rgb(77,52,191);background: linear-gradient(0deg, rgba(77,52,191,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(50,22,68);background: linear-gradient(0deg, rgba(50,22,68,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(140,57,57);background: linear-gradient(0deg, rgba(140,57,57,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(222,207,155,1) 100%); */
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(112,113,120,1) 100%); */
/* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(102,47,19,1) 100%); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,162,102,1) 100%);
}


.text-smoke{
  color: #b8b8b8;
}

.bg-kick{
  background: #52fb18
}


.red-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,1,1,1) 100%);
}



.blue-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(8,0,255,1) 100%);
}


.red{
  background: #8b0808 !important
}
.grRed{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(139,8,8,1) 100%);
}

.purple{
  background: rgba(87,35,100,1) !important
}


.grPurple{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(87,35,100,1) 100%);
}

.grGreen{
  background: rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(4,101,70,1) 100%) !important;
}

.green{
  background: rgba(4,101,70,1) !important;
}

.blue{
  background-color: rgb(4, 4, 87) !important;
}

  .grBlue{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(3,4,86,1) 100%);
    
  }

  .grDark{
    background: rgb(4,4,87);
    background: linear-gradient(0deg, rgba(4, 4, 87, 0) 0%, rgba(2,2,43,1) 80%);
  }


  .grRose{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(172,66,84,1) 100%);
  }


.grBlack{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(15,15,15,1) 100%);
}



.enigma{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(103,0,111,1) 48%, rgba(225,55,114,1) 100%);
}


.erosa{
  background: #e13772;
}





.TSR{
  background: #f00a87;
  border-bottom: 5px solid #b2bf3c ;
}

.ZN{
  background: #051f27;
}
.DUAT{
  background: #982f34;
  border-bottom: 5px solid #6e2226 ;
}
.WZP{
  background: #1ba452;
  border-bottom: 5px solid #ffffff ;
}
.MEI{
  background: #172936;
}
.TG{
  background: #fcc944;
}
.TA{
  background: #5eebff;
}
.TAE{
  background: #9e8b50;
}
.FTB{
  background: #00c8ff;
}
.SHA{
  background: #000;
  border-bottom: 5px solid #daa35c ;
}
.SM{
  background: #99110c;
  border-bottom: 5px solid #daa35cab ;
}

