.DFSPL{
    background-image: url(/assets/backgrounds/platino.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .DFSRU{
    background-image: url(/assets/backgrounds/ruby.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }



  .LIN{
    background-image: url(/assets/backgrounds/lin.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  } 

  /* .LIN{
    background-color: #F4F2F3;
  } */

  .fire{
    background-color: rgba(136, 5, 5, 0.678);
  }

  .ofire{
    background-color: rgba(83, 4, 4, 0.678);
  }


  .orock {
    border: 1px solid rgb(83, 83, 83);
}

.bg-youtube{
  background: #FF0000;;
}


.bg-twitch{
  background: #9146ff;

  &:hover{
    background: #6500fe;
  }
}



.bg-transparent{
  background: transparent;;
}
.bg-facebook{
  background: #0965fe;
}
.bg-discord{
  background: #5320fb;
}
.bg-telegram{
  background: 	#24A1DE;
}
.bg-instagram{
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}


.bgDuos{
  background: rgb(247,244,239);
  background: linear-gradient(360deg, rgba(247,244,239,1) 10%, rgba(221,233,247,1) 90%);
}

.bgBanner{
  background-color: #FF9F15;
}


.bgBannerLight{
  background-color: #8346E5;
}

.slice{
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 85%);
  margin-bottom: 20px;
  
  @media screen and (max-width: 768px) {
   clip-path: none;

  }
 
  
}

.exo2{
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}






.clip-wrapper{
  filter:drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5))
}

/* BACKGROUNDS LIGAS */
.grOrange{
 background: #f6f6f6;
}




.bg-indigo{
  background: rgb(18, 4, 139) !important;
  color: #fff;

}


.bgIndigoTop{
  background: rgb(18,4,139) !important;
  background: linear-gradient(90deg, rgba(18,4,139,1) 63%, rgba(17,17,146,0) 100%) !important;
}






.solid{
  background: rgb(18, 4, 139) !important;
}

.white{
  background: rgb(255, 255, 255);
}

.redñ{
  /* background: rgb(77,52,191);background: linear-gradient(0deg, rgba(77,52,191,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(50,22,68);background: linear-gradient(0deg, rgba(50,22,68,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(140,57,57);background: linear-gradient(0deg, rgba(140,57,57,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(222,207,155,1) 100%); */
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(112,113,120,1) 100%); */
/* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(102,47,19,1) 100%); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,162,102,1) 100%);
}


.text-smoke{
  color: #b8b8b8;
}

.bg-kick{
  background: #52fb18
}


.red-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,1,1,1) 100%);
}



.blue-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(8,0,255,1) 100%);
}


.red{
  background: #8b0808 !important
}
.grRed{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(139,8,8,1) 100%);
}

.purple{
  background: rgba(87,35,100,1) !important
}


.grPurple{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(87,35,100,1) 100%);
}

.grGreen{
  background: rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(4,101,70,1) 100%) !important;
}

.green{
  background: rgba(4,101,70,1) !important;
}

.blue{
  background-color: rgb(4, 4, 87) !important;
}

  .grBlue{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(3,4,86,1) 100%);
    
  }

  .grDark{
    background: rgb(4,4,87);
    background: linear-gradient(0deg, rgba(4, 4, 87, 0) 0%, rgba(2,2,43,1) 80%);
  }


  .grRose{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(172,66,84,1) 100%);
  }


.grBlack{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(15,15,15,1) 100%);
}



.enigma{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(103,0,111,1) 48%, rgba(225,55,114,1) 100%);
}


.erosa{
  background: #e13772;
}








.DFSPL{
    background-image: url(/assets/backgrounds/platino.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .DFSRU{
    background-image: url(/assets/backgrounds/ruby.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }



  .LIN{
    background-image: url(/assets/backgrounds/lin.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  } 

  /* .LIN{
    background-color: #F4F2F3;
  } */

  .fire{
    background-color: rgba(136, 5, 5, 0.678);
  }

  .ofire{
    background-color: rgba(83, 4, 4, 0.678);
  }


  .orock {
    border: 1px solid rgb(83, 83, 83);
}

.bg-youtube{
  background: #FF0000;;
}


.bg-twitch{
  background: #9146ff;

  &:hover{
    background: #6500fe;
  }
}



.bg-transparent{
  background: transparent;;
}
.bg-facebook{
  background: #0965fe;
}
.bg-discord{
  background: #5320fb;
}
.bg-telegram{
  background: 	#24A1DE;
}
.bg-instagram{
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}


.bgDuos{
  background: rgb(247,244,239);
  background: linear-gradient(360deg, rgba(247,244,239,1) 10%, rgba(221,233,247,1) 90%);
}

.bgBanner{
  background-color: #FF9F15;
}


.bgBannerLight{
  background-color: #8346E5;
}

.slice{
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 85%);
  margin-bottom: 20px;
  
  @media screen and (max-width: 768px) {
   clip-path: none;

  }
 
  
}

.exo2{
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}






.clip-wrapper{
  filter:drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5))
}

/* BACKGROUNDS LIGAS */
.grOrange{
 background: #f6f6f6;
}




.bg-indigo{
  background: rgb(18, 4, 139) !important;
  color: #fff;

}


.bgIndigoTop{
  background: rgb(18,4,139) !important;
  background: linear-gradient(90deg, rgba(18,4,139,1) 63%, rgba(17,17,146,0) 100%) !important;
}






.solid{
  background: rgb(18, 4, 139) !important;
}

.white{
  background: rgb(255, 255, 255);
}

.redñ{
  /* background: rgb(77,52,191);background: linear-gradient(0deg, rgba(77,52,191,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(50,22,68);background: linear-gradient(0deg, rgba(50,22,68,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(140,57,57);background: linear-gradient(0deg, rgba(140,57,57,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(222,207,155,1) 100%); */
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(112,113,120,1) 100%); */
/* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(102,47,19,1) 100%); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,162,102,1) 100%);
}


.text-smoke{
  color: #b8b8b8;
}

.bg-kick{
  background: #52fb18
}


.red-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,1,1,1) 100%);
}



.blue-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(8,0,255,1) 100%);
}


.red{
  background: #8b0808 !important
}
.grRed{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(139,8,8,1) 100%);
}

.purple{
  background: rgba(87,35,100,1) !important
}


.grPurple{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(87,35,100,1) 100%);
}

.grGreen{
  background: rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(4,101,70,1) 100%) !important;
}

.green{
  background: rgba(4,101,70,1) !important;
}

.blue{
  background-color: rgb(4, 4, 87) !important;
}

  .grBlue{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(3,4,86,1) 100%);
    
  }

  .grDark{
    background: rgb(4,4,87);
    background: linear-gradient(0deg, rgba(4, 4, 87, 0) 0%, rgba(2,2,43,1) 80%);
  }


  .grRose{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(172,66,84,1) 100%);
  }


.grBlack{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(15,15,15,1) 100%);
}



.enigma{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(103,0,111,1) 48%, rgba(225,55,114,1) 100%);
}


.erosa{
  background: #e13772;
}


.bg-players{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(37,117,252,1) 96%);
}


.chl{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(5,4,54,1) 50%, rgba(0,0,185,1) 75%, rgba(13,74,238,1) 100%);
}


.bg-cham{
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(5,4,54,1) 10%, rgba(0,0,185,1) 50%, rgba(13,74,238,1) 100%); */
background: rgb(68,76,247) !important;
background: radial-gradient(circle, rgba(68,76,247,1) 10%, rgba(0,0,168,1) 90%) !important;
}

.bg-S11{
  background: rgb(255,0,0) !important;
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(89,0,0,1) 100%) !important;
}


.bg-transparent{
  background: #00000070 !important;
}


.bg-cham-botttom{
  background: #0d4aee;
}
.bg-cham-botttom-ice{
  background: #72C6EF;
}


.TSR{
  background: #f00a87;
  border-bottom: 5px solid #b2bf3c ;
}

.ZN{
  background: #051f27;
}
.DUAT{
  background: #982f34;
  border-bottom: 5px solid #6e2226 ;
}
.WZP{
  background: #1ba452;
  border-bottom: 5px solid #ffffff ;
}
.MEI{
  background: #172936;
}
.TG{
  background: #fcc944;
  border-bottom: 5px solid #f7be2e;
}
.CD{
  background: rgb(94,235,255);
  background: radial-gradient(circle, rgba(94,235,255,1) 0%, rgba(0,104,255,1) 100%);
}
.TA{
  background: rgb(94,235,255);
  background: radial-gradient(circle, rgba(94,235,255,1) 0%, rgba(0,104,255,1) 100%);
}
.TAE{
  background: #9e8b50;
}
.FTB{
  background:#02161f;
  border-bottom: 5px solid #1d5c7b ;
}
.SHA{
  background: #000;
  border-bottom: 5px solid #daa35c ;
}
.SM{
  background: #99110c;
  border-bottom: 5px solid #daa35cab ;
}

.EA{
  background: #1a436f;
  border-bottom: 5px solid #ffffffab ;
}
.POA{
  background: #000000;
  border-bottom: 5px solid #fd0101 ;
}
.SHIN{
  background: #B3282D;
  border-bottom: 5px solid #0E59A0 ;
}

.EKW{
  background: #6077e6;
  border-bottom: 5px solid #ffffff ;
}

.ASU{
  background: #000000;
  border-bottom: 5px solid #ffffff ;
}

.OBS{
  background: rgb(77,79,77);
  background: radial-gradient(circle, rgba(77,79,77,1) 0%, rgba(0,0,0,1) 94%);
}
.AOS{
  background: rgb(77,79,77);
  background: radial-gradient(circle, rgba(77,79,77,1) 0%, rgba(0,0,0,1) 94%);
}

.VOLT{
  background: #0c2aa2;
  border-bottom: 5px solid #000000 ;
}
.STMN{
  background: rgb(0,127,88);
  background: radial-gradient(circle, rgba(0,127,88,1) 0%, rgba(47,149,187,1) 50%, rgba(7,69,71,1) 100%);
}
.FNX{
  background: #0c2aa2;
  border-bottom: 5px solid #000000 ;
}
.VNM{
  background: rgb(0,73,235);
  background: radial-gradient(circle, rgba(0,73,235,1) 10%, rgba(91,138,242,1) 90%);
}
.DARK{
  background: #0c2aa2;
  border-bottom: 5px solid #000000 ;
}
.PLAT{
  background: rgb(209,0,0);
background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.PEARL{
  background: rgb(209,0,0);
  background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.RUBY{
  background: rgb(209,0,0);
  background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.DMD{
  background: rgb(209,0,0);
background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.AMBER{
  background: rgb(209,0,0);
background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.E{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(103,0,111,1) 48%, rgba(225,55,114,1) 100%);
}
.TR{
  background: rgb(209,0,0);
  background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.BNT{
  background: rgb(209,0,0);
  background: radial-gradient(circle, rgba(209,0,0,1) 0%, rgba(131,1,1,1) 100%);
}
.AD{

  background: rgb(241,210,128);
  background: radial-gradient(circle, rgba(241,210,128,1) 0%, rgba(200,145,16,1) 100%);}

.PDC{
  background: #ecbb09;
  border-bottom: 5px solid #c4342c ;
}
.TAD{
  background: rgb(222,56,14);
  background: radial-gradient(circle, rgba(222,56,14,1) 0%, rgba(253,126,29,1) 51%, rgba(130,98,27,1) 100%);
}
.ZTG{
  background: rgb(240,241,128);
  background: radial-gradient(circle, rgba(240,241,128,1) 0%, rgba(238,240,128,1) 1%, rgba(0,170,142,1) 100%);
}
.SPH{
  background: #27241d;
  border-bottom: 5px solid #eae4d8 ;
}
.EVL{
  background: rgb(255,226,178);
  background: radial-gradient(circle, rgba(255,226,178,1) 0%, rgba(246,170,40,1) 100%);
}

.RAP{
  background: #F41413;
  border-bottom: 5px solid #c90404 ;
}
.AEP{
  background: rgb(56,35,4);
  background: linear-gradient(180deg, rgba(56,35,4,1) 10%, rgba(183,131,21,1) 100%);
}

.ETERNAL{
  background: rgb(26,67,111);
background: linear-gradient(180deg, rgba(26,67,111,1) 10%, rgba(0,0,0,1) 100%);
}
.TUT{
  background: rgb(2,126,222);
  background: radial-gradient(circle, rgba(2,126,222,1) 10%, rgba(0,144,255,1) 90%);
}


.hielo{
  background-image: url(/assets/backgrounds/hielo-back.png);
  background-color: rgb(2, 2, 43);
  background-repeat: no-repeat;
  background-size: cover;
}



.exo-style{
  color: #ffffff; 
  background-image: linear-gradient(180deg, #ffffff 48%, #D7D1EB 60%, #ffffff 84%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-style: italic;
  font-weight: 900 !important;

}

.bg-league-in{
  background: #0d48ec !important;
}

.bg-updates{
  background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% ) !important;
}


.bg-home{
  background:#f2f3f8
}



.bg-promo{
background-color: #0000a8;
opacity: 1;
background-image: radial-gradient(circle at center center, #444cf7, #0000a8), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;
}


.indigo-yellow{
  background: #f8b119;

}


.poster{
  background-image: url(/assets/backgrounds/pokemon-unite-.jpg);
  background-color: #f8b119;

  background-size: cover;

}



.clip{
  border-radius:  50px 50px 0 0 !important;
}


.bg-play-match{
  background: rgb(0,255,8) !important;
background: radial-gradient(circle, rgba(0,255,8,1) 0%, rgba(0,112,45,1) 100%) !important;
color: #ffffff !important;
}

.bg-noplay-match{
  background: rgb(255,0,0) !important;
background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(89,0,0,1) 100%) !important;
color: #ffffff !important;
}


.sup{
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%) !important;
color: #fff;

  }
  .win{
  background: green !important;
  color: white !important;
  border: none !important;
  }
  .loss{
  background: red !important;
  color: white !important;
  border: none !important;
  }
  .one{
  background:yellow !important;
  color: #000 !important;
  border: none !important;
  }
  
  .des{
  background:rgb(255, 0, 195) !important;
  color: #ffffff !important;
  border: none !important;
  }
  
  .rea{
      background:rgb(0, 0, 0) !important;
      color: white !important;
      border: none !important;
  }

  .LIGA-INDIGO{
    background: rgb(68,76,247);
background: radial-gradient(circle, rgba(68,76,247,1) 10%, rgba(0,0,168,1) 90%);
  }



  .LG{  
   border: 5px solid rgb(68,76,247);
   @media screen and (max-width: 472px) {
    border: 3px solid rgb(68,76,247);
   } 

  }
  .CXF{
   border: 5px solid orange; 
   
   @media screen and (max-width: 472px) {
    border: 3px solid orange; 
   }
  }

  .CS{
    border-top: 5px solid #fa450e;
    border-left: 5px solid #fa450e;
    border-right: 5px solid #8846ab;
    border-bottom: 5px solid #8846ab;


    @media screen and (max-width: 472px) {
      border-top: 3px solid #fa450e;
      border-left: 3px solid #fa450e;
      border-right: 3px solid #8846ab;
      border-bottom: 3px solid #8846ab;
   }
  }