.DFSPL{
    background-image: url(/assets/backgrounds/platino.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .DFSRU{
    background-image: url(/assets/backgrounds/ruby.png);
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    background-size: cover;
  }



  .LIN{
    background-image: url(/assets/backgrounds/lin.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  } 

  /* .LIN{
    background-color: #F4F2F3;
  } */

  .fire{
    background-color: rgba(136, 5, 5, 0.678);
  }

  .ofire{
    background-color: rgba(83, 4, 4, 0.678);
  }


  .orock {
    border: 1px solid rgb(83, 83, 83);
}

.bg-youtube{
  background: #FF0000;;
}


.bg-twitch{
  background: #9146ff;

  &:hover{
    background: #6500fe;
  }
}



.bg-transparent{
  background: transparent;;
}
.bg-facebook{
  background: #0965fe;
}
.bg-discord{
  background: #5320fb;
}
.bg-telegram{
  background: 	#24A1DE;
}
.bg-instagram{
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}


.bgDuos{
  background: rgb(247,244,239);
  background: linear-gradient(360deg, rgba(247,244,239,1) 10%, rgba(221,233,247,1) 90%);
}

.bgBanner{
  background-color: #FF9F15;
}


.bgBannerLight{
  background-color: #8346E5;
}

.slice{
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 85%);
  margin-bottom: 20px;
  
  @media screen and (max-width: 768px) {
   clip-path: none;

  }
 
  
}

.exo2{
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}



.bg-op{
  background-color: rgba(0, 0, 0, 0.265);
}



.clip-wrapper{
  filter:drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5))
}

/* BACKGROUNDS LIGAS */
.grOrange{
 background: #f6f6f6;
}




.bg-indigo{
  background: rgb(18, 4, 139) !important;
  color: #fff;

}


.bgIndigoTop{
  background: rgb(18,4,139) !important;
  background: linear-gradient(90deg, rgba(18,4,139,1) 63%, rgba(17,17,146,0) 100%) !important;
}

.grGreen{
  background: rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(4,101,70,1) 95%) !important;
}

.green{
  background: rgba(4,101,70,1) !important;
}




.solid{
  background: rgb(18, 4, 139) !important;
}

.white{
  background: rgb(255, 255, 255);
}

.red{
  /* background: rgb(77,52,191);background: linear-gradient(0deg, rgba(77,52,191,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(50,22,68);background: linear-gradient(0deg, rgba(50,22,68,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(140,57,57);background: linear-gradient(0deg, rgba(140,57,57,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(222,207,155,1) 100%); */
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(112,113,120,1) 100%); */
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(102,47,19,1) 100%);
}


.text-smoke{
  color: #b8b8b8;
}

.bg-kick{
  background: #52fb18
}


.red-x{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,1,1,1) 100%);
}