/* From Uiverse.io by sabbircoder07 */ 
.button-space {
  border: none;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  color: #004E8F;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 13px 26px;
  cursor: pointer;
  transform: skew(15deg);
  transition: all 1s;
}

.main-text {
  display: inline-block;
  transform: skew(-15deg);
}

.button-space:hover {
  transform: translateY(-3px);
  background-image:  linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  color: #fff;
  border-radius: 26px;
  animation: pulsate 1s infinite;
}

.button-space:hover span {
  display: inline-block;
  transform: translateX(2px);
  transition: all 1s;
  color: #fff;
}

.button-space:focus {
  outline: none;
  border-radius: 26px;
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.03);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}


.btn-inscripciones{
  background: rgb(6, 181, 6);
  color: #fff;
  font-weight: 800;
  padding: 10px;
  width: 150px;
  text-align: center;
  border: 1px green ;
  border-radius: 15px;
}

.btn-inscripciones:hover{
  background: rgb(4, 116, 4);
  color: #fff;
  font-weight: 800;
  padding: 10px;
  width: 150px;
  border: 1px green ;
  border-radius: 15px;
}

  .btn-whatsapp{
  background: #128c7f;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  width: 150px;
  text-align: center;
  border: 1px #128c7f ;
  border-radius: 15px;
}

.btn-whatsapp:hover{
  background: #0e6d64;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  width: 150px;

  border-radius: 15px;
}