.gamer-card {
    height: auto;
    margin-bottom: 25px
}


.gamer-top {
    background: rgb(255, 159, 21);
    background: -moz-linear-gradient(100deg, rgba(255, 159, 21, 1) 10%, rgba(255, 159, 21, 1) 68%, rgba(255, 159, 21, 0) 90%);
    background: -webkit-linear-gradient(100deg, rgba(255, 159, 21, 1) 10%, rgba(255, 159, 21, 1) 68%, rgba(255, 159, 21, 0) 90%);
    background: linear-gradient(100deg, rgba(255, 159, 21, 1) 10%, rgba(255, 159, 21, 1) 68%, rgba(255, 159, 21, 0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9f15", endColorstr="#ff9f15", GradientType=1);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-radius: 20px 0 0 0;
    overflow: hidden;

    img{
        width: 100px;
    }
}




.gamer-title {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;

    img {
        width: 28px;
        margin-right: 5px;
    }

    h4 {
        margin: 0 auto 0 0;
        font-weight: 600;
       }


}







.gamer-desc {
    background: #fff;
    height: auto;
    clip-path: polygon(0 87%, 4% 100%, 100% 99%, 100% 1%, 0% 0%);
    color: #220a3d;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 1;

    @media screen and (max-width: 768px) {
        font-size: 12px;

      }

    img {
        padding: 10px;
    }
}


.gamer-form {
    background: #fff;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 6% 100%, 0 96%, 0% 20%);
    color: #220a3d;
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;


    img {
        padding: 10px;
    }
}


.gamer-note {
    color: #fff;
    margin-top: 5px;
}


.btn-orange {
    background: rgb(255, 159, 21);
    color: #fff;
    border-radius: 20px;
}


.btn-orange:hover {
    background: rgb(221, 130, 2);
    color: #fff;
    border-radius: 20px;
}




.match {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: start;
}


.matchTeams {
    display: block;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    line-height: 0.7;
    font-style: normal;
    text-transform: uppercase;
}

.matchTeams:first-child {
    margin-bottom: 15px;
}

.matchTeams > p {
    margin: 0;
    color: #000000;
}

.matchTeams>span {
   
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    color: rgb(17, 2, 91);

}