.home{
  /* background: url('/assets/videos/intro.mp4'); */


  .homeBanner{
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .homeLogo{
    display: flex;
    justify-content: start;
    align-items: center;
    
    img{
        width: 130px;
        margin-right: 10px;
    }

    h3{
        font-size: 130px;
    }
  }
}
}