.home {
  position: relative; /* Essential for positioning the video absolutely within it */
  overflow: hidden; /* Hides any overflow from the video */
  padding: 0;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1; /* Puts the video behind your content */
  transform: translate(-50%, -50%); /* Centers the video */
  object-fit: cover; /* Ensures the video covers the entire container without distortion */
}

/* Your existing styles for .homeBanner and .homeLogo should remain the same */
.homeBanner {
  height: 90vh;
  display: flex;
  background: #000000c3;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure homeBanner content is above the video */
  z-index: 1; /* Make sure homeBanner content is above the video */
}

.homeLogo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.homeLogo img {
  width: 130px;
  margin-right: 10px;
}

.homeLogo h3 {
  font-size: 130px;
}

.clip-left{
  clip-path: polygon(0 0, 80% 1%, 100% 100%, 0% 100%);
  width: 25%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: #000DFF;
  left: 0;
  z-index: 1;

}
.clip-right{
clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  width: 25%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: #000DFF;
  right: 0;
  z-index: 1;

}