.card-round {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: 472px) {
        padding: 5px 0;
        margin-bottom: 5px;
        justify-content: space-around;
    }

    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        /* box-shadow: 0 25px 45px rgba(0, 0, 0, .5); */
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-right: 2px solid rgba(255, 255, 255, .2);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        filter: blur(1px);
        z-index: -1000;
        overflow: hidden;
    }

    .card-color-left {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

        position: absolute;
        width: 60%;
        height: 60%;
        top: -60;
        left: -60;
        border-bottom: 13px solid rgba(0, 0, 0, 0.347);
        z-index: -900;
        transform: rotate(315deg);
    }

    .card-color-right {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        width: 60%;
        height: 60%;
        top: -60;
        right: -60;
        border-bottom: 13px solid rgba(0, 0, 0, 0.347);
        z-index: -900;
        transform: rotate(45deg);
    }

    .card-color-center {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        width: 100%;
        height: 40%;
        top: 0;
        border-bottom: 13px solid rgba(0, 0, 0, 0.347);
        z-index: -900;

    }

    .card-lite {
        position: absolute;
        top: 10px;
        font-size: 50px;
        font-weight: bolder;
        color: #0000005b;
        z-index: -700;
        font-style: italic;
    }

    .card-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        p {
            margin: 0;
            font-weight: bold;

            @media screen and (max-width: 472px) {
                font-size: 10px;
            }
        }

        img {
            width: 70px;

            @media screen and (max-width: 472px) {
                width: 45px;
            }
        }
    }

    .card-score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        p {
            margin: 0;
            font-size: 20px;
            font-weight: bold;

            @media screen and (max-width: 472px) {
                font-size: 20px;
            }
        }

        span {
            margin: 0;
            color: #ffff00;

            @media screen and (max-width: 472px) {
                font-size: 10px;
            }
        }
    }


}

.card-round-mvp {
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: 472px) {
        padding: 5px 0;
        margin-bottom: 5px;
        justify-content: space-around;
        height: 50px;
    }


    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.323);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .5);
        /* background: url(/assets/mis/ice-mask-team.png); */
        background-size: cover;
        border-radius: 10px;
        border: 2px solid rgba(61, 61, 61, 0.236);
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        filter: blur(2px);

        z-index: -900;
        overflow: hidden;
    }

    .card-color-left {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

        position: absolute;
        width: 60%;
        height: 60%;
        top: -60px;
        left: -60px;
        z-index: -800;
        transform: rotate(315deg);

        @media screen and (max-width: 1200px) {
            top: -30px;

        }

        @media screen and (max-width: 768px) {
            top: -30px;

        }

        @media screen and (max-width: 767px) {
            top: -80px;

        }
        @media screen and (max-width: 472px) {
            top: -45px;

        }
        @media screen and (max-width: 378px) {
            top: -35px;

        }
    }


    .card-mvp {
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        left: 3%;


        .card-mvp-title {
            display: block;
            color: #fff;

            p {
                margin: 0;
                line-height: 1;

                @media screen and (max-width: 472px) {
                    font-size: 10px;
                }

            }

            .mvp-title {
                font-size: 24px;
                font-weight: bold;


                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 472px) {
                    font-size: 14px;
                }
            }
        }

        img {
            width: 70px;

            @media screen and (max-width: 472px) {
                width: 50px;
            }

        }
    }


    .card-mvp-number {
        display: block;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        position: absolute;
        right: 5%;


        @media screen and (max-width: 768px) {
            right: 7.5%;
        }

        p {
            margin: 0;
            line-height: 1;
            font-weight: bold;

            @media screen and (max-width: 472px) {
                font-size: 10px;
            }

        }

        .mvp-number {
            font-size: 24px;

            @media screen and (max-width: 1200px) {
                font-size: 20px;
            }

            @media screen and (max-width: 472px) {
                font-size: 14px;
            }

        }
    }


    .card-mvp-team {
        position: absolute;
        right: 1%;
        top: 0;
        filter: blur(1px) ; 
        
        overflow: hidden;
        z-index: -1000;



        @media screen and (max-width: 472px) {
          right: 2%;
          top: -10px;
        }



        img {
            width: 70px;

        }
    }
}




.card-round-list {
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: 472px) {
        padding: 5px 0;
        justify-content: space-around;
        height: 50px;
        margin-bottom: 0;
    }

    .card-round-team {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: absolute;
        left: 10%;
        color: #fff;

        a{
            img {
                width: 60px;

                @media screen and (max-width: 472px) {
                    width: 40px;
                }

            }
        }

        .card-round-title{
        display: flex;
        color: #000;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 0 0 0 7px;

            h2{
               margin: 0;
                font-size: 20px;

                  @media screen and (max-width: 472px) {
                    font-size: 14px;
                }

            }

          .card-round-record{
           display: flex;
           flex-direction: row;
           justify-content: start;
           align-items: start;

           .record{
                margin: 0 2px 0 0; 
                display: flex;
                justify-content: center;
                align-items: center;
                background: #94919117;
                border: 1px solid rgb(215, 215, 215);
                width: 12px !important;
                height: 12px !important;
                border-radius: 50%;
                font-size: 8px;
                text-align: center;
            }
          }
        }
    }

    .card-round-num{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: absolute;
        left: 3%;
        color: #fff;


        h6{
            margin: 0;
        }
    }
    .card-round-pts{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: absolute;
        right: 3%;
        color: #000000;


        h6{
            margin: 0;
        }
    }

    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(255, 255, 255);
        /* background: url(/assets/mis/ice-mask-team.png); */
        /* background-size: cover; */
        /* box-shadow: 0 25px 45px rgba(0, 0, 0, .5); */
        border-radius: 10px;
        border: 1px solid rgb(228, 228, 228);
        /* border-right: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
        /* backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(10px); */
        z-index: -900;
        overflow: hidden;

        @media screen and (max-width: 472px) {
          border-radius: 0;
          border-bottom: 1px solid rgb(228, 228, 228);
        }
    }


    .card-color-left {


        position: absolute;
        width: 60%;
        height: 70%;
        top: -35px;
        left: -45px;
        z-index: -800;
        transform: rotate(135deg);


    }
}


.sup{
background: green !important;
color: white !important;
border: none !important;
}
.win{
background: green !important;
color: white !important;
border: none !important;
}
.loss{
background: red !important;
color: white !important;
border: none !important;
}
.one{
background:yellow !important;
color: #000 !important;
border: none !important;
}

.des{
background:rgb(255, 0, 195) !important;
color: #ffffff !important;
border: none !important;
}

.rea{
    background:rgb(0, 0, 0) !important;
    color: white !important;
    border: none !important;
}




.banner-card-round-mvp {
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: 472px) {
        padding: 5px 0;
        margin-bottom: 5px;
        justify-content: space-around;
        height: 100px;
    }


    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        /* background: rgba(0, 0, 0, 0.323);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .5); */
        /* background: url(/assets/mis/ice-mask-team.png); */
        /* background-size: cover;
       
        border: 2px solid rgba(61, 61, 61, 0.236);
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        filter: blur(2px); */
        border-radius: 10px;
        z-index: -900;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

       

    }

    .card-color-left {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

        position: absolute;
        width: 60%;
        height: 60%;
        top: -60px;
        left: -60px;
        z-index: -800;
        transform: rotate(315deg);

        @media screen and (max-width: 1200px) {
            top: -30px;

        }

        @media screen and (max-width: 768px) {
            top: -30px;

        }

        @media screen and (max-width: 767px) {
            top: -80px;

        }
        @media screen and (max-width: 472px) {
            top: -45px;

        }
        @media screen and (max-width: 378px) {
            top: -35px;

        }
    }


    .card-mvp {
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        left: 3%;


        .card-mvp-title {
            display: block;
            color: #fff;

            p {
                margin: 0;
                line-height: 1;
                font-size: 26px;

                @media screen and (max-width: 472px) {
                    font-size: 12px;
                }

            }

            .mvp-title {
                font-size: 90px;
                font-weight: bold;


                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 472px) {
                    font-size: 30px;
                }
            }
        }

        img {
            width: 250px;

            @media screen and (max-width: 472px) {
                width: 70px;
            }

        }
    }


    .card-mvp-number {
        display: block;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        position: absolute;
        right: 5%;


        @media screen and (max-width: 768px) {
            right: 7.5%;
        }

        p {
            margin: 0;
            line-height: 1;
            font-weight: bold;

            @media screen and (max-width: 472px) {
                font-size: 10px;
            }

        }

        .mvp-number {
            font-size: 24px;

            @media screen and (max-width: 1200px) {
                font-size: 20px;
            }

            @media screen and (max-width: 472px) {
                font-size: 14px;
            }

        }
    }


    .card-mvp-team {
        position: absolute;
        right: 10%;

        /* filter: blur(1px) ;  */
        
        overflow: hidden;
        z-index: -1000;



        @media screen and (max-width: 472px) {
          right: 2%;
          top: -10px;
        }



        img {
            width: 170px;

            @media screen and (max-width: 472px) {
              width: 50px;
              }

        }
    }
}




.team--last:last-child{
    margin-bottom: 60px !important;
}

.last{

    margin-bottom: 0;
    @media screen and (max-width: 472px) {
        margin-bottom: 60px !important;
        }
}