.roundCard {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.roundCard> a > img {
    width: 200px;
}
.roundCard > img {
    width: 200px;
}

.roundCard>h6 {
    margin-bottom: 0;

}

.roundCard>p {
    margin: 0;

}

.round {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.round > p{
margin: 0;
}
.roundInfo > h6{
    color: yellow;
}




.roundInfo {
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}


.roundInfo>h2, h6 {
    margin: 0;
}




.orock {
    border: 1px solid rgb(83, 83, 83);
}

@media (max-width: 767.98px) {
    .roundCard {
        flex-direction: row;
        justify-content: start;
    }
    .roundInfo {
        align-items: start;
       
    }

    .round{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-left: 10px;
    }

    .roundInfo > h6{
        font-size: 16px;
    }

    .roundInfo>h2,
    p{
        font-size: 18px;
    }

    .roundCard>a>img {
        width: 50px;
        
    }
    .roundCard > img {
        width: 50px;
        
    }

    .roundCard>h2,
    p,
    h6 {
        font-size: 18px;
    }

 

}





.roundTeams{
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    background: #0000005b;


    .roundTeam{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;

        img{
            width: 70px;
        }


        p{
            margin: 0;
            font-weight: bold;
        }
    }


    .roundScore{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: row;


        p{
            font-size: 20px;
            margin: 0;
            font-weight: bold;
        }
    }




}