.roundCard {
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;




    @media screen and (max-width: 767.98px) {
        flex-direction: row;
        justify-content: start;
    }


    @media screen and (max-width: 576px) {
        padding: 5px 20px;
    }

    a>img {
        width: 200px;

        @media screen and (max-width: 767.98px) {
            width: 50px;
        }
    }

    img {
        width: 200px;

        @media screen and (max-width: 767.98px) {
            width: 50px;
        }
    }


    h6 {
        margin-bottom: 0;

    }


    p {
        margin: 0;

    }

    .round {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;


        p {
            margin: 0;
        }

        h6 {
            color: yellow;
        }

        @media screen and (max-width: 767.98px) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-left: 10px;
        }


        .roundInfo {
            padding: 0;
            margin: 0;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;

            h2 {
                margin: 0;
                @media screen and (max-width: 576px) {
                    font-size: 16px;
                }
            }



            h6 {
                margin: 0;

                @media screen and (max-width: 767.98px) {
                    font-size: 16px;

                }
            }

            @media screen and (max-width: 767.98px) {
                align-items: start;

            }

        }


    }

}

.team--last:last-child{
    margin-bottom: 60px;
}

.orock {
    border: 1px solid rgb(83, 83, 83);
}








.roundTeams {
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #0000005b;


    .roundTeam {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;


        img {
            width: 70px;
            margin-bottom: 0;

            @media screen and (max-width: 576px) {
                width: 40px;
            }
        }

        p {
            margin: 0;
            font-weight: bold;

            @media screen and (max-width: 576px) {
                font-size: 10px;
            }
        }
    }


    .roundScore {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
       


        p {
            font-size: 20px;
            margin: 0;
            font-weight: bold;
            
        }

        span{
            color: yellow;
            margin: 0;
            font-size: 18px;
            @media screen and (max-width: 576px) {
                font-size: 12px;
            }
        }

        .small{
            color: yellow;
            margin: 0;
            font-size: 12px;
            @media screen and (max-width: 576px) {
                font-size: 10px;
            }
        }
    }
}


.roundTittle{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;

  
    @media screen and (max-width: 992px) {
        justify-content: center;

    }

    @media screen and (max-width: 576px) {
        padding: 10px;
    }


  h3{
    @media screen and (max-width: 768px) {
        font-size: 16px !important;
    }
    @media screen and (max-width: 576px) {
        font-size: 10px !important;
    }
  }


}



.roundNet {
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    i{
        color: white;
    }
   

}