---
---



* {
    -webkit-transition: background-color 75ms ease-in, border-color 75ms ease-in;
    -moz-transition: background-color 75ms ease-in, border-color 75ms ease-in;
    -ms-transition: background-color 75ms ease-in, border-color 75ms ease-in;
    -o-transition: background-color 75ms ease-in, border-color 75ms ease-in;
    transition: background-color 75ms ease-in, border-color 75ms ease-in;
    font-family: "Exo 2", sans-serif;
  }





@import url("/assets/css/slider.css");
@import url("/assets/css/roundCard.css");
@import url("/assets/css/bgTeams.css");
@import url("/assets/css/colors.css");
@import url("/assets/css/cards.css");
@import url("/assets/css/home.css");
@import url("/assets/css/banner.css");
@import url("/assets/css/buttons.css");
@import url("/assets/css/gamer-cards.css");
@import url("/assets/css/mobile-bar.css");
@import url("/assets/css/stars.css");

@import url("/assets/css/footers.css");
@import url("/assets/css/countdown.css");
@import url("/assets/css/tabs.css");
@import url("/assets/css/carousel.css");
@import url("/assets/css/tarjet.css");
@import url("/assets/css/filters.css");

  
@font-face {
  font-family: 'Paladins';
  src: url(/assets/fonts/paladinsexpand.ttf);
  font-weight: bold;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
  
  a {
    text-decoration: none;
  }
  
  .notransition {
    -webkit-transition: none;
    -moz-transition: none; 
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  

.cxflite{
  background: #1E1F24;
}
  

// OWN
.title, .more {
    padding: 10px 15px;
  }
  
  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: #fff;
    margin: 5px;
    border-radius: 15px;
  }
  
  .user__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .user__container {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-weight: 900;
    font-size: 1.3em;
  }
  
  .text{
    line-height: 1em;
  }
  
  .name {
    font-weight: 800;
  }
  
  .username {
    font-size: .9em;
    color: #64696e;
  }
  
  .image {
    width: 50px;
    height: 50px;
    background: rgb(22,19,70);
    background: linear-gradient(295deg, rgba(22,19,70,1) 41%, rgba(89,177,237,1) 100%);
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .follow {
    border: none;
    border-radius: 25px;
    background-color: #0f1113;
    color: white;
    padding: 8px 15px;
    font-weight: 700;
    margin-left: 20px;
  }
  
  .more {
    display: block;
    text-decoration: none;
    color: rgb(29, 155, 240);
    font-weight: 800;
  }
  
  .user:hover {
    background-color: #b3b6b6;
  }
  
  .more:hover {
    background-color: #b3b6b6;
    border-radius: 0px 0px 15px 15px;
  }
  
  .follow:hover {
    background-color: #2c3136;
  }

  .team{
    border-radius: 5px;
    padding: 0;
  }

  .cardTeam > img{
    width: 70px;
  }
  
  
  .card_res {
    margin-top: 10px;
    width: auto;
    height: auto;
    background: #E8EAEA;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  
  
  .content{
     width: 100%;
     height: auto;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     align-content: center;
  
  }
  
  .html{
    height: 100%;
    overflow: hidden;
  
  }

 
  
  // page puntos
  
  .results-summary-container {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    width: 550px;
    gap: 10px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 10px 10px 30px rgba(120, 87, 255, 0.3);
    backface-visibility: hidden;
  }
  
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .heading-primary {
    font-size: 46px;
    font-weight: 700;
    background-image: linear-gradient(to right, #f7bb97, #dd5e89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.4);
  }
  
  .heading-secondary {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  
  .heading-secondary--blue {
    color: hsl(224, 30%, 27%);
  }
  
  .heading-tertiary {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: hsl(221, 100%, 96%);
  }
  
  .paragraph {
    font-size: 17px;
    line-height: 1.6;
    color: hsl(221, 100%, 96%);
    margin-bottom: 15px;
  }
  
  .paragraph-text-box {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .margin-1 {
    margin-bottom: 10px;
  }
  
  .results-summary-container__result {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 30px 10px;
    background-image: linear-gradient(to bottom, #aa076b, #61045f);
    animation: gradient 10s linear infinite;
    .result-box {
      width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: 100% 50%;
    background-image: linear-gradient(to bottom, #aa076b, #61045f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: gradient 10s linear infinite;
  }
  
  .result {
    margin-top: -18px;
    font-size: 14px;
    font-weight: 400;
    color: hsl(241, 100%, 89%);
  }
  }
  
  .results-summary-container__options {
    padding: 10px;
  }
  
  .summary-result-options {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .result-option {
    width: 210px;
    height: 36px;
    background-color: hsl(0, 100%, 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .result-option-memory {
    background-color: hsl(39, 100%, 95%);
  }
  
  .result-option-verbal {
    background-color: hsl(166, 100%, 95%);
  }
  
  .result-option-Visual {
    background-color: hsl(234, 85%, 95%);
  }
  
  .icon-box {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 1px;
  }
  
  .reaction-icon-text {
    color: hsl(0, 100%, 67%);
  }
  
  .memory-icon-text {
    color: hsl(39, 100%, 56%);
  }
  
  .verbal-icon-text {
    color: hsl(166, 100%, 37%);
  }
  
  .visual-icon-text {
    color: hsl(234, 85%, 45%);
  }
  
  .result-box {
    font-size: 14px;
    color: hsl(0, 0%, 0%);
    font-weight: 700;
  }
  
  .result-box span {
    font-size: 14px;
    color: hsl(224, 30%, 27%);
  }
  
 
  
  .icon {
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.3s linear;
  }
  
  .icon:hover {
    filter: grayscale(0);
  }
  
  @keyframes background {
    0% {
      background-image: linear-gradient(to right, #aa076b, #61045f);
    }
  
    50% {
      background-image: linear-gradient(to right, #aa076b, #61045f);
    }
  
    100% {
      background-image: linear-gradient(to right, #ef629f, #42275a);
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-image: linear-gradient(-45deg, #ef629f, #42275a);
    }
  
    50% {
      background-position: 100% 50%;
      background-image: linear-gradient(to bottom, #aa076b, #61045f);
    }
  
    100% {
      background-position: 0% 50%;
      background-image: linear-gradient(to top, #ef629f, #42275a);
    }
  }
  
  .confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
  }
  
  .confetti-piece {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: hsl(39, 100%, 56%);
    top: 0;
    opacity: 0;
    animation: makeItRain 3000ms infinite linear;
  }
  
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(-10deg);
    animation-delay: 182ms;
    animation-duration: 2000ms;
  }
  
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(20deg);
    animation-delay: 161ms;
    animation-duration: 2076ms;
  }
  
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-51deg);
    animation-delay: 481ms;
    animation-duration: 2103ms;
  }
  
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(61deg);
    animation-delay: 334ms;
    animation-duration: 1008ms;
  }
  
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-52deg);
    animation-delay: 302ms;
    animation-duration: 1776ms;
  }
  
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(38deg);
    animation-delay: 180ms;
    animation-duration: 1168ms;
  }
  
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(11deg);
    animation-delay: 395ms;
    animation-duration: 1200ms;
  }
  
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(49deg);
    animation-delay: 14ms;
    animation-duration: 1887ms;
  }
  
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-72deg);
    animation-delay: 149ms;
    animation-duration: 1805ms;
  }
  
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(10deg);
    animation-delay: 351ms;
    animation-duration: 2059ms;
  }
  
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(4deg);
    animation-delay: 307ms;
    animation-duration: 1132ms;
  }
  
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(42deg);
    animation-delay: 464ms;
    animation-duration: 1776ms;
  }
  
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-72deg);
    animation-delay: 429ms;
    animation-duration: 1818ms;
  }
  
  .confetti-piece:nth-child(14) {
    left: 94%;
    transform: rotate(-72deg);
    animation-delay: 429ms;
    animation-duration: 818ms;
  }
  
  .confetti-piece:nth-child(15) {
    left: 96%;
    transform: rotate(-72deg);
    animation-delay: 429ms;
    animation-duration: 2818ms;
  }
  
  .confetti-piece:nth-child(16) {
    left: 98%;
    transform: rotate(-72deg);
    animation-delay: 429ms;
    animation-duration: 2818ms;
  }
  
  .confetti-piece:nth-child(17) {
    left: 50%;
    transform: rotate(-72deg);
    animation-delay: 429ms;
    animation-duration: 2818ms;
  }
  
  .confetti-piece:nth-child(18) {
    left: 60%;
    transform: rotate(-72deg);
    animation-delay: 429ms;
    animation-duration: 1818ms;
  }
  
  .confetti-piece:nth-child(odd) {
    background-color: hsl(0, 100%, 67%);
  }
  
  .confetti-piece:nth-child(even) {
    z-index: 1;
  }
  
  .confetti-piece:nth-child(4n) {
    width: 6px;
    height: 14px;
    animation-duration: 4000ms;
    background-color: #c33764;
  }
  
  .confetti-piece:nth-child(5n) {
    width: 3px;
    height: 10px;
    animation-duration: 4000ms;
    background-color: #b06ab3;
  }
  
  .confetti-piece:nth-child(3n) {
    width: 4px;
    height: 12px;
    animation-duration: 2500ms;
    animation-delay: 3000ms;
    background-color: #dd2476;
  }
  
  .confetti-piece:nth-child(3n-7) {
    background-color: hsl(166, 100%, 37%);
  }
  
  @keyframes makeItRain {
    from {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      transform: translateY(250px);
    }
  }
  
  

  
  .slide{
    width: 100%;
    height: 60%;
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .license{
    width: 40%;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .johto{
    width: 59%;
    height: 200px;
    background-color: rgb(21, 9, 128);
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  .commonninja-ribbon-link{
    display: none;
  }
  

  // Colors

.campeon{
background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); 

}

.campeon::before{
position: absolute;
    background-size: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: repeat;
    background-image: url(/assets/img/square-pattern-30.svg);
    content: "";
}

.bg-johto{
  background-color: #1E095D;
  border: 1px #5d12A6 solid;
}

.bg-johto::before{
 position: absolute;
    background-size: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: repeat;
    background-image: url(/assets/img/square-pattern-30.svg);
    content: "";
}

.bg-lj{
  background-image: url(/assets/backgrounds/ligajohto.png);
  background-color: rgb(2, 2, 43);
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-unowns{
  background-image: url(/assets/backgrounds/register.png);
  background-color: rgb(2, 2, 43);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-johto{
  background-color: #5d12A6;
}

.win{
  background-color: #198C19;
}

.loss{
  background-color: #cc0000;
}

.war{
  background-color: #ff62b4;
}


.blue{
  background-color: rgb(4, 4, 87);
}

.bg-night{
  background-color: #000000;
}
.bg-skyblue{
  background-color: #5271FF;
}

.blue-king{
  background-color: rgb(2, 2, 43);
}

  .orange {
	background-color: #E89600;
  }

  .light-orange{
    background-color: #f7ead3;
  }

  .light-white{
    background-color: #fff7e9;
  }


  .gray{
    background-color: #1E1F24;
  }

  .light-blue{
    background-color:  #F0F3FF
  }


  .purple{
    background-color:  #6523B6
  }

  .bg-purple{
    border-radius: 25px 0 0 0;
    background: rgb(101,35,182);
    background: linear-gradient(90deg, rgba(101,35,182,1) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
    margin-bottom: 0;
  }

  .blue-ticket{
    background: rgb(119,52,211);
   
  }
  .bg-white-1{
    background: whitesmoke;
   
  }

  .bg-blue{
    background-color: #5868ff
  }

  .bg-blue-light{
    background: rgb(119,52,211);
    background: linear-gradient(180deg, rgba(119,52,211,1) 0%, rgba(88,104,255,1) 100%);
  }


  .orange-king{
    background: rgb(255,153,46);
  }

  .bg-orange{
    background: #E89600;
  }

  .grSand{
    background: rgb(249,249,249);
    background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(180,180,180,1) 100%);
  }

  // Gradientes
  .grBlue{
    background: rgb(4,4,87);
    background: linear-gradient(0deg, rgba(4,4,87,1) 0%, rgba(2,2,43,1) 80%);
  }

  .grDark{
    background: rgb(4,4,87);
    background: linear-gradient(0deg, rgba(4, 4, 87, 0) 0%, rgba(2,2,43,1) 80%);
  }



  .grGreen{
    background: rgb(0,0,0);  
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,114,61,1) 100%);
  }

  .neon{
    margin-top: 0;
    color: black;
    background-color: white;
    clip-path: polygon(0 0, 93% 0, 100% 10%, 100% 99%, 0 100%);
    border-radius: 0 0 0 25px;
  }

  .rock{
    background-color: rgba(83, 83, 83, 0.425);
  }

   .black{
    background-color: rgba(0, 0, 0, 0.425);
  }


  .nav-link{
    color: white;
  }


  .visa-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 300px;
    height: 180px;
    background-image: radial-gradient(
      circle 897px at 9% 80.3%,
      rgba(55, 60, 245, 1) 0%,
      rgba(234, 161, 15, 0.9) 100.2%
    );
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    gap: 15px;
  }
  .logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
  }
  .svgLogo {
    height: 40px;
    width: auto;
  }
  .inputstyle::placeholder {
    color: #ffffff;
  }
  .inputstyle {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    caret-color: red;
    font-size: 13px;
    height: 25px;
    letter-spacing: 1.5px;
  }
  .number-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  #cardNumber {
    width: 100%;
    height: 25px;
  }
  .name-date-cvv-container {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 10px;
  }
  .name-wrapper {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .expiry-wrapper,
  .cvv-wrapper {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .cvv-wrapper {
    width: 10%;
  }
  #expiry,
  #cvv {
    width: 100%;
  }
  .input-label {
    font-size: 8px;
    letter-spacing: 1.5px;
    color: #e2e2e2;
    width: 100%;
  }
  




  // Card plan
  .plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    max-width: 300px;
  }
  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .titulo {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }
  
  .plan .titulo + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .span {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }  




  .card__container{
    width: 100%;
    min-height: 150px;
    position: relative;
    overflow: hidden
  }


  .card__media{
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
  }

 

  .card__tittle {
    position: absolute;
    right: 10%;
    width: 50%;
    top: 5%;
   
  }



  .card__tittle > h4 {
    text-align: center;
    padding: 15px 0;
    font-style: italic;
    height: 50px;
    font-weight: 900;
    text-transform:uppercase;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }


  .card__background {
    position: absolute;
    text-align: justify;
    font-style: italic;
    padding: 0 15px;
    text-transform:uppercase;
    color: black;
    top: 10%;
    left: 1%;
    right: 0;
    bottom: 0%;
    width: 125px;
    height: 120px;
    border-radius: 20px;
    transform: .5s;  
  }

  .card__background > img{
    position: absolute;
    left: 3px;
    justify-content: center;
  }


  // CARDS
  .card__license{
    width: 100%;
    min-height: 310px;
    position: relative;
    background-color: aqua;
    border-radius: 5px 70px 25px 25px;
    overflow: hidden;
    border: 7px #ffffff solid ;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
    
  }
  
  
  .card__license::before{
    position: absolute;
    width: 100%;
    min-height: 310px;
    border-radius: 5px 70px 25px 25px;
    background-size: 50%;
    background-repeat: repeat;
    background-image: url(/assets/img/square-pattern-30.svg);
    content: "";
  }

  .card__img > img{
    position: absolute;
    justify-content: center;
  
    filter: drop-shadow(4px 8px 10px #000000);
  }
  
  
  
  .card__footer {
    position: absolute;
    text-align: justify;
    font-style: italic;
    padding: 0 15px;
    text-transform:uppercase;
    color: black;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-top: 4px #5a5a5a solid;
    transform: .5s;  
  }

  .card__footer > h4 {
    font-weight: 900;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
  }

  .card__footer:hover {
    cursor: pointer;
    height: 120px;
    transform: .5s;  
  }
  
  
  // CARDS TEAMS GROUP
  .card__team{
    width: 100%;
    min-height: 50px;
    position: relative;
    overflow: hidden;
    background-color: red;
    
  }

  .card__teamCard{
    width: 100%;
    margin: auto;
    right: 5%;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    border-radius: 5px;
    // -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
    // -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
    // box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
  }



  .card__imageTeam {
    position: absolute;
    text-align: justify;
    font-style: italic;
    padding: 0 15px;
    text-transform:uppercase;
    color: black;
    top: 10%;
    left: 1%;
    right: 0;
    bottom: 0%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: .5s;  
  }

  .card__teamName {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center ;
  }



  .card__teamName > p {
    text-align: center;
    font-style: italic;
    height: 50px;
    margin: 0;
    font-weight: 900;
    text-transform:uppercase;
    color: rgb(255, 255, 255);
  }

  .card__imageTeam > img{
    position: absolute;
    left: 0;
    justify-content: center;
    filter: drop-shadow(4px 8px 10px #000000);
  }


  .card__imageTeam::before{
    position: absolute;
    background-size: 50%;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 20px;
    background-repeat: repeat;
    background-image: url(/assets/img/square-pattern-30.svg);
    content: "";
  }


  .league{
    background-color: #0000004f;
    margin-bottom: 10px;
    border-radius: 10px;
  }





 .matchSort{
  font-style: normal;
  margin: 0;
 
}


.matchSort > p{
 margin: 0;
color: #fff;
}

.matchSort > span{
  margin: 0;
  font-weight: 700;
  font-style: normal;
  color: yellow;
  text-transform: uppercase;

 }

.textPromo > h1{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.textPromo > span{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.textPromo > p{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 0;
}


.textIndigo > h1{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;

}

.textIndigo > span{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.textIndigo > p{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}





.cinzel{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.textLeague > h1{

  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;

}

.textLeague > span{

  font-optical-sizing: auto;
  font-style: normal;
}

.textLeague > p{
  
  font-optical-sizing: auto;
  font-style: normal;
}


.steel{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border-radius: 10px;
  padding: 4px;
  background-color: gray;
  color: #fff;
  margin-bottom: 0;
}






.teamList{
  min-height: 40px;
  margin-bottom: 3px;
  padding: 0;
}

.teamIN{
  display: flex;
  justify-content: start;
  align-items: center;

}


.teamIN > p{  
  font-style: normal;
  margin: 0;
  margin-right: 7px;
}
.teamIN > img{
  width: 30px;
  margin-right: 7px;
}


.teamIMG > img{
  width: 100px;
  margin-right: 7px;
}

.CXF > img{
  width: 50px;
  margin-right: 7px;
}


.cardOrange{
  background-color: #0000007e;
  border-radius: 10px;
  padding: 20px 0;

}

.teamIN > span{
  font-weight: 900;
  background-color: white;
  font-style: normal;
  text-align: center;
  border-radius: 10px;
  width: 15px;
  padding: 0 2px;
  margin: 0;
  color: rgb(4, 0, 255);
  font-size: 10px;
}

.playerList{
  min-height: 50px;
  margin-bottom: 3px;
  padding: 10px 20px;
  background-color: #0000006e;
  border-radius: 5px;
}

.playerList>p{
  font-weight: 900;
  font-style: normal;
  margin: 0;
}

.playerIN{
  display: flex;
  justify-content: start;
  align-items: center;
}


.playerIN > p{
  font-weight: 900;
  font-style: normal;
  margin: 0;
  margin-right: 7px;
}
.playerIN > img{
  width: 50px;
  margin-right: 7px;
}

.playerIN > span{
  font-weight: 900;
  font-style: normal;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 0 2px;
  margin: 0;
  color: rgb(4, 0, 255);
  font-size: 10px;
}


.badgeIN > p{
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
 margin: 0;
}

.badgeIN > span > img{
  width: 20px;
}


.teamList> p{
  font-weight: 900;
  font-style: normal;
  margin: 0;
}

.text-orange{ 
  color: #E89600;
}


.themeTeam{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.titleTeam{
  font-family: 'Paladins';
  font-size: 70px;
  color: #000;
  text-align: left;
  -webkit-text-stroke: 3px white;
}


.fontTeam{
  font-family: 'Paladins';
  color: #000;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
  text-align: left;
  line-height: 80%;
}

.navDFS{
  background-color: #930000;
}

.bannerTeam{
  height: 100%;
  padding: 0;
}


.bannerTeam > img{
  width: 400px;
}

.bannerTeam> a > img{
  width: 400px;
}

.bgBlack{
  background-color: black;
}
.bgDFS{
  background: rgb(147,0,0);
  background: linear-gradient(180deg, rgba(147,0,0,1) 0%, rgba(0,0,0,1) 100%);
  
}



  @media only screen and (max-width: 768px) {

 
    
    .teamIMG > img{
      width: 50px;
      margin-right: 7px;
      display: none;
    }



    .textPromo > h1{
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 45px;
    }
  
  }

  
  @media only screen and (max-width: 992px) {
    .card__license{
      width: 100%;
      min-height: 350px;
      position: relative;
      background-color: aqua;
      border-radius: 5px 70px 25px 25px;
      overflow: hidden;
      border: 7px #ffffff solid ;
      -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
      -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
      box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
      
    }

    .neon{
      clip-path: none;
    }
      
    }


    @media only screen and (max-width: 778px) {
      .card__license{
        width: 100%;
        max-height: 200px;
        position: relative;
        background-color: aqua;
        border-radius: 5px 70px 25px 25px;
        overflow: hidden;
        border: 7px #ffffff solid ;
        -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
        -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
        box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.43);
        
      }

      .containerTN {
        width: 90%;
      }
        
      }


      caption {
        padding-top: none;
        padding-bottom: none;
        color: none;
        text-align: center;
      }


      .containerTN {
        
        min-width: 18em;
        margin: 20px auto;
      }

      h1,
      h2 {
        text-align: center;
      }
      h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 2em;
      }
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      .tournament-bracket {
        display: flex;
        flex-direction: column;
      }
      @media (min-width: 38em) {
        .tournament-bracket {
          flex-direction: row;
        }
      }
      .tournament-bracket__round {
        display: block;
        margin-left: -3px;
        flex: 1;
      }
      .tournament-bracket__round-title {
        color: #9e9e9e;
        font-size: 0.95rem;
        font-weight: 400;
        text-align: center;
        font-style: italic;
        margin-bottom: 0.5em;
      }
      .tournament-bracket__list {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        min-height: 100%;
        border-bottom: 1px dashed #e5e5e5;
        padding-left: 0;
        padding-bottom: 2em;
        margin-bottom: 2em;
        transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
      }
      @media (max-width: 24em) {
        .tournament-bracket__list {
          padding-bottom: 1em;
          margin-bottom: 1em;
        }
      }
      @media (min-width: 38em) {
        .tournament-bracket__list {
          margin-bottom: 0;
          padding-bottom: 0;
          border-right: 1px dashed #e5e5e5;
          border-bottom: 0;
        }
      }
      .tournament-bracket__round:last-child .tournament-bracket__list {
        border: 0;
      }
      .tournament-bracket__item {
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 2% 0;
        width: 48%;
        transition: padding 0.2s linear;
      }
      .tournament-bracket__item:nth-child(odd) {
        margin-right: 2%;
      }
      .tournament-bracket__item:nth-child(even) {
        margin-left: 2%;
      }
      .tournament-bracket__item::after {
        transition: width 0.2s linear;
      }
      @media (max-width: 24em) {
        .tournament-bracket__item {
          width: 100%;
        }
        .tournament-bracket__item:nth-child(odd),
        .tournament-bracket__item:nth-child(even) {
          margin-left: 0;
          margin-right: 0;
        }
      }
      @media (min-width: 38em) {
        .tournament-bracket__item {
          padding: 0.5em 1em;
          width: 100%;
        }
        .tournament-bracket__item:nth-child(odd),
        .tournament-bracket__item:nth-child(even) {
          margin: 0;
        }
        .tournament-bracket__item::after {
          position: absolute;
          right: 0;
          content: '';
          display: block;
          width: 1em;
          height: 45%;
          border-right: 2px solid #9e9e9e;
        }
        .tournament-bracket__item:nth-child(odd)::after {
          top: 50%;
          border-top: 2px solid #9e9e9e;
          -webkit-transform: translateY(-1px);
                  transform: translateY(-1px);
        }
        .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
          border-top-right-radius: 0.6em;
        }
        .tournament-bracket__item:nth-child(even)::after {
          bottom: 50%;
          border-bottom: 2px solid #9e9e9e;
          -webkit-transform: translateY(1px);
                  transform: translateY(1px);
        }
        .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
          border-bottom-right-radius: 0.6em;
        }
        .tournament-bracket__round:first-child .tournament-bracket__item {
          padding-left: 0;
        }
        .tournament-bracket__round:last-child .tournament-bracket__item {
          padding-right: 0;
        }
        .tournament-bracket__round:last-child .tournament-bracket__item::after {
          display: none;
        }
        .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
          border-radius: 0;
          border-right: 0;
        }
      }
      @media (min-width: 72em) {
        .tournament-bracket__item {
          padding: 0.5em 1.5em;
        }
        .tournament-bracket__item::after {
          width: 1.5em;
        }
      }
      .tournament-bracket__match {
        display: flex;
        width: 100%;
        background-color: #ffffff;
        padding: 1em;
        border: 1px solid transparent;
        border-radius: 0.1em;
        box-shadow: 0 2px 0 0 #e5e5e5;
        outline: none;
        cursor: pointer;
        transition: padding 0.2s ease-in-out, border 0.2s linear;
      }
      .tournament-bracket__match:focus {
        border-color: #2196F3;
      }
      .tournament-bracket__match::before,
      .tournament-bracket__match::after {
        transition: all 0.2s linear;
      }
      @media (max-width: 24em) {
        .tournament-bracket__match {
          padding: 0.75em 0.5em;
        }
      }
      @media (min-width: 38em) {
        .tournament-bracket__match::before,
        .tournament-bracket__match::after {
          position: absolute;
          left: 0;
          z-index: 1;
          content: '';
          display: block;
          width: 1em;
          height: 10%;
          border-left: 2px solid #9e9e9e;
        }
        .tournament-bracket__match::before {
          bottom: 50%;
          border-bottom: 2px solid #9e9e9e;
          -webkit-transform: translate(0, 1px);
                  transform: translate(0, 1px);
        }
        .tournament-bracket--rounded .tournament-bracket__match::before {
          border-bottom-left-radius: 0.6em;
        }
        .tournament-bracket__match::after {
          top: 50%;
          border-top: 2px solid #9e9e9e;
          -webkit-transform: translate(0, -1px);
                  transform: translate(0, -1px);
        }
        .tournament-bracket--rounded .tournament-bracket__match::after {
          border-top-left-radius: 0.6em;
        }
      }
      @media (min-width: 72em) {
        .tournament-bracket__match::before,
        .tournament-bracket__match::after {
          width: 1.5em;
        }
        .tournament-bracket__match::before {
          -webkit-transform: translate(0, 1px);
                  transform: translate(0, 1px);
        }
        .tournament-bracket__match::after {
          -webkit-transform: translate(0, -1px);
                  transform: translate(0, -1px);
        }
      }
      .tournament-bracket__round:last-child .tournament-bracket__match::before,
      .tournament-bracket__round:last-child .tournament-bracket__match::after {
        border-left: 0;
      }
      .tournament-bracket__round:last-child .tournament-bracket__match::before {
        border-bottom-left-radius: 0;
      }
      .tournament-bracket__round:last-child .tournament-bracket__match::after {
        display: none;
      }
      .tournament-bracket__round:first-child .tournament-bracket__match::before,
      .tournament-bracket__round:first-child .tournament-bracket__match::after {
        display: none;
      }
      .tournament-bracket__content {
        display: flex;
      }
      .tournament-bracket__content::after {
        content: ':';
        width: 1em;
        text-align: center;
        padding: 0.2em 0.1em;
      }
      @media (min-width: 38em) {
        .tournament-bracket__content::after {
          order: 1;
        }
      }
      .tournament-bracket__content .tournament-bracket__team:first-child {
        width: 50%;
        order: 0;
        text-align: right;
      }
      @media (min-width: 38em) and (max-width: 52em) {
        .tournament-bracket__content .tournament-bracket__team:first-child {
          align-items: flex-end;
        }
      }
      .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
        order: 2;
        justify-content: flex-end;
      }
      @media (min-width: 24em) {
        .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
          order: 0;
        }
      }
      @media (min-width: 38em) and (max-width: 52em) {
        .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
          flex-direction: column-reverse;
          align-items: flex-end;
        }
      }
      .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
        order: 0;
      }
      @media (min-width: 24em) {
        .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
          order: 2;
        }
      }
      .tournament-bracket__content .tournament-bracket__team:last-child {
        width: 50%;
        order: 2;
        text-align: left;
      }
      @media (min-width: 38em) and (max-width: 52em) {
        .tournament-bracket__content .tournament-bracket__team:last-child {
          align-items: flex-start;
        }
      }
      @media (min-width: 38em) {
        .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
          justify-content: flex-start;
        }
      }
      @media (min-width: 38em) and (max-width: 52em) {
        .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
          align-items: flex-start;
        }
      }
      .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
        order: 1;
      }
      .tournament-bracket__table {
        width: 100%;
      }
      .tournament-bracket__caption {
        font-size: 0.8rem;
        color: #BDBDBD;
        font-weight: 300;
        padding-bottom: 0.75em;
      }
      .tournament-bracket__team {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      @media (min-width: 24em) {
        .tournament-bracket__team {
          flex-direction: column-reverse;
        }
      }
      @media (min-width: 38em) {
        .tournament-bracket__team {
          flex-direction: column-reverse;
        }
      }
      .tournament-bracket__country {
        font-size: 0.95rem;
        display: flex;
        margin-top: 0.5em;
        align-items: center;
      }
      @media (max-width: 24em) {
        .tournament-bracket__country {
          margin-top: 0;
        }
      }
      @media (min-width: 38em) and (max-width: 52em) {
        .tournament-bracket__country {
          display: flex;
          flex-direction: column;
        }
        .tournament-bracket__country .tournament-bracket__code {
          margin-top: 0.2em;
        }
      }
      .tournament-bracket__code {
        padding: 0 0.5em;
        color: #212121;
        font-weight: 600;
        text-transform: uppercase;
        border: 0;
        text-decoration: none;
        cursor: help;
        transition: padding 0.2s ease-in-out;
      }
      @media (max-width: 24em) {
        .tournament-bracket__code {
          padding: 0 0.25em;
        }
      }
      @media (min-width: 38em) and (max-width: 52em) {
        .tournament-bracket__code {
          padding: 0;
        }
      }
      .tournament-bracket__score {
        display: flex;
        align-items: center;
      }
      .tournament-bracket__team:first-child .tournament-bracket__score {
        flex-direction: row-reverse;
        padding-left: 0.75em;
      }
      .tournament-bracket__team:last-child .tournament-bracket__score {
        padding-right: 0.75em;
      }
      .tournament-bracket__number {
        display: inline-block;
        padding: 0.2em 0.4em 0.2em;
        border-bottom: 0.075em solid transparent;
        font-size: 0.95rem;
        background-color: #F5F5F5;
        border-color: #dddddd;
      }
      .tournament-bracket__team--winner .tournament-bracket__number {
        background-color: #FFF176;
        border-color: #fad674;
      }
      .tournament-bracket__medal {
        padding: 0 0.5em;
      }
      .tournament-bracket__medal--gold {
        color: #FFD700;
      }
      .tournament-bracket__medal--silver {
        color: #C0C0C0;
      }
      .tournament-bracket__medal--bronze {
        color: #CD7F32;
      }
      
  
  

