.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: #ffbe00 !important;
    color: rgb(255, 255, 255) !important

    


}



@media screen and (max-width: 576px) {
    .nav-pills .nav-link,
.show>.nav-pills .nav-link{
  
    padding-left: 0;
    padding-right: 0;

}

  }


.nav-link {
    color: rgb(151, 151, 151) !important
}