.DINASTY {
background: #000866;
background: radial-gradient(circle, rgba(0, 8, 102, 1) 0%, rgba(0, 6, 59, 1) 100%);
}

.PDC {
background: #ff0f0f;
background: radial-gradient(circle, rgba(255, 15, 15, 1) 0%, rgba(229, 13, 14, 1) 100%);
}

.STMN {
  background: rgb(24, 93, 111);
  background: radial-gradient(circle, rgba(24, 93, 111, 1) 0%, rgba(52, 115, 131, 1) 100%);
}

.PLAGA {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 11%, rgba(87, 35, 100, 1) 100%);
}

.ZAFIRO {
  background: rgb(0, 104, 71);
  background: radial-gradient(circle, rgba(0, 104, 71, 1) 0%, rgba(3, 36, 25, 1) 100%);
}

.OBS {
 background: #00964b;
background: radial-gradient(circle, rgba(0, 150, 75, 1) 0%, rgba(45, 104, 74, 1) 100%);
}


.PM {
  background: rgb(68, 76, 247) !important;
  background: radial-gradient(circle, rgba(68, 76, 247, 1) 10%, rgba(0, 0, 168, 1) 90%) !important;
}

.CAPI {
  background: rgb(68, 76, 247) !important;
  background: radial-gradient(circle, rgba(68, 76, 247, 1) 10%, rgba(0, 0, 168, 1) 90%) !important;
}