// Buttons styles converted to SASS

.btn {
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  border-radius: 50px;
  font-size: 1.05rem;
  margin-right: 1rem;
  transition: transform 0.2s ease;
}


%btn-base {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  @include hover-raise-effect(#f0f0f0);
}

// Botón Amarillo (Warning)
.btn-warning-custom {
  @extend %btn-base;
  background-color: #ffd30e;
  color: #000000;
}

.btn-sucess-custom {
  @extend %btn-base;
  background-color: #078a2a;
  color: #e6e6e6;
}


.btn-dark-custom {
  @extend %btn-base;
  background-color: rgba(0, 0, 0, 0.407);
  color: #fff;
  @include button-transition(#2a015d, #fff);
}




$purple: #6f42c1;

.btn-outline-purple {
  color: $purple;
  border-color: $purple;

  &:hover {
    background-color: $purple;
    color: white;
  }
}