.card-ban-license {
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 1rem;
  overflow: hidden;

   @include respond-to(md) {
     height: 70px;
   }

   @include respond-to(sm) {
     height: 60px;
  }

  &::before {
    content: "";
    background-image: url(/assets/mis/square-pattern-30.webp), linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 38%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -800;
    background-size: 140px, auto;
    background-position: center, top;
    overflow: hidden;
    border-radius: 10px;
  }

  .card-ban-pick {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    @include respond-to(md) {
      position: absolute;
      bottom: 0;
      left: 5%;
    }

    img {
      width: 100%;
      margin-bottom: 30px;

      @include respond-to(md) {
        width: 70px;
        margin-bottom: 0;
      }

      @include respond-to(sm) {
        width: 50px;
      }
    }
  }

  .card-round-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff !important;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg,
        rgba(4, 0, 0, 1) 0%,
        rgba(2, 0, 0, 1) 43%,
        rgba(0, 0, 0, 0.8) 64%,
        rgba(0, 0, 0, 0.3) 84%,
        rgba(0, 0, 0, 0) 100%);

    @include respond-to(md) {
      padding: 5px;
      background: none;
      bottom: 20%;
      left: 25%;
      line-height: 1px;
    }

    @include respond-to(sm) {
      bottom: 20%;
      left: 18%;
    }

    h2 {
      margin: 0;
      font-size: 18px;

      @include respond-to(sm) {
        font-size: 16px;
      }
    }

    span {
      margin: 0;
      font-size: 12px;

      // @include respond-to(sm) {
      //   font-size: 10px;
      // }
    }
  }

  .card-back {
    @include full-cover;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-color-left {
    @include full-cover;
    position: absolute;
    z-index: -1000;
  }

  .card-color-right {
    @include clip-box;
    position: absolute;
    width: 60%;
    height: 60%;
    top: -90px;
    right: -70px;
    z-index: 900;
    transform: rotate(45deg);

    @include respond-to(md) {
      width: 65%;
      height: 65%;
      top: -10px;
      right: -75px;
    }

    @include respond-to(sm) {
      width: 50%;
      height: 100%;
      top: -35px;
      right: -30px;
    }
  }

  .card-color-logo {
    @include clip-box;
    position: absolute;
    width: 35px;
    top: 5px;
    right: 5px;
    z-index: 1000;

    @include respond-to(sm) {
      right: 5%;
    }

    img {
      width: 40px;
    }
  }
}
