.banner-promo-section {
  color: rgba(255, 255, 255, 0.887);
  padding: 3rem 0;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 400px;
    z-index: 1;
    transform: rotate(352deg);
  }

  .banner-content {
    position: relative;
    z-index: 2;
  }

  h4 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .timer {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }


}
