---
layout: 
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="orange">


    <nav class="navbar orange">
        <div class="container">
            <span class="navbar-brand mb-0 h1">XFORCE UNITE</span>
        </div>
    </nav>

    <div class="container-fluid banner">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
          <a href="/assets/logos/COPA XFORCE.png" role="button" download="{{ page.title | escape }}.png">
            <img src="/assets/logos/COPA XFORCE.png" class="drop img-fluid" alt="" ">
        </a>
            <div class="textPromo text-white">
                <h1 class=" ms-3 mb-0 ">{{ page.cxf }}</h1>
           
                <span class=" ms-3 ">AGOSTO</span>
              
            </div>
        </div>
    </div>

    <div class="container p-0">
        <div class="containerTN">
            <div class="tournament-bracket tournament-bracket--rounded">                                                     
              <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
                <h3 class="tournament-bracket__round-title text-white">4TOS DE FINAL</h3>
                <ul class="tournament-bracket__list">
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-18">{{page.cxff1}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team "> 
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Canada">{{page.cxf1}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll1}}</span>
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Kazakhstan">{{page.cxf8}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll8}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
          
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-18">{{page.cxff2}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team ">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Czech Republic">{{page.cxf4}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll4}}</span>
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Unitede states of America">{{page.cxf5}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-us" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll5}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-18">{{page.cxff3}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team ">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Finland">{{page.cxf3}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll3}}</span>
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Sweden">{{page.cxf6}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-se" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll6}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
          
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-18">{{page.cxff4}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Russia">{{page.cxf2}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll2}}</span>
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Belarus">{{page.cxf7}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-by" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll7}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tournament-bracket__round tournament-bracket__round--semifinals">
                <h3 class="tournament-bracket__round-title text-white">SEMIFINALES</h3>
                <ul class="tournament-bracket__list">
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-20">{{page.cxff5}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Canada">{{page.cxf9}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll9}}</span>
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team ">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Czech Republic">{{page.cxf10}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll10}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
          
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-20">{{page.cxff6}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Finland">{{page.cxf11}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll11}}</span>
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team ">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Russia">{{page.cxf12}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll12}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tournament-bracket__round tournament-bracket__round--bronze">
                <h3 class="tournament-bracket__round-title text-white">GRAN FINAL</h3>
                <ul class="tournament-bracket__list">
                  <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                      <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                          <time datetime="1998-02-21">{{page.cxff7}}</time>
                        </caption>
                        <thead class="sr-only">
                          <tr>
                            <th>Country</th>
                            <th>Score</th>
                          </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Finland">{{page.cxf13}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll13}}</span>
                              <!-- <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy" aria-label="Bronze medal"></span> -->
                            </td>
                          </tr>
                          <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                              <abbr class="tournament-bracket__code" title="Canada">{{page.cxf14}}</abbr>
                              <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                            </td>
                            <td class="tournament-bracket__score">
                              <span class="tournament-bracket__number">{{page.rll14}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>