---
layout:
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="orange">


    <nav class="navbar orange">
        <div class="container">
            <span class="navbar-brand mb-0 h1">XFORCE UNITE</span>
        </div>
    </nav>

    <div class="container-fluid banner">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
          <a href="{{page.maincover}}" role="button" download="{{ page.title | escape }}.png">
            <img src="{{page.maincover}}" class="drop img-fluid" alt="" ">
        </a>
            <div class="bannerText">
                <h1 class="exo">{{ page.cxf }}</h1>

                <span class=" ms-3 ">AGOSTO</span>

            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">


      {% assign CXF = site.categories.CXF | sort: "puntos"
      | reverse %}
      {%- for post in CXF limit:16-%}
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2  mt-5">
        <section>
          <div class="card__section" style="--color: hsl(0, 0%, 100%);">
            <div class="card__border"></div>
            <div class="card__border-line"></div>
            <div class="card__inner">
              <div class="card__img">
                <div class="img__team">
                  <img src="{{post.maincover}}" alt="{{post.title}}">
                  <!-- <p class="number" style="--color: hsl(0, 0%, 100%);">{{post.liga}}</p> -->
                </div>
                <div class="img__athlete">
                  <a href="{{post.url}}">
                    <img src="{{post.maincover}}" alt="{{post.title}}">
                  </a>

                </div>
              </div>
              <div class="card__text">
                <div class="card__type" style="--bg-color: hsl(40, 9%, 7%); --color: hsl(0, 0%, 100%);">{{post.pj}}</div>
                <h1 class="name" style="--color: hsl(0, 0%, 100%);">{{post.title | truncate: 11}}</h1>
                <p class="points" style="--color: hsl(0, 0%, 100%);">{{post.puntos}} PTS</p>
              </div>
            </div>
          </div>

        </section>
      </div>
      {%- endfor -%}
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>