---
layout:
home: true
---



<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}


<body class="bg-black">

  

  <nav class="navbar top sticky-top bg-black">
    <div class="container d-flex justify-content-between align-items-center">
      <a href="/"><span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span></a>
      <div class="d-none d-md-block">

        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-norte" class="text-white">LI NORTE</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-sur" class="text-white">LI SUR</a></span>
        <!-- <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-sur" class="text-white">LICENCIAS UNITE</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-sur" class="text-white">CONFESIONES</a></span> -->

      </div>
    </div>
  </nav>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>



<!-- <div class="container-fluid banner {{page.gradiente}}">
  <div class="container bannerPromo">
    <a href="/assets/logos/LFT.png" role="button" download="{{ page.title | escape }}.png">
      <img src="/assets/logos/LFT.png" class="drop img-fluid" alt="" ">
    </a>
    <div class="bannerText">
      <span class="exo">CAMPEONES LIGA INDIGO NOV-DIC</span>
      <h1 class="exo-style">LEFTLOVERS</h1>
      <span class="exo">IBU • TRONCIO • BADJUNGLE • BREN • BERNY </span>
    </div>
  </div>
</div> -->


 <section class="splide" aria-label="">
  <div class="splide__track">
		<ul class="splide__list">
      {% assign norte = site.categories.PROMO %}
      {%- for post in norte-%}
      
			<li class="splide__slide">
        {% if post.liga == "PLATINO" %}
         <div class="container-fluid grRed" style="border-radius: 10px;">
           {% elsif post.liga == "ORO" %}
           <div class="container-fluid grGreen" style="border-radius: 10px;">
           {% elsif post.liga == "PLATA" %}
           <div class="container-fluid grBlue" style="border-radius: 10px;">
           {% elsif post.liga == "BRONCE" %}
           <div class="container-fluid grPurple" style="border-radius: 10px;">
           {% else  %}
           <div class="container-fluid bg-black" style="border-radius: 10px;">
            {% endif %}
           <div class="container carousel-match">
              <div class="roundTeam">
                <img src="/assets/logos/{{post.local}}.png" alt="" class="img-fluid">
                <p>{{post.local}}</p>
              </div>
              <div class="roundScore">
                <h1 class="indigo">{{post.liga}}</h1>
                <h3 class="indigo">RONDA  {{post.ronda}}</h3>
                <h3 class="indigo">{{post.fecha}}</h3>
                <h2>VS</h2>
                <h3 class="indigo">{{post.hora}}</h3>
                <a href="https://www.twitch.tv/x_force05" target="_blank"><i class="fa-brands fa-twitch text-white"></i></a>
              </div>
              <div class="roundTeam">
                <img src="/assets/logos/{{post.out}}.png" alt="" class="img-fluid">
                <p>{{post.out}}</p>
              </div>
            </div>
          </div>
    
        </li>
        {%- endfor -%}

		</ul>
  </div>
</section> 

 

<div id="stars1"></div>
<div id="stars2"></div>
<div id="stars3"></div>


  {% include ligas-index.html %}



    <!-- {% include temporada.html %} -->
 

  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title">SIGUE A NUESTROS SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>



  <!-- <div class="container-fluid red-x p-10 mb-5">
    <div class="container">
      <div class="season-banner">


        <div class="season-text">
          <h1 class="exo">1ER ANIVERSARIO</h1>
          <h2 class="exo">5 DE OCTUBRE</h2>
        </div>

        <a href="/dragonfliesgaming.html" target="_blank" class="btn btn-pokemon--red">VER MÁS</a>
        <img src="/assets/logos/XFORCE.png" alt="" class="pick2">
        <h3 class="text-white">EVENTO ESPECIAL</h3>
        <img src="/assets/logos/DFS.png" alt="" class="pick1">
      </div>
    </div>
  </div> -->







 



  {% include navbar-league.html %}



  {% include footer-transparent.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script>
      var splide = new Splide('.splide', {
        type: 'loop',
        autoplay: true,
        interval: '7000',
        perPage: 1,
        pagination: false,
        arrows: false,
        rewind: true,
        height: '50rem',
        breakpoints: {
          1200: {
            perPage: 1,
            gap: '.7rem',
            height: '35rem',
          },
          992: {
            perPage: 1,
            gap: '.7rem',
            height: '25rem',
          },
          768: {
            perPage: 1,
            gap: '.7rem',
            height: '20rem',
          },
          576: {
            perPage: 1,
            gap: '.7rem',
            height: '12rem',
          },
          480: {
            perPage: 1,
            gap: '.1em',
            trimSpace: false,
            height: '10rem',
          },
        },
      });
      splide.mount();
    </script>
    {% include g-analytics.html %}
 






</body>

</html>