---
layout:
home: true
---



<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}


<body class="bg-black">

  <nav class="navbar top sticky-top bg-black">
    <div class="container d-flex justify-content-between align-items-center">
      <a href="/"><span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span></a>
      <div class="d-none d-md-block">
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-platino" class="text-white">LI PLATINO</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-oro" class="text-white">LI ORO</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-plata" class="text-white">LI PLATA</a></span>
        <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo-bronce" class="text-white">LI BRONCE</a></span>
      </div>
    </div>
  </nav>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Transition effect for navbar 
      $(window).scroll(function () {
        // checks if window is scrolled more than 500px, adds/removes solid class
        if ($(this).scrollTop() > 30) {
          $('.top').addClass('white');
        } else {
          $('.top').removeClass('white');
        }
      });
    });
  </script>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% assign norte = site.categories.PROMO %}
      {%- for post in norte-%}
      <div class="carousel-item active">
      
       
     
        <div class="container-fluid  {{post.gradiente}}">
      
          <div class="container carousel-match">
            <div class="roundTeam">
              <img src="/assets/logos/{{post.local}}.png" alt="" class="img-fluid">
              <p>{{post.local}}</p>
            </div>
            <div class="roundScore">
              <h1 class="indigo">{{post.liga}}</h1>
              <h3 class="indigo">{{post.fecha}}</h3>
              <h2>VS</h2>
              <h3 class="indigo">22:30</h3>
              <a href="https://www.twitch.tv/x_force05" target="_blank" class="btn btn-outline-warning">TWITCH</a>

            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{post.out}}.png" alt="" class="img-fluid">
              <p>{{post.out}}</p>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
    <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






  <!-- <div class="container-fluid blue p-10">
    {% include temporada.html %}
  </div> -->

  <div class="container-fluid my-5">
    <div class="container teams-table">
      <h1 class="teams-title">SIGUE A NUESTROS SPONSORS</h1>
      {% include sponsors.html %}
    </div>
  </div>



  <!-- <div class="container-fluid red-x p-10 mb-5">
    <div class="container">
      <div class="season-banner">


        <div class="season-text">
          <h1 class="exo">1ER ANIVERSARIO</h1>
          <h2 class="exo">5 DE OCTUBRE</h2>
        </div>

        <a href="/dragonfliesgaming.html" target="_blank" class="btn btn-pokemon--red">VER MÁS</a>
        <img src="/assets/logos/XFORCE.png" alt="" class="pick2">
        <h3 class="text-white">EVENTO ESPECIAL</h3>
        <img src="/assets/logos/DFS.png" alt="" class="pick1">
      </div>
    </div>
  </div> -->







  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>



  <nav class="navbar bg-black fixed-bottom navbar-light d-block d-md-none">
    <div class="container d-flex justify-content-center align-items-center">
      
      <div class="item-bar">
        <a href="/control-center" >
          <i class="fa-solid fa-trophy"></i>
        <span>LIGAS</span>
        </a>
      </div>

    </div>
  </nav>




  <footer>

       <!-- Copyright - Bootstrap Brain Component -->
       <div class="py-5 py-xl-8 py-xxl-9 bg-black d-none d-md-block">
        <div class="container overflow-hidden">
          <div class="row gy-5 gy-md-0 align-items-md-center">
            <div class="col-xs-12 col-md-7 order-1 order-md-0">
              <div class="copyright text-center text-md-start text-white">
                &copy; 2024.  All Rights Reserved XForce05.
              </div>
              <div class="credits text-warning text-center text-md-start mt-2 fs-8">
               
               #TodosSomosUnite
              </div>
            </div>
    
            <div class="col-xs-12 col-md-5 order-0 order-md-1">
              <div class="social-media-wrapper">
                <ul class="list-unstyled m-0 p-0 d-flex justify-content-center justify-content-md-end">
                  <li class="me-3">
                    <a href="https://www.facebook.com/profile.php?id=100079075191093" class="link-light link-opacity-75-hover" target="_blank">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                  </li>
                  <li class="me-3">
                    <a href="https://www.youtube.com/channel/UCBq7KYCM-cQJFuUImuqTklA" class="link-light link-opacity-75-hover" target="_blank">
                      <i class="fa-brands fa-youtube"></i>
                    </a>
                  </li>
                  <li class="me-3">
                    <a href="https://discord.gg/T6VpvUmn" class="link-light link-opacity-75-hover" target="_blank">
                      <i class="fa-brands fa-discord"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="https://www.twitch.tv/x_force05" class="link-light link-opacity-75-hover" target="_blank">
                      <i class="fa-brands fa-twitch"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script>
      var splide = new Splide('.splide', {
        type: 'loop',
        autoplay: true,
        interval: '7000',
        perPage: 4,
        pagination: false,
        arrows: false,
        rewind: true,
        breakpoints: {
          992: {
            perPage: 2,
            gap: '.7rem',
            height: '10rem',
          },
          768: {
            perPage: 2,
            gap: '.7rem',
            height: '12rem',
          },
          576: {
            perPage: 1,
            gap: '.7rem',
            height: '12rem',
          },
          480: {
            perPage: 1,
            gap: '.7rem',
            height: '7rem',
          },
        },
      });
      splide.mount();
    </script>
    {% include g-analytics.html %}
  </footer>






</body>

</html>