---
layout:
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-home">

  <nav class="navbar top sticky-top indigo-yellow d-none d-lg-block">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>

  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>



      <div class="d-none d-md-block text-white">
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-dashboard" class="text-white">INICIO</a></span>

        {% if page.grupo == "NORTE" %}
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>

        {% elsif page.grupo == "SUR" %}
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        {% else %}
        {% endif %}
      </div>

    </div>
  </nav>


  <div class="container-fluid banner bg-cham d-none d-md-block">
    <div class="container bannerPromo">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
      </a>
      <div class=" bannerText">
        <h1 class="indigo">LIGA INDIGO</h1>
        <span class="indigo">GALAXIA {{page.grupo}}</span>
    </div>
  </div>
  </div>

  <div class="container">



    <div class="d-none d-md-block mt-2">
      {% include tabs-rondas.html %}
    </div>
    {% include rondas-league.html %}
  </div>

  <nav class="container fixed-bottom bg-cham d-block d-md-none">
  {% assign rondas = site.categories.rondas %}
  {%- for post in rondas -%}
  <ul class="nav nav-pills nav-justified my-1" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active1}}" id="pills-1-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                aria-selected="true">1</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active2}}" id="pills-2-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                aria-selected="false">2</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active3}}" id="pills-3-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-3"
                                aria-selected="false">3</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active4}}" id="pills-4-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-4"
                                aria-selected="false">4</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active5}}" id="pills-5-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-5" type="button" role="tab" aria-controls="pills-5"
                                aria-selected="false">5</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active6}}" id="pills-6-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-6" type="button" role="tab" aria-controls="pills-6"
                                aria-selected="false">6</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active7}}" id="pills-7-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-7" type="button" role="tab" aria-controls="pills-7"
                                aria-selected="false">7</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active8}}" id="pills-8-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-8" type="button" role="tab" aria-controls="pills-8"
                                aria-selected="false">8</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active9}}" id="pills-9-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-9" type="button" role="tab" aria-controls="pills-9"
                                aria-selected="false">9</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active10}}" id="pills-10-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-10" type="button" role="tab" aria-controls="pills-10"
                                aria-selected="false">10</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link {{post.active11}}" id="pills-11-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-11" type="button" role="tab" aria-controls="pills-11"
                                aria-selected="false">11</button>
                            </li> -->
  </ul>
  {%- endfor -%}


  <div class="d-flex justify-content-center my-1 align-items-center">
                            {% if page.pag == "LIGA" or page.pag == "MVP" or page.pag == "RONDAS" %}
                            {% assign norte = site.categories.ICONS | sort: "level"  %}
                            {%- for post in norte  -%}
                            <div class="item-bar">
                              {% if post.type == "LIGA" %}
                            <a href="{{page.ligas}}">
                            {% elsif post.type == "MVP" %}
                            <a href="{{page.mvps}}" >
                            {% elsif post.type == "RONDAS" %}
                            <a href="{{page.rondas}}" >
                            {% elsif post.type == "TOURNAMENT" %}
                              {% if page.grupo == "NORTE" %}
                              <a href="/liga-indigo-sur" >
                              {% else %}
                              <a href="/liga-indigo-norte" >
                              {% endif %}
                            {% elsif post.type == "REGLAS" %}
                            <a href="/reglamento-liga-indigo" >
                              {% else %}
                              {% endif %}
                                <i class="ti {{post.icon}}"></i>
                              <span>{{post.name}}</span>
                              </a>
                            </div>
                            {%- endfor -%}
                            
                            {% elsif page.pag == "REGLAS" %}
                            {% assign norte = site.categories.REGLAS | sort: "level"  %}
                            {%- for post in norte  -%}
                            <div class="item-bar">
                            <a href="/reglamento-enero" >
                                <i class="ti {{post.icon}}"></i>
                              <span>{{post.name}}</span>
                              </a>
                            </div>
                            {%- endfor -%}
                            {% else %}
                            {% assign norte = site.categories.HOME | sort: "level"  %}
                            {%- for post in norte  -%}
                            <div class="item-bar">
                            <a href="/control-center" >
                                <i class="ti {{post.icon}}"></i>
                              <span>{{post.name}}</span>
                              </a>
                            </div>
                            {%- endfor -%}
                            {% endif %}
  </div>

  </nav>




  <div class="container teams-table d-none d-md-block" id="home">
                          <h1 class="teams-title m-10">PATROCINADORES</h1>
                          {% include sponsors.html %}
  </div>


  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="d-none d-md-block">
                          {% include footer-transparent.html %}
  </div>



 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                          crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


  {% include g-analytics.html %}
</body>

</html>