---
layout: 
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-home">
  

  <nav class="navbar top sticky-top indigo-yellow d-none d-lg-block">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>
  
  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="/liga-indigo-dashboard">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50px" height="44px">
      </a>

      

      <div class="d-none d-md-block text-white">
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-dashboard" class="text-white">INICIO</a></span>

        {% if page.grupo == "NORTE" %}
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>

        {% elsif page.grupo == "SUR" %}
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        {% else %}
        {% endif %}

        <span class="navbar-brand mb-0 h1"><a href="/reglamento-liga-indigo" class="text-white">REGLAMENTO</a></span>

      </div>
 
    </div>
  </nav>

 

  <div class="container-fluid banner bg-cham d-none d-lg-block">
    <div class="container bannerPromo">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
        <h1 class="indigo">LIGA INDIGO</h1>
        <span class="indigo">GALAXIA {{page.grupo}}</span>
      </div>
    </div>
  </div>

  {% include banner-1st.html %}
 

  <div class="container"  id="home">
    <div class="teams-table">
      <h1 class="teams-title">CAMPEONATO</h1>
    </div>
   
    {% if page.division == "PLATINO" %}
    {% include list-mobile-platino.html %} 
    {% else page.division == "ORO" %}
    {% include list-mobile-oro.html %} 
 
    {% endif %}
  
   <div class="d-none d-lg-block">
    <div class="teams-table" id="rondas">
      <h1 class="teams-title">RONDAS</h1>
    </div>
    <div class="container text-white ">
      {% include tabs-rondas.html %}
      {% include rondas-league.html %}
    </div>
   </div>
    
   <div class="d-none d-lg-block">
    <div class="teams-table" id="mvps">
      <h1 class="teams-title">MVPS</h1>
    </div>
    {% if page.division == "PLATINO" or page.division == "ORO" %}
    {% include mvps-platino.html %}

    <div class="container d-flex justify-content-center align-items-center">
      <a href="/liga-indigo-mvps" class="button-space">
        <span class="main-text">VER MÁS
          <span> 
           <span>→</span> 
          </span>
        </span></a>
    </div>
   </div>
    
    {% endif %}
  </div>


  {% include temporada.html %}


  <div class="container teams-table d-none d-lg-block">  
      <h1 class="teams-title text-center">PATROCINADORES</h1>
      {% include sponsors.html %}
  </div>


  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>


    {% include footer-transparent.html %}


     {% include navbar-league.html %}



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

     {% include g-analytics.html %}


</body>

</html>