---
layout:
permalink: 
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="blue">

  <nav class="navbar top sticky-top bg-black">
    <div class="container d-flex  justify-content-between align-items-center">
      <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
      <div class="d-none d-lg-block">
        <span class="navbar-brand mb-0 h1 text-white"><a href="/reglamento-oct" class="text-white">REGLAMENTO</a></span>
      </div>
    </div>
  </nav>
 
  
  
  <div class="container-fluid banner grBlue">
    <div class="container bannerPromo d-flex flex-cloumn justify-content-start align-items-center">
      
      <a href="{{page.maincover}}" role="button" download="{{ page.title | escape }}.png">
        <img src="{{page.maincover}}" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
        <h1 class="indigo">{{page.team}}</h1>
      </div>
      
    </div>
  </div>
  
  
  
  <div class="container mb-3 mb-5">
    <div class="row text-white">
        </div>
  </div>




  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="d-none d-md-block">

  {% include footer-indigo.html %}
</div> 

<div class="d-block d-md-none ">
  <nav class="navbar fixed-bottom navbar-light {{page.background}}">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="item-bar">
          <a href="/" >
            <i class="fa-solid fa-house"></i>
          <span>INICIO</span>
          </a>
        </div>
       
        
        <div class="item-bar">
          <a href="/control-center" >
            <i class="fa-solid fa-trophy"></i>
          <span>LIGAS</span>
          </a>
        </div>
        <div class="item-bar">
          <a href="/reglamento-oct" >
            <i class="fa-solid fa-bookmark"></i>
          <span>REGLAS</span>
          </a>
        </div>
    
      </div>
    </nav>

</div>

 





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    {% include g-analytics.html %}

</body>

</html>