---
layout: 
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="ice-league">
  

  
  {% include navbar-top.html %}
    
    
 

  <div class="container-fluid banner {{page.gradiente}}">
    <div class="container bannerPromo">
      <a href="/assets/logos/LIGA-INDIGO.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/LIGA-INDIGO.png" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
        <h1 class="indigo">LIGA INDIGO</h1>
        <span class="indigo">GALAXIA {{page.grupo}}</span>
      </div>
    </div>
  </div>


  <div class="container teams-table d-none d-md-block"  id="home">

    <h1 class="teams-title">CAMPEONATO</h1>
    {% if page.division == "PLATINO" %}
    {% include cards-teams-icon-platino.html %}
    {% elsif page.division == "ORO" %}
    {% include cards-teams-icon-oro.html %}
    {% elsif page.division == "PLATA" %}
    {% include cards-teams-icon-plata.html %}
    {% else %}
    {% include cards-teams-icon-bronce.html %}
    {% endif %}
  
    <h1 class="teams-title mt-5 mb-5" id="rondas">RONDAS</h1>
    <div class="container text-white ">
      {% include tabs-rondas.html %}

    {% if page.division == "PLATINO" %}
    {% include rondas-platino.html %}
    {% elsif page.division == "ORO" %}
    {% include rondas-oro.html %}
    {% elsif page.division == "PLATA" %}
    {% include rondas-plata.html %}
    {% else %}
    {% include rondas-bronce.html %}
    {% endif %}
    </div>
    
    <!-- <h1 class="teams-title mt-5 mb-5">MVPS</h1>
    {% if page.division == "PLATINO" %}
    {% include mvps-platino.html %}
    {% elsif page.division == "ORO" %}
    {% include mvps-oro.html %}
    {% elsif page.division == "PLATA" %}
    {% include mvps-plata.html %}
    {% else %}
    {% include mvps-bronce.html %}
    {% endif %} -->


    <!-- <h1 class="teams-title mt-5 mb-5">DIVISIONES</h1>
    {% if page.division == "PLATINO" %}
    {% include division-platino.html %}
    {% elsif page.division == "ORO" %}
    {% include division-oro.html %}
    {% elsif page.division == "PLATA" %}
    {% include division-plata.html %}
    {% else %}
    {% include division-bronce.html %}
    {% endif %} -->
  </div>

  <div class="container text-white d-block d-md-none">
    {% if page.division == "PLATINO" %}
    {% include list-mobile-platino.html %} 
    {% elsif page.division == "ORO" %}
    {% include list-mobile-oro.html %} 
    {% elsif page.division == "PLATA" %}
    {% include list-mobile-plata.html %} 
    {% else %}
    {% include list-mobile-bronce.html %} 
    {% endif %}
    
  </div>


 <!-- <div class="container teams-table">  
    <h1 class="teams-title mt-5 mb-5">FASE FINAL</h1>
    {% include FINALES.html %} 
  </div> 
 -->

    <!-- {% include temporada.html %} -->


  <div class="container teams-table d-none d-md-block">  
      <h1 class="teams-title mt-5 mb-5">PATROCINADORES</h1>
      {% include sponsors.html %}
    </div>

    <div id="zonaNieve">
  
    </div>

  <div class="d-none d-md-block">
    {% include footer-transparent.html %}
</div> 

{% include navbar-league.html %}



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
  $(document).ready(function() {
          // Transition effect for navbar 
          $(window).scroll(function() {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if($(this).scrollTop() > 30 ) { 
                $('.top').addClass('{{page.background-nav}}');
            } else {
                $('.top').removeClass('{{page.background-nav}}');
            }
          });
  });
  </script>

  <script>
    //##--CONFIGURACIÓN--##
//Numero de copos en pantalla
const numCopos = 100;
//Velocidad media de caida
const velocidadCaida = 30;

//##-CODIGO--##

var zonaNieve = document.getElementById('zonaNieve');

var ancho = document.body.clientWidth-10;

window.onresize = function() {
    ancho = document.body.clientWidth-10;
};

function aleatorio(n){
  return Math.floor((Math.random() * n) + 1)
}

function crearCopo () {
  var posicionX = aleatorio(ancho)
  var posicionY = aleatorio(-100)-10;
  var el_copo = document.createElement("div");
  el_copo.className = "copo ";
  el_copo.style.left = posicionX+"px";
  el_copo.style.top = posicionY+"px";
  el_copo.style.animationDelay = aleatorio(velocidadCaida)+"s";
  document.body.appendChild(el_copo);
  return el_copo;
}

//Se almacenan los copos en un array
//por si deseas manipularlos
var copos = [];

for( var i=0; i<numCopos; i++ ){
  copos.push(crearCopo());
}

  </script>


  {% include g-analytics.html %}


</body>

</html>