---
layout: 
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-cham">
  

  
  {% include navbar-top.html %}
    
    
 

  <div class="container-fluid banner {{page.gradiente}}">
    <div class="container bannerPromo">
      <a href="" role="button" >
        <img src="/assets/avatars/{{page.sex}}.webp" class="drop img-fluid" alt="{{post.title}}">
      </a>
      <div class="bannerText">
        <h1 class="indigo">{{page.title}}</h1>
        <span class="indigo">{{page.team}}</span>
      </div>
    </div>
  </div>


  <div class="container teams-table"  id="home">

    <h1 class="teams-title">CAMPEONATO</h1>
      <div class="row">
        {% if page.play1 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j1}}</span>
              {%- endfor -%}
              <p>{{page.no1}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f1}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match1}}.png" alt="" class="img-fluid">
              <p>{{page.match1 | truncate: 8}}</p>
            </div>
            
          </div>
        </div>
        {% else %}
        {% endif %} 


        
        {% if page.play2 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j2}}</span>
              {%- endfor -%}
              <p>{{page.no2}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f2}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match2}}.png" alt="" class="img-fluid">
              <p>{{page.match2 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play3 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j3}}</span>
              {%- endfor -%}
              <p>{{page.no3}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f3}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match3}}.png" alt="" class="img-fluid">
              <p>{{page.match3 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play4 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j4}}</span>
              {%- endfor -%}
              <p>{{page.no4}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f4}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match4}}.png" alt="" class="img-fluid">
              <p>{{page.match4 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 


          
        {% if page.play5 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j5}}</span>
              {%- endfor -%}
              <p>{{page.no5}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f5}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match5}}.png" alt="" class="img-fluid">
              <p>{{page.match5 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 
    
          
        {% if page.play6 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j6}}</span>
              {%- endfor -%}
              <p>{{page.no6}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f6}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match6}}.png" alt="" class="img-fluid">
              <p>{{page.match6 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play7 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j7}}</span>
              {%- endfor -%}
              <p>{{page.no7}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f7}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match7}}.png" alt="" class="img-fluid">
              <p>{{page.match7 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play8 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j8}}</span>
              {%- endfor -%}
              <p>{{page.no8}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f8}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match8}}.png" alt="" class="img-fluid">
              <p>{{page.match8 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play9 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j9}}</span>
              {%- endfor -%}
              <p>{{page.no9}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f9}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match9}}.png" alt="" class="img-fluid">
              <p>{{page.match9 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play10 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j10}}</span>
              {%- endfor -%}
              <p>{{page.no10}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f10}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match10}}.png" alt="" class="img-fluid">
              <p>{{page.match10 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play11 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j11}}</span>
              {%- endfor -%}
              <p>{{page.no11}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f11}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match11}}.png" alt="" class="img-fluid">
              <p>{{page.match11 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 


      </div>
  </div>




    <!-- {% include temporada.html %} -->


  <div class="container teams-table"  id="home">  
      <h1 class="teams-title mt-5 mb-5">PATROCINADORES</h1>
      {% include sponsors.html %}
    </div>


  <div class="d-none d-md-block">
    {% include footer-transparent.html %}
</div> 

{% include navbar-league.html %}



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
  $(document).ready(function() {
          // Transition effect for navbar 
          $(window).scroll(function() {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if($(this).scrollTop() > 30 ) { 
                $('.top').addClass('{{page.background-nav}}');
            } else {
                $('.top').removeClass('{{page.background-nav}}');
            }
          });
  });
  </script>
  {% include g-analytics.html %}


</body>

</html>