---
layout: 
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-home">
  
  <nav class="navbar top sticky-top indigo-yellow d-none d-lg-block">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>
  
  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      

      <div class="d-none d-md-block text-white">
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-dashboard" class="text-white">INICIO</a></span>

        {% if page.grupo == "NORTE" %}
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>

        {% elsif page.grupo == "SUR" %}
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        {% else %}
        {% endif %}
      </div>
 
    </div>
  </nav>


  
  <div class="container-fluid banner_bg_team bg-cham">
    <div class="container banner_team">
      <a href="{{page.url}}">
        <img src="/assets/avatars/{{page.sex}}.webp" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
      <div class="record-line">
        {% if page.ligas.size == 1 %}
        <div class="trofeos">
          <img src="/assets/smalls/LI-TROFEO.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.ligas}}</span>
        </div>
        {% else %}
        {% endif %}
        {% if page.cxf.size == 1 %}
        <div class="trofeos ms-2">
          <img src="/assets/smalls/CXF.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.cxf}}</span>
        </div>
        {% else %}
        {% endif %}
        {% if page.cham.size == 1 %}
        <div class="trofeos ms-2">
          <img src="/assets/smalls/CHAM.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.cham}}</span>
        </div>
        {% else %}
        {% endif %}
      </div>
        <h1 class="exo-style d-none d-md-block">{{page.title}}</h1>
        {% if page.team == "RUBY" or page.team == "PLAT" or page.team == "PEARL" %}
        <span class="exo d-none d-md-block">DFS {{page.team}} ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
        {% elsif page.team == "DARK" or page.team == "FNX" or page.team == "VNM" or page.team == "VOLT"  %}
        <span class="exo d-none d-md-block">RNT {{page.team}} ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
        {% elsif page.team == "E" %}
        <span class="exo d-none d-md-block">AD ENIGMA ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
        {% else %}
        <span class="exo d-none d-md-block">{{page.team}} ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
        {% endif %}
        <div class="region">
          {% if page.pais.size > 1 %}
          <div class="localization">
            <img src="https://flagcdn.com/h20/{{page.pais}}.webp"  alt="REGION: {{page.region}}">
          <span class="ms-2"> {{page.region}}</span>
          </div>
          {% endif %}
          {% include rounds-mvps.html %}
        </div>
      </div>
    </div>
    <div class="container banner-info d-block d-sm-none p-0">
      <h1 class="exo-style">{{page.title}}</h1>
      {% if page.team == "RUBY" or page.team == "PLAT" or page.team == "PEARL" %}
      <span class="exo ">DFS {{page.team}} ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
      {% elsif page.team == "DARK" or page.team == "FNX" or page.team == "VNM" or page.team == "VOLT"  %}
      <span class="exo ">RNT {{page.team}} ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
      {% elsif page.team == "E" %}
      <span class="exo ">AD ENIGMA ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
      {% else %}
      <span class="exo ">{{page.team}} ● LIGA INDIGO ● {{page.MVPS}} MVPS</span>
      {% endif %}

      {% if page.pais.size > 1 %}
      <div class="region">
        <img src="https://flagcdn.com/h20/{{page.pais}}.webp"  alt="REGION: {{page.region}}" class="flag">
        <span class="ms-2"> {{page.region}}</span>
      </div>
      {% endif %}
    </div>

  </div>


  <div class="container-fluid bg-cham d-block d-md-none">
    <div class="container record-mobile bbt">
      {% include rounds-mvps.html %}
  </div>
  </div>



  <div class="container teams-table"  id="home">

    <h1 class="teams-title mt-md-5 mb-md-5">CAMPEONATO</h1>
      <div class="row">
        {% if page.play1 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j1}}</span>
              {%- endfor -%}
              <p>{{page.no1}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f1}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match1}}.png" alt="" class="img-fluid">
              <p>{{page.match1 | truncate: 8}}</p>
            </div>
            
          </div>
        </div>
        {% else %}
        {% endif %} 


        
        {% if page.play2 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j2}}</span>
              {%- endfor -%}
              <p>{{page.no2}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f2}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match2}}.png" alt="" class="img-fluid">
              <p>{{page.match2 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play3 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j3}}</span>
              {%- endfor -%}
              <p>{{page.no3}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f3}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match3}}.png" alt="" class="img-fluid">
              <p>{{page.match3 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play4 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j4}}</span>
              {%- endfor -%}
              <p>{{page.no4}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f4}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match4}}.png" alt="" class="img-fluid">
              <p>{{page.match4 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 


          
        {% if page.play5 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j5}}</span>
              {%- endfor -%}
              <p>{{page.no5}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f5}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match5}}.png" alt="" class="img-fluid">
              <p>{{page.match5 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 
    
          
        {% if page.play6 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j6}}</span>
              {%- endfor -%}
              <p>{{page.no6}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f6}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match6}}.png" alt="" class="img-fluid">
              <p>{{page.match6 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play7 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j7}}</span>
              {%- endfor -%}
              <p>{{page.no7}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f7}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match7}}.png" alt="" class="img-fluid">
              <p>{{page.match7 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play8 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j8}}</span>
              {%- endfor -%}
              <p>{{page.no8}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f8}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match8}}.png" alt="" class="img-fluid">
              <p>{{page.match8 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play9 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j9}}</span>
              {%- endfor -%}
              <p>{{page.no9}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f9}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match9}}.png" alt="" class="img-fluid">
              <p>{{page.match9 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play10 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j10}}</span>
              {%- endfor -%}
              <p>{{page.no10}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f10}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match10}}.png" alt="" class="img-fluid">
              <p>{{page.match10 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 

          
        {% if page.play11 == "SI" %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j11}}</span>
              {%- endfor -%}
              <p>{{page.no11}} MVPS</p>
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.f11}}</span>
              {%- endfor -%}
            </div>
            <div class="roundScore">
              <p>VS</p>
            </div>
            <div class="roundTeam">
              <img src="/assets/logos/{{page.match11}}.png" alt="" class="img-fluid">
              <p>{{page.match11 | truncate: 8}}</p>
            </div>
         
          </div>
        </div>
        {% else %}
        {% endif %} 


      </div>

   <div class="d-none d-md-block">
    <div class="d-flex justify-content-center align-items-center my-3">
      <a href="/liga-indigo-mvps" class="button-space">
        <span class="main-text">REGRESAR 
          <span> 
           <span>⫷</span> 
          </span>
        </span></a>
    </div>
   </div>
  </div>



  <div class="container teams-table mb-5"  id="home">  
      <h1 class="teams-title mt-md-5 mb-md-5">PATROCINADORES</h1>
      {% include sponsors.html %}
    </div>


  <div class="d-none d-md-block">
    {% include footer-transparent.html %}
</div> 

<div class="d-block d-md-none ">
  <nav class="navbar fixed-bottom navbar-light bg-cham mt-5">
      <div class="container d-flex justify-content-center align-items-center">
   
        <div class="item-bar">
        <a href="/liga-indigo-norte">
            <i class="ti ti-sword"></i>
          <span>NORTE</span>
          </a>
        </div>
        <div class="item-bar">
        <a href="/liga-indigo-mvps">
            <i class="ti ti-pokeball"></i>
          <span>MVPS</span>
          </a>
        </div>
        <div class="item-bar">
        <a href="/liga-indigo-sur">
            <i class="ti ti-shield-filled"></i>
          <span>SUR</span>
          </a>
        </div>

      </div>
  </nav>
</div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  {% include g-analytics.html %}


</body>

</html>