---
layout:
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-home">
 <!-- <video class="fondocss" autoplay muted loop >
    <source src="/assets/img/terror.mp4" type="video/mp4">
    </video> -->

    <nav class="navbar top sticky-top indigo-yellow d-none d-lg-block">
      <div class="container d-flex justify-content-center align-items-center text-white">
        <a href="/">
          <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
          </span>
        </a>
      </div>
    </nav>
    
    <nav class="navbar top sticky-top bg-cham">
      <div class="container d-flex justify-content-between align-items-center text-white ">
        <a class="navbar-brand" href="#">
          <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50px" height="44px">
        </a>
  
        
  
        <div class="d-none d-md-block text-white">
          <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-dashboard" class="text-white">INICIO</a></span>
  
          {% if page.grupo == "NORTE" %}
          <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>
  
          {% elsif page.grupo == "SUR" %}
          <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
          {% else %}
          {% endif %}
        </div>
   
      </div>
    </nav>
  




  <div class="container-fluid banner_bg_team bg-cham">
    {% assign LIGA = site.categories.MVPSONLY | sort: "MVPS"
    | reverse %}
    {%- for post in LIGA limit:1 -%}
    <div class="container banner_team">
      <a href="{{post.url}}">
        <img src="/assets/avatars/{{post.sex}}.webp" class="drop img-fluid" alt="" ">
      </a>
      <div class="bannerText">
      <div class="record-line">
        {% if page.ligas.size == 1 %}
        <div class="trofeos">
          <img src="/assets/smalls/LI-TROFEO.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.ligas}}</span>
        </div>
        {% else %}
        {% endif %}
        {% if page.cxf.size == 1 %}
        <div class="trofeos ms-2">
          <img src="/assets/smalls/CXF.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.cxf}}</span>
        </div>
        {% else %}
        {% endif %}
        {% if page.cham.size == 1 %}
        <div class="trofeos ms-2">
          <img src="/assets/smalls/CHAM.webp" alt="LIGA INDIGO TROFEO">
          <span>{{page.cham}}</span>
        </div>
        {% else %}
        {% endif %}
      </div>
        <h1 class="exo-style d-none d-md-block">{{post.title}}</h1>
        <span class="exo d-none d-md-block">{{post.org}} ● {{post.MVPS}} MVPS</span>
        <div class="region">
          <div class="localization">
            <img src="https://flagcdn.com/h20/{{post.pais}}.webp"  alt="REGION: {{post.region}}">
          <span class="ms-2"> {{post.region}}</span>
          </div>
    
        </div>
      </div>
    </div>
    <div class="container banner-info d-block d-sm-none p-0">
      <h1 class="exo-style">{{post.title}}</h1>
      <span class="exo">{{post.org}} ● {{post.MVPS}} MVPS</span>
      <div class="region">
        <img src="https://flagcdn.com/h20/{{post.pais}}.webp"  alt="REGION: {{post.region}}" class="flag">
        <span class="ms-2"> {{post.region}}</span>
      </div>
    </div>

  </div>


  <div class="container-fluid bg-cham d-block d-md-none">
    <div class="container record-mobile bbt">
     
      {%- endfor -%}
  </div>
  </div>


  {% if page.division == "PLATINO" or page.division == "ORO" %}
 <div class="container">
  <div class="teams-table">
    <h1 class="teams-title">CAMPEONATO</h1>
  </div>
 </div>
  {% include mvps-platino.html %}
  {% endif %}





   <!-- <div class="p-10">
    {% include temporada.html %}
   </div> -->

  <div class="container teams-table d-none d-md-block"  id="home">
      <h1 class="teams-title m-10">PATROCINADORES</h1>
      {% include sponsors.html %}
    </div>










  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="d-none d-md-block">
    {% include footer-transparent.html %}
</div>

{% include navbar-league.html %}




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   

{% include g-analytics.html %}
</body>

</html>