<div class="container teams-table"  id="home">

    <h1 class="teams-title">CAMPEONATO</h1>
      <div class="row">
     
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
          <div class="container roundTeams text-white">
            <div class="roundScore">
              {% assign FECHAS = site.categories.FECHA %}
              {%- for post in FECHAS-%}
              <span>{{post.j1}}</span>
              {%- endfor -%}

              {% if page.rec1 == "win" or page.rec1 == "sup" %}
              <p>VICTORIA</p>
              {% elsif page.rec1 == "loss" or page.rec1 == "one" %}
              <p>DERROTA</p>
              {% elsif page.rec1 == "des"  %}
              <p>DESCANSO</p>
              {% else page.rec1 == "rea"  %}
              <p>REAGENDADO</p>
              {% endif %} 

              {% if page.rec1 == "sup" or page.rec1 == "win" or page.rec1 == "one" or page.rec1 == "loss" or page.rec1 == "des" %}
                 {% assign FECHAS = site.categories.FECHA %}
                 {%- for post in FECHAS-%}
                 <span>{{post.f1}}</span>
                 {%- endfor -%}
              {% else %}
                 <span>{{page.F1}}</span>
              {% endif %} 
      

            </div>
            <div class="roundScore">
              {% if page.rec1 == "sup" %}
              <p>2-0</p>
              {% elsif page.rec1 == "win"  %}
              <p>2-1</p>
              {% elsif page.rec1 == "loss"  %}
              <p>0-2</p>
              {% elsif page.rec1 == "one"  %}
              <p>1-2</p>
              {% elsif page.rec1 == "rea"  %}
              <p>VS</p>
              {% elsif page.rec1 == "des"  %}
         
              {% else %}
              <p>VS</p>
              {% endif %} 
            </div>

            <div class="roundTeam">
              {% if page.rec1 == "win" or page.rec1 == "sup" or page.rec1 == "one" or page.rec1 == "loss" or page.rec1 == "rea" %}
              <img src="/assets/logos/{{page.E1}}.png" alt="" class="img-fluid">
              <p>{{page.E1 | truncate: 8}}</p>
              {% else %}
              <img src="/assets/logos/DESCANSO.png" alt="" class="img-fluid">
              {% endif %} 
            </div>
            
          </div>
        </div>
   

      </div>
  </div>
