---
layout:
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="rsl" >
  

    <nav class="navbar ">
        <div class="container d-flex justify-content-between align-items-center">
          <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
          <div class="d-none d-lg-block">
            <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-indigo" class="text-white">INDIGO</a></span>
            <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-johto" class="text-white">JOHTO</a></span>
            <span class="navbar-brand mb-0 h1 text-white"><a href="/liga-naranja" class="text-white">NARANJA</a></span>
           
          </div>
        </div>
      </nav>


    <div class="container-fluid banner">
 
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
          <a href="/assets/logos/BDLF.png" role="button" download="{{ post.title | escape }}.png">
            <img src="{{page.ICONSL}}" class="drop img-fluid" alt="" ">
        </a>
        <div class="textPromo">
          <h1 class="text-white ms-3 mb-0">{{ page.titleSLR }}</h1>
      
    
        </div>
      </div>
  
    </div>

    <div class="container mt-1 mb-3">
        <div class="row text-white G-3">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="gamer-card">
                    <div class="gamer-top">
                        <img src="/assets/mis/circle.png" alt="">
                       <div class="gamer-title">
                        <img src="/assets/mis/POKEBALL.png" alt="">
                        <h4>FORMATO</h4>
                       </div>
                    </div>
                    <div class="gamer-desc">
                        <p>gedsjghbdjkshgjksbdjkgb</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="gamer-cardTeams">
                        <span>INSCRIPCIÓN LIGA JOHTO</span>
                        <p>$150 MXN</p>
                       <p>VIA INVITACIÓN</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="gamer-cardTeams">
                        <span>INSCRIPCIÓN LIGA NARANJA</span>
                        <p>$150 MXN</p>
                       <p>VIA INVITACIÓN</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                    <div class="gamer-cardTeams">
                        <span>INSCRIPCIÓN LIGA AOLA</span>
                        <p>$150 MXN</p>
                       <p>ABIERTO 12 CUPOS</p>
                    </div>
                </div>
            </div>
            
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="gamer-cardTeams">
                            <span>BANS</span>
                            <p>MIRAIDON | MEWTWO X | MEWTWO Y | ZACIAN | HO-OH | FALINKS</p>
                            <p>LICENCIAS UNITES NUEVAS DURANTE EL TORNEO</p>
                        </div>
                    </div>
                </div>
         
       
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="gamer-cardTeams">
                            <span>CLASIFICACION a copa xforce</span>
                            <p>TOP 2 DE CADA LIGA JUEGAN COPA XFORCE ELIMINACIÓN DIRECTA por premio de $1000 mxn</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="gamer-cardTeams">
                            <span>PREMIOS DE LIGA</span>
                            <p>65% DE LA INSCRIPCIÓN</p>
                            <p>15% DE LA INSCRIPCIÓN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="gamer-cardTeams">
                            <span>ASCENSO</span>
                            <p>LOS MEJORES 3 DE CADA LIGA ASCIENDEN A LA SIGUIENTE LIGA:</p>
                            <p>LIGA ALOLA -> LIGA NARANJA</p>
                            <p>LIGA NARANJA -> LIGA JOHTO</p>
                            <p>LIGA JOHTO -> LIGA INDIGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="gamer-cardTeams">
                            <span>descenso</span>
                            <p>LOS últimos 3 DE CADA LIGA descienden</p>
                            <p>LIGA INDIGO -> LIGA JOHTO</p>
                            <p>LIGA JOHTO -> LIGA NARANJA</p>
                            <p>LIGA NARANJA -> LIGA ALOLA</p>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-md-12">
                    <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
                        <div class="gamer-cardTeams">
                            <span>DESCALIFICACIÓN</span>
                            <p>Cualquier conducta antideportiva el equipo en cuestion tendrá un llamado de atención o será descalificado en automático</p>
                            <p>Equipo que abandone la el torneo pasará a tener 0 puntos y los equipos que jugaron con el equipo dado de baja o que falten por jugar tendrán 3pts.</p>
                        </div>
                    </div>
                </div>


           
    <div class="col-12 col-sm-6 col-md-3">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>FORMATO</span>
                <p>LIGA</p>
                <span>ROUND ROBIN</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>ENFRENTAMIENTOS</span>
                <p>Se juegan 3 partidos (No es BO3) contra CADA rival</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>PUNTOS</span>
                <p>CADA PARTIDO GANADO VALE UN 1 punto.</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>NO SE PERMITEN ESPECTADORES</span>
                <p>SOLO BAJO ASIGNACIÓN DEL ADMINistrador</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>Tolerancia</span>
                <p>10 MIN: El tiempo corre una vez entregada la sala. Si el equipo no entra a la sala en tiempo antes mencionado, se le dará win al equipo remiente de la sala</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>MODO TORNEO - SERVIDOR NA05</span>
                <p>NO PERSONALIZADAS</p>
                
                <p>EN CASO DE ENCONTRAR EL SERVIDOR JUGAR EN EL MAS ADECUADO PARA AMBOS equipos</p>
            </div>
        </div>
    </div>
  
 
   
    <div class="col-12 col-sm-6 col-md-6">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>1ST PICK</span>
                <p> serÁ ASIGNADO por el ADMIN para primer MATCH, PARA LOS PARTIDOS RESTANTES 1ST PICK SERÁ EL EQUIPO PERDEDOR</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>CAMPEÓN</span>
                <p>Equipo que tenga mayor cantidad de puntos puntos, en caso de empate se definira en una partida Bo3 para definir el campeón</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-12">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span>agenda</span>
                <p>Cada capitan agendara sus partidos. (En el límite de días asigando por el ADMIN). Los equipos pueden reagendar partido si hay un evento externo mientras todo se avise con 1h de antipación. en caso de ser necesario <b>la liga dará dias adicionaleS para la entrega de partidos</b></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-12">
        <div class="container gamer-card d-flex justify-content-between align-items-center text-left bg-dark">
            <div class="gamer-cardTeams">
                <span class="mb-2">CONEXIÓN STREAM</span>
              
                    <p>El partido no se detendrá una vez iniciado en caso de falla por internet o luz, debido a que es responsabilidad de cada equipo.</p> </li>
                    <p>Durante la fase de <b>DRAFT</b> o <b>PANTALLA DE CARGA</b> se pondrá pausa solo si es anunciado por el capitan al reportar algun detalle </p>
                      <ul>
                         <li> <p>1. EL JUEGO SE CERRO</p></li>
                         <li> <p>2. NO DEJO SELECCIONAR PICK</p> </li>
                      </ul>
                    <p>Será reset base a los mismos picks respetando los bans en caso de que el juego no dejo seleccionar pick porque se cerro. La selección se reanuda donde paso dicho suceso.</p> </li>
              
                </div>
          
            </div>
        
        </div>

               

               
          
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="/assets/js/numbers.js"></script>
</body>

</html>