---
layout:
permalink: 
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-home">

  <nav class="navbar top sticky-top indigo-yellow">
    <div class="container d-flex justify-content-center align-items-center text-white">
      <a href="/">
        <span class=" text-white"><b>LA REPÚBLICA DEL UNITE</b>
        </span>
      </a>
    </div>
  </nav>
  
  <nav class="navbar top sticky-top bg-cham">
    <div class="container d-flex justify-content-between align-items-center text-white ">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/LIGA INDIGO_LOGO.webp" alt="Bootstrap" width="50" height="44">
      </a>

      <div class="d-none d-md-block text-white">

        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-norte" class="text-white">GALAXIA NORTE</a></span>
        <span class="navbar-brand mb-0 h1"><a href="/liga-indigo-sur" class="text-white">GALAXIA SUR</a></span>
        <span class="navbar-brand mb-0 h1"><a href="#online" class="text-white">STREAMS</a></span>
    
      </div>
 
    </div>
  
  </nav>
  
  
  
  <div class="container-fluid banner_bg_team_preview bg-cham">
    <div class="container banner_team_match">
      <a href="/assets/logos/{{page.local}}.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/{{page.local}}.webp" class="drop" alt="" ">
      </a>
      <div class="bannerText  d-none d-md-block"> 
        <h1 class="exo-style">{{page.local}}</h1>
      </div>
      <div class="bannerText d-none d-md-block"> 
        <h1 class="exo-style ">{{page.r1}}</h1>
      </div>
      <div class="bannerText">  
          <span class="exo-style d-none d-md-block">RONDA {{page.ronda}}</span>
          <h1 class="exo-style">VS</h1>
         <div class="d-none d-md-block"> {% include FECHAS.html %}</div>
      </div>
      <div class="bannerText d-none d-md-block"> 
        <h1 class="exo-style ">{{page.r2}}</h1>
      </div>
      <div class="bannerText d-none d-md-block"> 
        <h1 class="exo-style ">{{page.out}}</h1>
      </div>
      <a href="/assets/logos/{{page.out}}.png" role="button" download="{{ page.title | escape }}.png">
        <img src="/assets/logos/{{page.out}}.webp" class="drop" alt="" ">
      </a>
    </div>
    <div class="container banner-info d-block d-sm-none p-0">
      <h1 class="exo-style">{{page.local}} {{page.r1}} - {{page.r2}} {{page.out}}</h1>
      <span>RONDA {{page.ronda}} | {% include FECHAS.html %}</span>
    </div>
  </div>


  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  

  <div class="container teams-table"  id="home">  
    <h1 class="teams-title">INFO DEL PARTIDO</h1>

    <div class="row">
        <div class="col-12 col-lg-8">
          {% if page.stream.size > 1 %}
            <iframe src="https://player.twitch.tv/?video=2378963061&parent=xforceunite.site" frameborder="0" allowfullscreen="true" scrolling="no" height="480px" width="100%"></iframe>
          {% else %}
            <img src="/assets/backgrounds/uniteforzestadium.webp" alt="img-fluid">
          {% endif %}
       
          </div>
        <div class="col-12 col-lg-4">
            <div class="preview-match">
              <h4>PREVIA DEL PARTIDO</h4>
            <div class="preview-match-img">
              <div class="preview-img">
                <img src="/assets/logos/{{page.local}}.webp" alt="">
                <span>{{page.local}}</span>
              </div>
                <span class="purple-one" data-bs-toggle="tooltip" data-bs-placement="top" title="Equipo que empieza el encuentro como 1st PICK en el DRAFT es {{page.local}}">1st PICK</span>
                <div class="preview-img">
                  <img src="/assets/logos/{{page.out}}.webp" alt="">
                  <span class="orange-one">{{page.out}}</span>
                </div>
              </div>

              
              <div class="progress">
                {% include power-bar.html %}
              </div>
              <div class="info-match">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="El porcentaje de victoria se calcula por las participaciones en torneos oficiales y no oficiales"><i class="ti ti-info-circle-filled"></i> % de victoria</span>
              </div>
            </div>
        
            <div class="preview-match ">
              <h4>FORMATO</h4>
              <button class="btn btn-outline-primary rounded-pill mb-3" data-bs-toggle="modal" data-bs-target="#bo3"><i class="ti ti-swords"></i> Bo3</button>
              <button class="btn btn-outline-primary rounded-pill mb-3" data-bs-toggle="modal" data-bs-target="#roster"><i class="ti ti-spy"></i> Roster libre</button>
              <button class="btn btn-outline-primary rounded-pill mb-3" data-bs-toggle="modal" data-bs-target="#torneo"><i class="ti ti-trophy-filled"></i> Modo torneo</button>
            </div>

            <div class="preview-match ">
              <h4>BANS</h4>
              {% assign teams = site.categories.BANS | sort: "title" %}
              {%- for post in teams -%}
              {%- include bans.html -%}
              {%-endfor-%}
            </div>

        
            {% include modals.html %}

        </div>
    </div>
  </div>


  <div class="container">
    <h4>ROSTER/COMPOSICIÓN</h4>
    <div class="match-roster">
      <div class="roster d-none d-lg-block">
        {% include roster-local.html %}
      </div>
      <div class="stadium">
        <div class="map-stadium">
          <img src="/assets/backgrounds/ruinas-celestes.webp" alt="" >
        </div>
        {% include map-roles.html%}
        {% include map-roles-out.html%}
      </div>
      <div class="roster d-none d-lg-block">
        {% include roster-out.html %}
      </div>
    </div>
  </div>


  <div class="container teams-table"  id="home">  
      <h1 class="teams-title text-center">PATROCINADORES</h1>
      {% include sponsors.html %}
    </div>


  <div class="d-none d-md-block">
    {% include footer-transparent.html %}
</div> 

<div class="d-block d-md-none">
  <nav class="navbar fixed-bottom navbar-light bg-cham clip">
      <div class="container d-flex justify-content-center align-items-center">
   
        <div class="item-bar">
        <a href="/liga-indigo-norte">
            <i class="ti ti-sword"></i>
          <span>NORTE</span>
          </a>
        </div>
        <div class="item-bar">
        <a href="/liga-indigo-mvps">
            <i class="ti ti-pokeball"></i>
          <span>MVPS</span>
          </a>
        </div>
        <div class="item-bar">
        <a href="/liga-indigo-sur">
            <i class="ti ti-shield-filled"></i>
          <span>SUR</span>
          </a>
        </div>

      </div>
  </nav>
</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    {% include g-analytics.html %}

</body>

</html>