---
layout: 
permalink: /liga-johto.html
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="blue">


<nav class="navbar blue-king">
    <div class="container">
        <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
    </div>
</nav>


    <div class="container-fluid banner">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
            <img src="{{page.maincover}}" class="drop img-fluid" alt="">
        <h1 class="text-white ms-3">{{ page.title | escape }}</h1>
        </div>
    </div>



<div class="container mt-3">
   
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
