---
layout:
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="{{page.cover}}">


    <nav class="navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
            <div class="">
                <span class="navbar-brand mb-0 h1 text-white "><a href="{{page.route}}" class="text-white"><i
                            class="fa-solid fa-angles-left"></i></a></span>
            </div>
        </div>
    </nav>


    <div class="container-fluid banner">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
            <a href="{{page.maincover}}" role="button" download="{{ page.title | escape }}.png">
                <img src="{{page.maincover}}" class="drop img-fluid" alt="" ">
            </a>
            <div class=" textPromo">
                <div class=" textPromo d-flex justify-content-start align-items-start">
                    <h1 class="text-white mb-0 ms-3 d-block d-md-none">{{page.team | truncate: 11}}</h1>
                    <h1 class="text-white mb-0 ms-3 d-none d-md-block d-lg-none">{{page.team | truncate: 15}}</h1>
                    <h1 class="text-white mb-0 ms-3 d-none d-lg-block d-xl-none">{{page.team | truncate: 22}}</h1>
                    <h1 class="text-white mb-0 ms-3 d-none d-xl-block">{{page.team}}</h1>

                    <!-- <span class="steel ms-3 d-none d-lg-block">{{page.rango}}</span> -->
                </div>
                <p class="text-white ms-3">{{ page.ID}}</p>
                <!-- <span class="steel ms-3 d-block d-lg-none">{{page.rango}}</span> -->
        </div>
    </div>
    </div>

    <div class="container mb-2 d-flex justify-content-between align-items-center  ">


        {% if page.route == "/liga-indigo-platino" %}
        <h1 class="text-white m-0 p-0">LIGA INDIGO</h1>
        {% elsif page.route == "/liga-johto" %}
        <h1 class="text-white m-0 p-0">LIGA JOHTO</h1>
        {% else %}
        <h1 class="text-white m-0 p-0">LIGA NARANJA</h1>
        {% endif %}
        <h1 class="text-white ms-3"><span class="d-none d-md-inline">PJ</span> <b id="partidosJugados"></b> | <b
                id="total"></b> <span class="d-none d-md-inline">pts</span></h1>
    </div>

    <div class="container ">

        <div class="row text-white ">

            <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="container  roundCard {{page.bg1}}">
                    <img src="{{page.IMG1}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                        <h6>{{page.j1}}</h6>
                        <h2>{{page.vs1 | truncate: 9}}</h2>
                        </div>
                        <p>{{page.r1}} - {{page.rr1}}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-4 col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg2}}">
                    <img src="{{page.IMG2}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                    <h6>{{page.j2}}</h6>
                    <h2>{{page.vs2 | truncate: 9}}</h2>
                        </div>
                    <p>{{page.r2}} - {{page.rr2}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg3}}">
                    <img src="{{page.IMG3}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                    <h6>{{page.j3}}</h6>
                    <h2>{{page.vs3 | truncate: 9}}</h2>
                        </div>
                    <p>{{page.r3}} - {{page.rr3}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg4}}">
                    <img src="{{page.IMG4}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                    <h6>{{page.j4}}</h6>
                    <h2>{{page.vs4 | truncate: 9}}</h2>
                        </div>
                    <p>{{page.r4}} - {{page.rr4}}</p>
                </div>
            </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg5}}">
                    <img src="{{page.IMG5}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                    <h6>{{page.j5}}</h6>
                    <h2>{{page.vs5| truncate: 9 }}</h2>
                        </div>
                    <p>{{page.r5}} - {{page.rr5}}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4  col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg6}}">
                    <img src="{{page.IMG6}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                    <h6>{{page.j6}}</h6>
                    <h2>{{page.vs6 | truncate: 9}}</h2>
                        </div>
                    <p>{{page.r6}} - {{page.rr6}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg7}}">
                    <img src="{{page.IMG7}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                    <h6>{{page.j7}}</h6>
                    <h2>{{page.vs7 | truncate: 9}}</h2>
                        </div>
                    <p>{{page.r7}} - {{page.rr7}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4  col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg8}}">
                    <img src="{{page.IMG8}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                        <h6>{{page.j8}}</h6>
                    <h2>{{page.vs8 | truncate: 9}}</h2>
                        </div>
                    <p>{{page.r8}} - {{page.rr8}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3  col-xl-2">
                <div class="container   roundCard {{page.bg9}}">
                    <img src="{{page.IMG9}}" alt="" class="img-fluid">
                    <div class="round">
                        <div class="roundInfo">
                        <h6>STREAM</h6>
                        <h2>{{page.vs9 | truncate: 9}}</h2>
                        </div>
                         <p>{{page.dia}} | {{page.hora}}</p> 
                        <!-- <p>{{page.r9}} - {{page.rr9}}</p> -->
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <!-- <script type="text/javascript">
        var p1 = {{ page.pt1 }}
        var p2 = {{ page.pt2 }}
        var p3 = {{ page.pt3 }}
        var p4 = {{ page.pt4 }}
        var p5 = {{ page.pt5 }}
        var p6 = {{ page.pt6 }}
        var p7 = {{ page.pt7 }}
        var p8 = {{ page.pt8 }}
        var p9 = {{ page.pt9 }}
        var p10 = {{ page.pt10 }}
        var p11 = {{ page.pt11 }}
        var res;
        res = p1 + p2 + p3 + p4 + p5 + p6 + p7 + p8 + p9 + p10 + p11;
        document.getElementById('total').innerHTML = res;
        document.getElementsByClassName('total').innerHTML = res;

        var ptj1 = {{ page.pj1 }}
        var ptj2 = {{ page.pj2 }}
        var ptj3 = {{ page.pj3 }}
        var ptj4 = {{ page.pj4 }}
        var ptj5 = {{ page.pj5 }}
        var ptj6 = {{ page.pj6 }}
        var ptj7 = {{ page.pj7 }}
        var ptj8 = {{ page.pj8 }}
        var ptj9 = {{ page.pj9 }}
        var ptj10 = {{ page.pj10 }}
        var ptj11 = {{ page.pj11 }}
        var sumP;
        sumP = ptj1 + ptj2 + ptj3 + ptj4 + ptj5 + ptj6 + ptj7 + ptj8 + ptj9 + ptj10 + ptj11;
        document.getElementById('partidosJugados').innerHTML = sumP;
        document.getElementsByClassName('partidosJugados').innerHTML = sumP;
    </script> -->

</body>

</html>