---
layout:
---

<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bg-night">


    <nav class="navbar bg-night">
        <div class="container">
            <span class="navbar-brand mb-0 h1 text-white">XFORCE UNITE</span>
        </div>
    </nav>


    <div class="container-fluid banner">
        <div class="container bannerPromo d-flex justify-content-start align-items-center">
            <a href="{{page.maincover}}" role="button" download="{{ page.title | escape }}.png">
                <img src="{{page.maincover}}" class="drop img-fluid" alt="" ">
            </a>
            <div class=" textPromo">
                <h1 class="text-white ms-3 mb-0 d-none d-lg-block">{{page.team}}</h1>
                <h1 class="text-white ms-3 mb-0 d-block d-lg-none">{{ page.ID | escape }}</h1>
                <span class="text-white ms-3 d-none d-lg-block">{{ page.ID | escape }}</span>
                <span class="text-white ms-3 d-block d-lg-none">{{page.team}}</span>
        </div>
    </div>
    </div>



    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg1}}">
                <div class="matchTeams">
                    <p class="text-left ">{{page.p1}}</p>
                    <p class="text-left">{{page.pp1}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left">{{page.r1}}</p>
                    <p class="text-left">{{page.rr1}}</p>
                </div> 
           </div>   
            </div>
       
        
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg2}}">
                <div class="matchTeams">
                    <p class="text-left">{{page.pp2}}</p>
                    <p class="text-left ">{{page.p2}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left">{{page.rr2}}</p>
                    <p class="text-left">{{page.r2}}</p>
                </div> 
           </div>   
            </div>
         
        
        
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg3}}">
                <div class="matchTeams">
                    <p class="text-left ">{{page.p3}}</p>
                    <p class="text-left">{{page.pp3}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left ">{{page.r3}}</p>
                    <p class="text-left">{{page.rr3}}</p>
                </div>
           </div>   
            </div>
      
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg4}}">
                <div class="matchTeams">
                    <p class="text-left">{{page.pp4}}</p>
                    <p class="text-left ">{{page.p4}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left ">{{page.rr4}}</p>
                    <p class="text-left">{{page.r4}}</p>
                </div>
           </div>   
            </div>
         
         
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg5}}">
                <div class="matchTeams">
                    <p class="text-left ">{{page.p5}}</p>
                    <p class="text-left">{{page.pp5}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left ">{{page.r5}}</p>
                    <p class="text-left">{{page.rr5}}</p>
                </div>
           </div>   
            </div>
           
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg11}}">
                <div class="matchTeams">
                    <p class="text-left">{{page.pp11}}</p>
                    <p class="text-left ">{{page.p11}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left">{{page.rr11}}</p>
                    <p class="text-left ">{{page.r11}}</p>
                </div>
           </div>   
            </div>
          
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg7}}">
                <div class="matchTeams">
                    <p class="text-left">{{page.pp7}}</p>
                    <p class="text-left ">{{page.p7}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left">{{page.rr7}}</p>
                    <p class="text-left">{{page.r7}}</p>
                </div> 
           </div>   
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg8}}">
                <div class="matchTeams">
                    <p class="text-left ">{{page.p8}}</p>
                    <p class="text-left">{{page.pp8}}</p>
                </div>
                 <div class="matchTeams">
                    <p class="text-left">{{page.r8}}</p>
                    <p class="text-left">{{page.rr8}}</p>
                </div>
           </div>   
            </div>
        
        
        
           
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg9}}">
                <div class="matchTeams">
                    <p class="text-left">{{page.pp9}}</p>
                    <p class="text-left ">{{page.p9}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left">{{page.rr9}}</p>
                    <p class="text-left">{{page.r9}}</p>
                </div>
           </div>   
            </div>
          
        
        
           
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
            <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg10}}">
                <div class="matchTeams">
                    <p class="text-left">{{page.pp10}}</p>
                    <p class="text-left ">{{page.p10}}</p>
                </div>
                <div class="matchTeams">
                    <p class="text-left">{{page.rr10}}</p>
                    <p class="text-left">{{page.r10}}</p>
                </div>
           </div>   
            </div>
          
            <div class="col-12 col-sm-6 col-md-4 mt-0"> 
                <div class="container match d-flex justify-content-between align-items-center text-left {{page.bg6}}">
                    <div class="matchTeams">
                        <p class="text-left">{{page.p6}}</p>
                        <p class="text-left ">{{page.pp6}}</p>
                    </div>
                    <div class="matchTeams">
                        <p class="text-left">{{page.r6}}</p>
                        <p class="text-left">{{page.rr6}}</p>
                    </div>
                </div>   
                </div>
        
           
        
         
        
            
        
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>