---
layout: 
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="bgBlack ">


    <nav class="navbar navDFS">
        <div class="container">
            <span class="navbar-brand mb-0 h1 text-white"><b>XFORCE UNITE</b></span>
        </div>
    </nav>

    <div class="container-fluid themeTeam bgDFS">

        <div class="container bannerTeam d-flex justify-content-start align-items-center">
            <div >
                <h1 class="pt-5 titleTeam">DRAGONFLIES GAMING</h1>
            </div>
          <a href="/assets/logos/DFS.png" role="button" download="{{ page.title | escape }}.png">
            <img src="/assets/logos/DFS.png" class="drop img-fluid" alt="" ">
        </a>
            
        </div>
    </div>

   <div class="container mt-5">
       <h1 class="fontTeam">NUESTRO ROSTER</h1>
       <div class="containerSlider">
        <!-- SLIDER STARTS HERE -->
        <ul id="autoWidth" class="cs-hidden">
          <!-- SLIDER 1 -->
          <li class="item-a">
            <div class="box">
              <h1>CHAR</h1>
              <img
                src="https://unite.pokemon.com/images/pokemon/aegislash/stat/evolution-3-aegislash.png"
                class="model"
                alt="aegislash"
              />
            
              <div class="details">
                <p>
               
                </p>
              </div>
            </div>
          </li>
  
          <!-- SLIDER 2 -->
          <li class="item-a">
            <div class="box">
              <h1>ALIXEND </h1>
              <img
                src="https://unite.pokemon.com/images/pokemon/talonflame/stat/evolution-3-talonflame.png"
                class="model"
                alt="Talonflame"
              />
           
              <div class="details">
                <p>
                 
                </p>
              </div>
            </div>
          </li>
  
          <!-- SLIDER 2 -->
          <li class="item-a">
            <div class="box">
              <h1>SPECTERNEO</h1>
              <img
                src="https://unite.pokemon.com/images/pokemon/slowbro/stat/evolution-2-slowbro.png"
                class="model"
                alt="Slowbro"
              />
         
              <div class="details">
                <p>
             
                </p>
              </div>
            </div>
          </li>
  
          <!-- SLIDER 3 -->
          <li class="item-a">
            <div class="box">
              <h1>SAMM</h1>
              <img
                src="https://unite.pokemon.com/images/pokemon/wigglytuff/stat/evolution-2-wigglytuff.png"
                class="model"
                alt="W"
              />
        
              <div class="details">
               
              </div>
            </div>
          </li>
  
      
        </ul>
      
    </div>
   </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
    <script src="/assets/js/slider.js"></script>

</body>

</html>