// Top-bar styles converted to SASS
.top-bar {
  padding: 1rem 1.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;


  .top-solar-coins{
         font-size: 24px;
        font-weight: bold;
        color: #ff7300;
  }

  .top-user-info {

    .top-avatar {
      border-radius: 999px;
      border: 2px solid #fff;
      background: rgb(202, 202, 202);
      height: 60px;
      width: 60px;
    }

    .top-block {

      .top-verified{

        display: flex;
        gap: 5px;
         .top-nickname {
        color: #131313;
        margin: 0;
        font-size: 1.5rem;

        @include respond-to(sm) {
          font-size: 1.5rem;

        }
      }

      }
     

      .top-id {
        color: #363636;
      }

    }



  }

  h1 {
    @include respond-to(sm) {
      font-size: 1.5rem;
    }
  }

  .top-icons {
    .btn {
      background: none;
      border: none;
      color: $text-light;
      font-size: 1.3rem;
      margin-left: 0.5rem;
      transition: color 0.2s ease;

      &:hover {
        color: #000;
      }
    }
  }
}

@media (max-width: 992px) {
  .top-bar {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 0;

  }
}