.sponsors-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    img {
        width: 150px;
        height: 150px;


        @include respond-to(md) {
            width: 60px;
            height: 60px;
        }

    }



}