
.exo-style {
  color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 48%, #D7D1EB 60%, #ffffff 84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
  font-family: "Exo 2";
}
